@import "../_globals.less";
@import "_tour.less";

html, body {
  font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size:17px;
  line-height:150%;
}

.inner {
  position:relative;
  margin:0 auto;
  width:680px;
  height:100%;
  padding:0 180px 0 0;
}

.page-header {
  height:95px;

  .inner {
    color:lighten(@lightgrey-type, 12%);
    font-family:OpenSans;
    font-size:35px;

    .logo {
      padding-top:30px;

      a { text-decoration:none; }

      img {
        vertical-align:middle;
        width:130px;
        height:39px;
      }

    }

    .links {
      position:absolute;
      top:36px;
      right:0;
      font-size:15px;

      a {
        color:@lightgrey-type;
        text-decoration:none;
        display:inline-block;
        margin:0 10px;
      }

      a:hover {
        text-decoration:underline;
      }

      a.current {
        color:darken(@lightgrey-type, 14%);
        font-weight:bold;
      }

    }

  }

}

.article-heading {
  width:100%;
  height:210px;
  background-image: url("/assets/images/egerton_ms_73.jpg");
  background-position:center top;
  color:#fff;
  text-shadow: 0 1px 1px rgba(0,0,0,0.35);

  .wrapper {
    padding-top:90px;

    h1 {
      font-family:PTSansNarrow;
      font-weight:normal;
      font-size:50px;
    }

    .sub-title {
      color:@lightblue-type-disabled;
      font-size:19px;
      font-family:OpenSans;
      font-weight:bold;
      line-height:180%;

      .icon {
        font-weight:normal;
        padding:0 0 0 3px;
      }

    }

  }

}

.toc {
  position:absolute;
  top:0;
  right:0;
  font-size:16px;

  ul {
    list-style-type:none;
    padding:0;
    margin:0;
  }

  li {
    padding:5px 0;
  }

  a {
    color:@ocean;
    text-decoration:none;
  }

}

.article {
  padding:20px 0 120px 0;

  h2 {
    padding:35px 0 10px 0;
    font-family:PTSansNarrow;
    color:@ocean;
    font-size:30px;
    font-weight:normal;
  }

  ul {
    margin:0;
  }

  p {
    margin:15px 0;
    padding:0;
  }

  a { color:@lightgrey-type; }
  a:hover { color:@lightgrey-type-hover; }

  blockquote {
    font-family: "Times New Roman", Times, serif;
    padding:10px 15px;
    margin:0;
    background-color:@blueish-white;
    .rounded-corners(2px);
  }

}
