@import "_layout.less";

.inner {
  width:860px;
  padding:0 220px 0 0;
  box-sizing:border-box;
}

.article {

  .toc {
    position:absolute;
    top:0;
    right:0;
    font-size:16px;

    ul {
      list-style-type:none;
      padding:0;
      margin:0;
    }

    li {
      padding:0 0 10px 0;
    }

    a {
      color:@ocean;
      text-decoration:none;
    }

  }

  .tip {
    padding:2px 15px;
    margin-top:20px;
    color:darken(@lightgrey-type, 10%);
    border-left:4px solid @lightgrey-border-darker;
  }

  img {
    max-width:640px;
    border:1px solid @lightgrey-border-darker;
  }

}
