@(username: String, document: models.generated.tables.records.DocumentRecord,
  accessLevel: models.document.DocumentAccessLevel)(implicit webjars: WebJarAssets)
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/document/discussion/index.css")"/>
    <script src="@routes.WebJarAssets.at(webjars.locate("1.12.0/jquery.min.js"))"></script>
  </head>
  <body>
    @views.html.document.iconbar(Some(username), document, accessLevel, "discussion")
    @views.html.document.initTooltips()
  </body>
</html>
