@(
  doc: services.document.ExtendedDocumentMetadata,
  currentUser: Option[services.user.User],
  accessLevel: services.RuntimeAccessLevel
 )(implicit request: RequestHeader, messages: Messages, webJarsUtil: org.webjars.play.WebJarsUtil)
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/document/discussion/index.css")"/>
    @Html(webJarsUtil.script("1.12.0/jquery.min.js"))
  </head>
  <body>
    @views.html.document.iconbar(doc.document, currentUser, accessLevel, "discussion")
  </body>
</html>
