.content .authority-details {

  .error .icon, .success .icon {
    cursor:pointer;
  }

  .fileupload {

    #file_name { width:220px; }

    .btn.add-file {
      display:inline-block;
      width:40px;
      margin:0;
      padding:2px 8px 2px 12px;
    }

  }

}
