@import "../_layout.less";

.content .pane {

  .error .icon {
    cursor:pointer;
  }

  .authority-list {

  }

  .authority-details {

    .fileupload {

      #file_name {
        width:220px;
      }

      #file {

      }

      .btn.add-file {
        display:inline-block;
        width:40px;
        margin:0;
        padding:2px 8px 2px 12px;
      }

    }

  }

  .upload {
    padding:10px;
  }

}
