/.idea
/app/assets/build
/bin
/conf/application.conf
/conf/imprint
/logs
/node_modules
/ops/vagrant/.vagrant
/target
/uploads
**ensime*
pc.stdout.log
.classpath
.project
.settings
.cache-*
**ensime*
pc.stdout.log
recogito.plugins.ner.flair
recogito.plugins.ner.herodotus
recogito.plugins.ner.kima