@(document: models.generated.tables.records.DocumentRecord, fileparts: Seq[models.generated.tables.records.DocumentFilepartRecord], applyNER: Boolean)
<!DOCTYPE html>
<html>
  <head>
    <title>My Recogito - Organize Document</title>
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/myrecogito/upload.css")"/>
    <script src="@routes.Assets.versioned("lib/jquery/jquery.min.js")"></script>
    <script src="@routes.Assets.versioned("lib/jquery-ui/jquery-ui.min.js")"></script>
  </head>
  <body>
    <div id="content">
      <ul id="header-steps">
        <li class="arrow">Enter Metadata</li><li class="arrow">Attach Files</li><li class="active">Import</li>
      </ul>

      <h2>Grab &amp; Drag to Change Order</h2>

      <ul class="fileparts">
        @for(part <- fileparts) {
          <li class="filepart-preview" data-id="@part.getId">
            @part.getTitle

            @if(applyNER) {
              <span class="filepart-ner-progress">
                Annotation
                <span class="filepart-ner-progress-current">...</span>
              </span>
            }
          </li>
        }
      </ul>

      <div id="buttons">
        <a href="@controllers.myrecogito.upload.routes.UploadController.showStep2" class="back btn btn-large btn-blue">Back</a>
        <a href="#" class="next btn btn-large btn-blue">DONE</a>
      </div>
    </div>
    <script>
      jQuery(document).ready(function() {
        @if(applyNER) {
          var docId = @document.getId,

              hasParts = @fileparts.size,

              NER_PROGRESS_SERVICE_URL = '@controllers.myrecogito.upload.routes.UploadController.queryNERProgress(document.getId)',

              pollNERProgress = function() {
                jQuery.getJSON(NER_PROGRESS_SERVICE_URL, function(data) {
                  var workerProgress = data.progress,

                      completedWorkers = jQuery.grep(workerProgress, function(p) {
                        return p.progress == 1.0;
                      }),

                      isComplete = completedWorkers.length === hasParts;

                  jQuery.each(workerProgress, function(idx, p) {
                    var progressSpan =
                          jQuery('li[data-id="' + p.filepart_id + '"] .filepart-ner-progress'),
                        statusSpan =
                          progressSpan.find('.filepart-ner-progress-current');

                    if (p.progress == 1.0) {
                      progressSpan.addClass('completed');
                      statusSpan.html('Completed');
                    } else {
                      statusSpan.html('In Progress...');
                    }
                  });

                  if (!isComplete)
                    setTimeout(pollNERProgress, 1000);
                });
              };

          pollNERProgress();
        }

        jQuery('ul.fileparts').sortable();
        jQuery('ul.fileparts').disableSelection();
      });
    </script>
  </body>
</html>
