@()
<!DOCTYPE html>
<html>
  <head>
    <title>My Recogito - Upload Files</title>
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/myrecogito/upload.css")"/>
    <script src="@routes.Assets.versioned("lib/dropzone/min/dropzone.min.js")"></script>
    <script>
      Dropzone.options.dropzone = {
        clickable: 'li',
        createImageThumbnails: false
      };
    </script>
  </head>
  <body>
    <div id="header">
      <ul id="step-breadcrumbs">
        <li>New Document</li>
        <li class="active">Upload Files</li>
        <li>Organize Document</li>
      </ul>
    </div>

    <div id="content">
      <form action="@controllers.myrecogito.upload.routes.UploadController.processStep2" id="dropzone" class="dropzone">
        <h2>Drag &amp; Drop a File</h2>
        <p>or select an option below</p>

        <ul id="upload-options">
          <li><p class="caption">Add Text</p><p class="formats">Text, Markdown or TEI/XML</p></li>
          <li><p class="caption">Add Image</p></li>
          <li><p class="caption">Add Data</p><p class="formats">CSV</p></li>
        </ul>
      </form>

      <div id="bottom-buttons">
        <a href="@controllers.myrecogito.upload.routes.UploadController.showStep1" class="btn btn-large btn-blue">Back</a>
        <a href="@controllers.myrecogito.upload.routes.UploadController.showStep3" class="btn btn-large btn-blue">Next</a>
      </div>
    </div>
  </body>
</html>
