@(upload: models.generated.tables.records.DocumentRecord, fileparts: Seq[models.generated.tables.records.DocumentFilepartRecord], applyNER: Boolean)
<!DOCTYPE html>
<html>
  <head>
    <title>My Recogito - Organize Document</title>
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/myrecogito/upload.css")"/>
  </head>
  <body>
    <div id="content">
      <ul id="header-steps">
        <li class="arrow">Enter Metadata</li><li class="arrow">Attach Files</li><li class="active">Import</li>
      </ul>

      <p style="height:70px"></p>

      <div id="buttons">
        <a href="@controllers.myrecogito.upload.routes.UploadController.showStep2" class="back btn btn-large btn-blue">Back</a>
        <a href="#" class="next btn btn-large btn-blue">OK</a>
      </div>
    </div>
  </body>
</html>
