@(newDocumentForm: Form[controllers.upload.NewDocumentData], message: Option[String] = None)(implicit messages: Messages)
<!DOCTYPE html>
<html>
  <head>
    <title>My Recogito - Enter Metadata</title>
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/upload/wizard.css")"/>
    <script src="@routes.Assets.versioned("lib/jquery/jquery.min.js")"></script>
  </head>
  <body>
    <div id="content">
      <ul id="header-steps">
        <li class="active arrow">Enter Metadata</li><li class="arrow">Attach Files</li><li>Import</li>
      </ul>

      @helper.form(action = controllers.upload.routes.UploadController.storeDocumentMetadata(), args = 'autocomplete -> "off", 'class -> "step1") {
        <div class="center-column">
          <div class="recommended-fields">
            @helper.inputText(newDocumentForm("title"), args = '_label -> "Title", '_help -> "*")
            @helper.inputText(newDocumentForm("author"), args = '_label -> "Author")
            @helper.inputText(newDocumentForm("date_freeform"), args = '_label -> "Date")
          </div>
          <p class="field-toggle">
            <span class="icon">&#xf078;</span>
            <span class="toggle-label">More Fields</span>
          </p>
          <div class="more-fields">
            @helper.inputText(newDocumentForm("description"), args = '_label -> "Description")
            @helper.inputText(newDocumentForm("source"), args = '_label -> "Source")
            @helper.inputText(newDocumentForm("language"), args = '_label -> "Language")
          </div>
        </div>

        <div id="buttons">
          <div class="buttons-right">
            <a href="@controllers.upload.routes.UploadController.cancelPendingUpload()" class="cancel btn outline">Cancel</a>
            <button type="submit" disabled="true" class="btn">Next</a>
          </div>
        </div>
      }
    </div>
    <script>
      jQuery(document).ready(function() {
            /** NEXT button to skip to next wizard phase **/
        var nextButton = jQuery('button[type=submit]'),

            /** Mandatory title field - disable NEXT button unless filled! **/
            titleField = jQuery('input[name=title]'),

            /** Toggle extra metadata fields **/
            toggleButton = jQuery('.field-toggle'),
            toggleIcon = toggleButton.find('.icon'),
            toggleLabel = toggleButton.find('.toggle-label'),
            extraFields = jQuery('.more-fields'),

            onEditTitle = function() {
              if (titleField.val().trim().length === 0)
                nextButton.prop('disabled', true);
              else
                nextButton.prop('disabled', false);
            },

            onToggle = function() {
              if (extraFields.is(':visible')) {
                toggleIcon.html('&#xf078;');
                toggleLabel.html('More Fields');
              } else {
                toggleIcon.html('&#xf077;');
                toggleLabel.html('Hide Extra Fields');
              }

              extraFields.slideToggle(200);
            };

        /** Set NEXT button initial state... **/
        onEditTitle();

        /** ... and listen to key events on mandatory title field **/
        titleField.keyup(onEditTitle);

        /** Enable toggling **/
        toggleButton.click(onToggle);
      });
    </script>
  </body>
</html>
