/** Visual style common to login and signup forms **/
html {
  min-height:100%;
}

body {
  background-image: url("/assets/images/egerton_ms_73.jpg");
  background-size:cover;
  min-height:100%;
}

form {
  padding-top:15px;

  label, dd.info {
    display:none;
  }

  input[type=text], input[type=password] {
    padding:12px 15px;
    margin:7px 0;
  }

  input:-webkit-autofill {
    -webkit-box-shadow:0 0 0px 1000px white inset;
    -webkit-text-fill-color:#525252 !important;
  }

}
