/** Visual style common to login and signup forms **/
body {
  background-image: url("/assets/images/scratches.jpg");
  background-size: 100% auto;
}

.error-msg {
  color:@login-error-red;
  font-size:15px;
  padding:10px 0 0 0;
}

dl, dd {
  padding:0;
  margin:0;
}

form {
  padding-top:15px;

  input {
    border:0;
  }

  label, dd.info {
    display:none;
  }

  dd.error {
    color:@login-error-red;
    font-size:15px;
    margin-top:-5px;
    padding-bottom:5px;
  }

  input[type=text], input[type=password] {
    box-sizing:border-box;
    color:@login-form-textcolor-grey;
    background-color:@login-form-bg-white;
    padding:12px 15px;
    margin:7px 0;
    font-size:17px;
    font-family:PTSansNarrow;
    letter-spacing:1px;
    outline:none;
    border:1px solid @login-form-border-grey;
  }

  input[type=text]:focus, input[type=password]:focus {
    border-color:@login-form-border-hi-blue;
    box-shadow:0 0 4px 0 @login-form-glow-blue;
  }

  button.btn {
    box-shadow:none;
    cursor:pointer;
  }

}
