@import "login.less";

#content {

  .announcement {
    padding:40px 20px 10px 20px;

    h1 {
      font-family:Merriwheather;
      font-weight:normal;
      font-size:26px;
      padding-bottom:20px;
    }

    a {
      font-size:20px;
      font-family:Merriwheather;
      font-size:20px;
      color:@standard-type;
      text-decoration:none;
      display:block;
      padding-top:30px;
    }

    a:hover {
      text-decoration:underline;
    }

  }

  .btn {
    width:auto;
  }

}
