.share-popup {
  position:absolute;
  width:320px;
  padding:6px 10px 8px 10px;
  margin:-2px 0 0 -10px;
  background-color:@blueish-white;
  border:1px solid darken(@lightgrey-border-darker, 7%);
  font-size:15px;
  .rounded-corners(3px);
  .box-shadow(0, 0, 18px, rgba(0, 0, 0, 0.4));

  .label {
    color:@grey-type;
    display:block;

    .icon {
      position:relative;
      top:1px;
      padding-right:2px;
      font-size:14px;
    }

  }

  .notifier {
    float:right;
    color:@ocean;
  }

  .private-document, .private-document a {
    color:darken(@orange-type, 12%);
  }

  .arrow {
    position:absolute;
    overflow:hidden;
    top:-12px !important;
    left:12px !important;
    width:28px;
    height:12px;
  }

  .arrow::after {
    content:'';
    position:absolute;
    width:18px;
    height:18px;
    top:5px !important;
    left:5px !important;
    .rotate(45deg);
    .box-shadow(2px, 2px, 12px, rgba(0, 0, 0, 0.3));
    background-color:@blueish-white !important;
    border:1px solid darken(@lightgrey-border-darker, 4%);
  }

  input {
    font-size:12px;
    font-family:Consolas, "Liberation Mono", Menlo, Courier, monospace;
    margin:1px 0 4px 0;
    padding:5px 6px 3px 6px;
    background-color:@blueish-white-hi;
    width:320px;
    .rounded-corners(2px);
    border:1px solid darken(@lightgrey-border-darker, 4%);
    box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.075);
    letter-spacing:normal;
  }

}
