@(
  announcementId: java.util.UUID,
  content: String,
  destination: String
)
<!DOCTYPE html>
<html>
  <head>
    <title>Recogito | Service Announcement</title>
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/landing/announcement.css")"/>
  </head>
  <body>
    <div id="content">
      <div class="announcement">@Html(content)</div>
      <p>
        <a class="btn" href="@controllers.landing.routes.LoginLogoutController.confirmServiceAnnouncement(announcementId, "OK", Some(destination))">Continue</a>
      </p>
    </div>
  </body>
</html>
