@()(implicit request: RequestHeader, webjars: WebJarAssets)
<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to Recogito</title>
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@@pelagiosproject" />
    <meta property="og:title" content="Recogito - Now Open for Beta Testing!" />
    <meta name="twitter:title" content="Recogito - Now Open for Beta Testing!" />
    <meta property="og:description" content="Create maps from text. Annotate images. Connect your research to other data on the Web and make it more open, visible and re-usable. Without the need to become a Semantic Web expert." />
    <meta name="twitter:description" content="Create maps from text. Annotate images. Connect your research to other data on the Web and make it more open, visible and re-usable. Without the need to become a Semantic Web expert." />
    <meta property="og:image" content="@routes.Assets.versioned("images/logo_sq_240px.png").absoluteURL" />
    <meta property="og:image:width" content="240" />
    <meta property="og:image:height" content="240" />
    <meta name="twitter:image" content="@routes.Assets.versioned("images/logo_sq_240px.png").absoluteURL" />
    <meta property="og:url" content="@controllers.landing.routes.LandingController.index.absoluteURL" />
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/landing/index.css")"/>
    <link rel="apple-touch-icon" sizes="57x57" href="@routes.Assets.versioned("images/touch-icon-iphone-114.png")" />
    <link rel="apple-touch-icon" sizes="114x114" href="@routes.Assets.versioned("images/touch-icon-iphone-114.png")" />
    <link rel="apple-touch-icon" sizes="72x72" href="@routes.Assets.versioned("images/touch-icon-ipad-144.png")" />
    <link rel="apple-touch-icon" sizes="144x144" href="@routes.Assets.versioned("images/touch-icon-ipad-144.png")" />
    <script src="@routes.WebJarAssets.at(webjars.locate("1.12.0/jquery.min.js"))"></script>
    <script src="@routes.WebJarAssets.at(webjars.locate("require.min.js"))" data-main="@routes.Assets.versioned("javascripts/landing/index.js")"></script>
  </head>
  <body>
    <div class="header">
      <div class="inner">
        <span class="logo">
          <img class="logo-recogito" src="@routes.Assets.versioned("images/logo-recogito.png")">
          <a href="http://commons.pelagios.org" target="_blank">
            <img class="logo-commons" src="@routes.Assets.versioned("images/logo-commons.png")">
          </a>
        </span>

        <span class="links">
          <a href="@controllers.help.routes.HelpController.showTutorial()">Tutorial</a>
        </span>

        <span class="header-buttons">
          <a href="@controllers.landing.routes.LoginLogoutController.showLoginForm(None)" class="btn outline">Log In</a>
        </span>
      </div>
    </div>

    <div class="jumbotron">
      <div class="inner">
        <div class="jumbotron-left">
          <h2>Linked Data annotation</br>without the pointy brackets</h2>
          <p>
            Create maps from text. Annotate images. Connect your
            research to other data on the Web and make it more open, visible
            and re-usable. Without the need to become a Semantic Web expert.
          </p>
          <a href="@controllers.help.routes.HelpController.showTutorial()">Learn More</a>
        </div> <!-- jumbotron-left -->

        <div class="jumbotron-right">
          <form action="/signup" method="POST" autocomplete="off">
            <dl id="username_field">
              <dd>
                <input type="text" id="username" name="username" placeholder="Pick a username" autocomplete="off"/>
              </dd>
            </dl>

            <dl id="email_field">
              <dd>
                <input type="text" id="email" name="email"placeholder="Your email address" autocomplete="off"/>
              </dd>
            </dl>

            <dl id="password_field">
              <dd>
                <input type="password" id="password" name="password" placeholder="Create a password" autocomplete="off"/>
              </dd>
            </dl>

            <button type="submit" class="btn">Register for Recogito</button>

            <p class="disclaimer">
              By signing up, you confirm that you have read and agree to our
              <a href="@controllers.landing.routes.SignupController.showSignupForm">Terms and Conditions of Use</a>.
            </p>
          </form>
        </div> <!-- jumbotron-right -->
      </div> <!-- jumbotron-inner -->
    </div> <!-- jumbotron -->

    <div class="featurette inner">
      <div class="columns">
        <div class="one-quarter column">
          <h3>Recogito is Open for Testing!</h3>
        </div>
        <div class="three-quarters column">
          <p>
            Welcome to our new version of Recogito! We just launched this service in December and
            hope you will find it a useful and fun tool. We appreciate your feedback, bug reports,
            feature ideas, etc. Please get in touch via the
            <a href="http://commons.pelagios.org/groups/recogito-users/">Recogito Users Group</a>
            or <a href="https://github.com/pelagios/recogito2">GitHub</a>.
          </p>
        </div>
      </div>
    </div>

    <div class="tile-block columns">
      <div class="inner">
        <div class="column one-quarter tile">
          <div class="outline-icon">&#xe864;</div>
          <h3>Shared Collections</h3>
          <p>
            Upload texts and images. Build your own collections.
            Invite others to collaborate.
          </p>
        </div>

        <div class="column one-quarter tile">
          <div class="outline-icon">&#xe83d;</div>
          <h3>Collaborative Annotation</h3>
          <p>
            Create notes. Tag. Discuss. Recogito
            tracks provenance and maintains
            version history.
          </p>
        </div>

        <div class="column one-quarter tile">
          <div class="outline-icon">&#xe828;</div>
          <h3>Semantics Included</h3>
          <p>
            Tag places and persons with controlled vocabularies
            easily with built-in support features.
          </p>
        </div>

        <div class="column one-quarter tile">
          <div class="outline-icon">&#xe8bd;</div>
          <h3>Open Data</h3>
          <p>
            Show the results of your work on the Web. Publish your
            data as Linked Open Data.
          </p>
        </div>
      </div>
    </div>

    <div class="recogito-rightnow">
      <div class="rn-title">
        <span class="outline-icon">&#xe87f;</span>
        <h2>Recogito Right Now</h2>
      </div>

      <div class="rn-widget">
        <div class="rn-segment annotations">
          <h3>&nbsp;</h3>
          <p>Annotations</p>
        </div>

        <div class="rn-segment edits">
          <h3>&nbsp;</h3>
          <p>Edits last 24hrs</p>
        </div>

        <div class="rn-segment users">
          <h3>&nbsp;</h3>
          <p>Users</p>
        </div>
      </div>
    </div>

    <div class="partner-logos">
      <div class="inner">
        <a href="http://www.ait.ac.at/" target="_blank" title="AIT Austrian Institute of Technology">
          <img class="ait" src="@routes.Assets.versioned("images/logo-ait.jpg")">
        </a><!--

        --><a href="http://www.lancaster.ac.uk/" target="_blank" title="Lancaster University">
          <img class="lancaster" src="@routes.Assets.versioned("images/logo-lancaster.jpg")">
        </a><!--

        --><a href="http://www.open.ac.uk/" target="_blank" title="The Open University">
          <img class="ou" src="@routes.Assets.versioned("images/logo-ou.jpg")">
        </a><!--

        --><a href="http://www.iec.cat/" target="_blank" title="Institut d'Estudis Catalans">
          <img class="iec" src="@routes.Assets.versioned("images/logo-iec.jpg")">
        </a><!--

        --><a href="http://mellon.org/" target="_blank" title="The Andew W. Mellon Foundation">
          <img class="mellon" src="@routes.Assets.versioned("images/logo-mellon.jpg")">
        </a>
      </div>
    </div>

    <div class="footer">
      <div class="inner">
        <div class="developed-by">
          Open Source Software by the <a href="http://www.ait.ac.at" target="_blank">Austrian Institute of Technology</a>,
          <a href="http://www.lancaster.ac.uk/" target="_blank">Lancaster University</a>,
          <a href="http://www.open.ac.uk/" target="_blank">The Open University</a> and the
          <a href="http://www.iec.cat/" target="_blank">Institut d'Estudis Catalans</a>. Funded by the <a href="http://www.mellon.org">Andrew W. Mellon Foundation</a>.
          <br/>
          <span class="icon">&#xf09b;</span> Visit us on <a href="http://github.com/pelagios/recogito2" target="_blank">GitHub</a> &nbsp;
          <span class="icon">&#xf099;</span> Follow us on <a href="http://twitter.com/pelagiosproject" target="_blank">Twitter</a>
        </div>

        <div class="logo">
          <a href="http://commons.pelagios.org" target="_blank">
            <img src="@routes.Assets.versioned("images/logo-commons-white.png")">
          </a>
        </div>
      </div>
    </div>
    @helper.javascriptRouter("jsRoutes")(
      controllers.landing.routes.javascript.LandingController.getStats
    )
  </body>
</html>
