@()(implicit request: RequestHeader, messages: Messages, webJarsUtil: org.webjars.play.WebJarsUtil)
<!DOCTYPE html>
<html>
  <head>
    <title>@messages("landing.index.page_title")</title>
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@@pelagiosproject" />
    <meta property="og:title" content="Semantic Annotation without the pointy brackets" />
    <meta name="twitter:title" content="Semantic Annotation without the pointy brackets" />
    <meta property="og:description" content="Work on texts and images. Identify and mark named entities. Use your data in other tools or connect to other data on the Web. Without the need to learn code." />
    <meta name="twitter:description" content="Work on texts and images. Identify and mark named entities. Use your data in other tools or connect to other data on the Web. Without the need to learn code." />
    <meta property="og:image" content="@routes.Assets.versioned("images/logo_sq_240px.png").absoluteURL" />
    <meta property="og:image:width" content="240" />
    <meta property="og:image:height" content="240" />
    <meta name="twitter:image" content="@routes.Assets.versioned("images/logo_sq_240px.png").absoluteURL" />
    <meta property="og:url" content="@controllers.landing.routes.LandingController.index.absoluteURL" />
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/landing/index.css")"/>
    <link rel="apple-touch-icon" sizes="57x57" href="@routes.Assets.versioned("images/touch-icon-iphone-114.png")" />
    <link rel="apple-touch-icon" sizes="114x114" href="@routes.Assets.versioned("images/touch-icon-iphone-114.png")" />
    <link rel="apple-touch-icon" sizes="72x72" href="@routes.Assets.versioned("images/touch-icon-ipad-144.png")" />
    <link rel="apple-touch-icon" sizes="144x144" href="@routes.Assets.versioned("images/touch-icon-ipad-144.png")" />
    @Html(webJarsUtil.css("slick.css"))
    @Html(webJarsUtil.css("slick-theme.css"))
    @Html(webJarsUtil.css("cookieconsent.min.css"))
    @Html(webJarsUtil.script("1.12.0/jquery.min.js"))
    @Html(webJarsUtil.script("slick.min.js"))
    @Html(webJarsUtil.script("cookieconsent.min.js"))
    @Html(webJarsUtil.requireJs(routes.Assets.versioned("javascripts/landing/index.js")))
  </head>
  <body class="lang-@messages.lang.code">
    <div class="header">
      <div class="inner">
        <span class="logo">
          <img class="logo-recogito" src="@routes.Assets.versioned("images/logo-recogito.png")">
          <a href="http://commons.pelagios.org" target="_blank">
            <img class="logo-commons" src="@routes.Assets.versioned("images/logo-commons.png")">
          </a>
        </span>

        <span class="links">
          <a href="@controllers.help.routes.HelpController.showTutorial()">
            @messages("landing.index.header.link.tutorial")
          </a>

          <a href="@controllers.help.routes.HelpController.showAbout()">
            @messages("landing.index.header.link.about")
          </a>

          <a class="btn outline login" href="@controllers.landing.routes.LoginLogoutController.showLoginForm(None)">
            @messages("landing.index.header.link.login")
          </a>
        </span>
      </div>
    </div>

    <div class="jumbotron"@views.html.dir(messages.lang)>
      <div class="inner">
        <div class="jumbotron-left">
          <h2>
            @messages("landing.index.jumbotron.tagline.1")</br>
            @messages("landing.index.jumbotron.tagline.2")
          </h2>
          <p>
            @messages("landing.index.jumbotron.blurb")
          </p>
          <a href="@controllers.help.routes.HelpController.showTutorial()">
            @messages("landing.index.jumbotron.learn_more")
          </a>
        </div> <!-- jumbotron-left -->

        <div class="jumbotron-right">
          <form action="/signup" method="POST" autocomplete="off">
            <dl id="username_field">
              <dd>
                <input type="text" id="username" name="username" autocomplete="off"
                  placeholder="@messages("landing.index.registration_form.placeholder.username")" />
              </dd>
            </dl>

            <dl id="email_field">
              <dd>
                <input type="text" id="email" name="email" autocomplete="off"
                  placeholder="@messages("landing.index.registration_form.placeholder.email")"/>
              </dd>
            </dl>

            <dl id="password_field">
              <dd>
                <input type="password" id="password" name="password" autocomplete="off"
                  placeholder="@messages("landing.index.registration_form.placeholder.password")"/>
              </dd>
            </dl>

            <button type="submit" class="btn">
              @messages("landing.index.registration_form.placeholder.register")
            </button>

            <p class="disclaimer">
              <input type="checkbox" id="agreeTos" name="agreeTos" value="true"/>
              <label for="agreeTos">
                @Html(messages("landing.index.registration_form.disclaimer.text", controllers.landing.routes.SignupController.showSignupForm))
              </label>
            </p>
          </form>
        </div> <!-- jumbotron-right -->
      </div> <!-- jumbotron-inner -->
    </div> <!-- jumbotron -->

    <div class="featurette inner">
      <div class="columns">
        <div class="one-third column" style="text-align:right; padding-top:28px;">
          <a class="btn orange huge" href="https://docs.google.com/forms/d/e/1FAIpQLScNN2BL60pwHkh-OFZZh2BsSdF6hRXUnjB6Ewb06fdqcTXiWg/viewform" target="_blank">
            Take our Survey
          </a>
        </div>

        <div class="two-thirds column">
          <h3>Have a few moments?</h3>
          We have created a short survey to find out more about our community -
          and we would love to hear your thoughts!
        </div>
      </div>
    </div>

    <!-- div class="featurette inner"@views.html.dir(messages.lang)>
      <div class="columns">
        <div class="one-quarter column">
          <h3>
            @Html(messages("landing.index.news.title"))<br/>
            @Html(messages("landing.index.news.subtitle"))
          </h3>
        </div>
        <div class="three-quarters column">
          <p>
            @Html(messages("landing.index.news.text"))
          </p>
        </div>
      </div>
    </div -->

    <div class="tile-block columns">
      <div class="inner">
        <div class="column one-quarter tile">
          <div class="outline-icon">&#xe864;</div>
          <h3>@messages("landing.index.tiles.1.title")</h3>
          <p>@messages("landing.index.tiles.1.text")</p>
        </div>

        <div class="column one-quarter tile">
          <div class="outline-icon">&#xe83d;</div>
          <h3>@messages("landing.index.tiles.2.title")</h3>
          <p>@messages("landing.index.tiles.2.text")</p>
        </div>

        <div class="column one-quarter tile">
          <div class="outline-icon">&#xe828;</div>
          <h3>@messages("landing.index.tiles.3.title")</h3>
          <p>@messages("landing.index.tiles.3.text")</p>
        </div>

        <div class="column one-quarter tile">
          <div class="outline-icon">&#xe8bd;</div>
          <h3>@messages("landing.index.tiles.4.title")</h3>
          <p>@messages("landing.index.tiles.4.text")</p>
        </div>
      </div>
    </div>

    <div class="recogito-rightnow">
      <div class="rn-title">
        <span class="outline-icon">&#xe87f;</span>
        <h2>@messages("landing.index.right_now")</h2>
      </div>

      <div class="rn-widget">
        <div class="rn-segment annotations">
          <h3>&nbsp;</h3>
          <p>@messages("common.annotations")</p>
        </div>

        <div class="rn-segment edits">
          <h3>&nbsp;</h3>
          <p>@messages("landing.index.edits_last_24hrs")</p>
        </div>

        <div class="rn-segment users">
          <h3>&nbsp;</h3>
          <p>@messages("common.users")</p>
        </div>
      </div>
    </div>

    <div class="testimonials">
      <div class="inner">
        <div class="testimonial">
          <div class="aligner">
            <span class="quote">Recogito has helped me to work comparatively across a larger number
              of texts and maps. I found that the annotation of each individual place in a text could
              be quite eye-opening.</span>

            <span class="by">
              Marianne O'Doherty
              <span class="affiliation">University of Southampton</span>
            </span>
          </div>
        </div>

        <div class="testimonial">
          <div class="aligner">
            <span class="quote">The tools available from Pelagios Commons do almost all the technical stuff
              for you, you just bring in the skills from your field which the computer does not have. <!--- in my
              Case this was medieval palaeography and a deep knowledge of mappaemundi. --> The possibilities for
              humanities scholars from all fields to contribute to Pelagios Commons are boundless.</span>

            <span class="by">
              Catherine Crossley
              <span class="affiliation">The British Library</span>
            </span>
          </div>
        </div>

        <div class="testimonial">
          <div class="aligner">
            <span class="quote">For my team, Recogito allows us to see and prove things that our
              intuition as readers tells us, but that are hard to demonstrate.</span>

            <span class="by">
              Jesse W. Torgerson
              <span class="affiliation">Wesleyan University</span>
            </span>
          </div>
        </div>

        <div class="testimonial">
          <div class="aligner">
            <span class="quote">I often use Recogito as an initial platform that we start with
              and can come back to as our homebase, before going outward to other platforms.</span>

            <span class="by">
              Sarah Bond
              <span class="affiliation">University of Iowa</span>
            </span>
          </div>
        </div>

        <div class="testimonial">
          <div class="aligner">
            <span class="quote">Whatever your field, come on in, the water’s lovely!</span>

            <span class="by">
              Catherine Crossley
              <span class="affiliation">The British Library</span>
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="partner-logos">
      <div class="inner">
        <a href="http://www.ait.ac.at/" target="_blank" title="AIT Austrian Institute of Technology">
          <img class="ait" src="@routes.Assets.versioned("images/logo-ait.jpg")">
        </a><!--

        --><a href="http://www.exeter.ac.uk/" target="_blank" title="Exeter University">
          <img class="exeter" src="@routes.Assets.versioned("images/logo-exeter.jpg")">
        </a><!--

        --><a href="http://www.hiig.de" target="_blank" title="Humboldt Institute for Internet and Society">
          <img class="hiig" src="@routes.Assets.versioned("images/logo-hiig.jpg")">
        </a><!--

        --><a href="http://www.open.ac.uk/" target="_blank" title="The Open University">
          <img class="ou" src="@routes.Assets.versioned("images/logo-ou.jpg")">
        </a><!--

        --><a href="http://mellon.org/" target="_blank" title="The Andew W. Mellon Foundation">
          <img class="mellon" src="@routes.Assets.versioned("images/logo-mellon.jpg")">
        </a>
      </div>
    </div>

    <div class="footer">
      <div class="inner">
        <div class="developed-by">
          @Html(messages("landing.index.about",
            "http://www.ait.ac.at",
            "http://www.exeter.ac.uk",
            "http://www.hiig.de",
            "http://www.open.ac.uk",
            "http://london.ac.uk",
            "http://mellon.org/"))

          @Html(messages("landing.index.visit_us",
            "&#xf09b",
            "http://github.com/pelagios/recogito2",
            "&#xf099;",
            "http://twitter.com/pelagiosproject"))
        </div>

        <div class="logo">
          <a href="http://commons.pelagios.org" target="_blank">
            <img src="@routes.Assets.versioned("images/logo-commons-white.png")">
          </a>
        </div>
      </div>
    </div>
    @helper.javascriptRouter("jsRoutes")(
      controllers.landing.routes.javascript.LandingController.getStats
    )
  </body>
</html>
