@(
  loginForm: Form[controllers.landing.LoginData],
  socialProviders: com.mohiva.play.silhouette.impl.providers.SocialProviderRegistry
)(implicit messages: Messages, flash: Flash)
<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/landing/login.css")"/>
  </head>
  <body>
    <div id="content">
      <h1>Sign in</h1>
      @flash.get("message").map { msg =>
        <p class="error-msg"><strong>@msg</strong></p>
      }

      @helper.form(action = controllers.landing.routes.LoginLogoutController.processLogin(), args = 'autocomplete -> "off") {
        @helper.inputText(loginForm("username"), args = 'placeholder -> "Username or E-Mail", 'autocomplete -> "false")
        @helper.inputPassword(loginForm("password"), args = 'placeholder -> "Password", 'autocomplete -> "false")

        <a class="forgot-password" href="@controllers.landing.routes.ResetPasswordController.showResetForm()">Forgot Password?</a>

        <button type="submit" class="btn"/>
          <span class="icon">&#xf090;</span>
          Log In
        </button>
      }
    </div>

    <div class="register">
      Don't have an account?
      <a href="@controllers.landing.routes.SignupController.showSignupForm()">
        Create one now!
      </a>
    </div>

    <div class="social">
      <ul>
        @for(p <- socialProviders.providers) {
          <li>
            <a href="@controllers.landing.routes.SocialAuthController.authenticate(p.id)" title="@p.id">Login via @{p.id.toUpperCase}</a>
          </li>
        }
      </ul>
    </div>
  </body>
</html>
