@()
<!DOCTYPE html>
<html>
  <head>
    <title>Forgot your password? | Recogito</title>
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/landing/login.css")"/>
  </head>
  <body>
    <div id="content">
      <h1>Forgot your password?</h1>

      <p class="note">
        Check you e-mail for further instructions. If you don't receive a message within a few
        minutes, check your spam folder.
      </p>

      <a href="@controllers.landing.routes.LoginLogoutController.showLoginForm(None)" class="btn">Return to login</a>
    </div>
  </body>
</html>
