@(resetPasswordForm: Form[controllers.landing.ResetPasswordData])(implicit messages: Messages, flash: Flash)
<!DOCTYPE html>
<html>
  <head>
    <title>Forgot your password? | Recogito</title>
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/landing/login.css")"/>
  </head>
  <body>
    <div id="content">
      <h1>Forgot your password?</h1>
      <p class="note">Enter your e-mail address and we will send instructions to reset your password.</p>
      @flash.get("error").map { msg =>
        <p class="error-msg">@msg</p>
      }

      @helper.form(action = controllers.landing.routes.ResetPasswordController.resetPassword(), args = 'autocomplete -> "off") {
        @helper.inputText(resetPasswordForm("email"), args = 'placeholder -> "Email", 'autocomplete -> "off")
        <button type="submit" class="btn">Send password reset e-mail</button>
      }
    </div>
  </body>
</html>
