@(signupForm: Form[controllers.landing.SignupData], message: Option[String] = None)(implicit messages: Messages)
<!DOCTYPE html>
<html>
  <head>
    <title>Signup | Recogito</title>
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/landing/signup.css")"/>
  </head>
  <body>
    <div id="content">
      <div class="col" id="col-left">
        <h1>Terms and Conditions of Use</h1>

        <p>
          By registering with Recogito, you confirm that you accept the following Terms and
          Conditions of Use, and that you agree to comply with them:
        </p>

        <ul>
          <li><strong>Storage of private information.</strong> You acknowledge that Recogito will
            store your E-Mail address. This is for the purpose of sending out instructions for
            resetting your password in case you forget it. We will not use this address to send out
            information on a regular basis (newsletters, etc.) We may, however, use it to
            get in touch with specific important or urgent information, should the need ever
            arise.</li>

          <li>You may upload any documents that you wish to your own private workspace on
            Recogito. You may also invite other Recogito users to collaborate. However,
            you and your collaborators must not make any copyrighted materials open to
            the public.</li>

          <li>Documents are, by default, not open to the public. They will only be made
            publicly available if the owner (or someone who has been granted 'admin' rights by
            the owner) checks the 'public view' tickbox. This box should be ticked if, and only
            if, the document is not under copyright or you are the copyright holder.</li>

          <li>If you are invited to work on a document in Recogito, you are prohibited by
            UK copyright law from copying the contents and re-posting elsewhere.</li>

          <li>Recogito and the Pelagios team assume no responsibility for misuse of this
            service to open copyrighted materials to the public, and reserve the right to
            immediately remove materials suspected of violating copyright laws and suspend
            access during any account review. In the case of disputed materials, we will
            follow UK copyright laws unless otherwise noted.</li>

          <li>You consent to have all your annotations released immediately into the public under
            the <a href="https://creativecommons.org/publicdomain/zero/1.0/" target="_blank">Creative
            Commons CC0 ('CC Zero') 1.0 Universal</a> license.</li>
        </ul>

        <p>
          By not complying with any of these terms and conditions, you forfeit your right to use
          Recogito. The final judgement on any disputes will be made by the Pelagios Commons
          Committee.
        </p>

        <p>
          Pelagios Commons provides free access to Recogito in the spirit of open data and as
          an act of collegiality. We make no guarantees about access to this service at any time
          or about contents held in the system, nor do we accept any liability whatsoever in case
          of loss of data. Users are encouraged to download and maintain a private record
          of annotations produced.
        </p>
      </div>

      <div class="col" id="col-right">
        <h1>Sign Up for Recogito</h1>
        @message.map { msg =>
          <p class="error-msg"><strong>@msg</strong></p>
        }

        @helper.form(action = controllers.landing.routes.SignupController.processSignup(), args = 'autocomplete -> "off") {
          @helper.inputText(signupForm("username"), args = 'placeholder -> "Enter a Username...", 'autocomplete -> "off")
          @helper.inputText(signupForm("email"), args = 'placeholder -> "Email", 'autocomplete -> "off")
          @helper.inputPassword(signupForm("password"), args = 'placeholder -> "Password", 'autocomplete -> "off")
          @helper.checkbox(signupForm("agreeTos"))
          <p class="disclaimer">
            By signing up, you confirm that you have read and agree to our Terms and Conditions of Use.
          </p>
          <button type="submit" class="btn">Create Account</button>
        }
      </div>
    </div>
  </body>
</html>
