@()(implicit request: RequestHeader, webjars: WebJarAssets)
<!DOCTYPE html>
<html>
  <head>
    <title>Recogito | Admin Dashboard</title>
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/admin/index.css")"/>
    <script src="@routes.WebJarAssets.at(webjars.locate("1.12.0/jquery.min.js"))"></script>
    <script src="@routes.WebJarAssets.at(webjars.locate("numeral.min.js"))"></script>
    <script src="@routes.WebJarAssets.at(webjars.locate("require.min.js"))" data-main="@routes.Assets.versioned("javascripts/admin/dashboard.js")"></script>
  </head>
  <body>

    <div class="content">

      <div class="cell w3 h2">
        <div class="metric total-edits">
          <span class="number"></span>
          <span class="caption">Total Edits</span>
        </div>
      </div>

      <div class="cell w2 h2 no-pad">

        <div class="cell w12">
          <div class="metric total-annotations">
            <span class="number"></span>
            <span class="caption">Total Annotations</span>
          </div>
        </div>

        <div class="cell w12">
          <div class="metric registered-users">
            <span class="number"></span>
            <span class="caption">Registered Users</span>
          </div>
        </div>

      </div>

      <div class="cell w7 h2">
        <div class="metric activity-history">
          <span class="caption">30-Day Activity</span>
        </div>
      </div>

      <div class="cell w5 h3">
        <div class="metric top-contributors">
          <table></table>
          <span class="caption">Top Contributors</span>
        </div>
      </div>

      <div class="cell w7 h3">
        <div class="metric right-now">
          <span class="caption">Recogito Right Now</span>
        </div>
      </div>

      <div class="cell w3 h2">
        <div class="metric total-visits">
          <span class="number"></span>
          <span class="caption">Total Visits</span>
        </div>
      </div>

    </div> <!-- .content -->

    @helper.javascriptRouter("jsRoutes")(
      controllers.api.routes.javascript.StatsAPIController.getDashboardStats
    )
  </body>
</html>
