@(
  doc: services.document.DocumentInfo,
  currentPart: services.generated.tables.records.DocumentFilepartRecord,
  currentUser: Option[services.user.User],
  accessLevel: services.document.RuntimeAccessLevel,
  annotationCount: Long,
  sharedVia: Option[controllers.document.annotation.AnnotationSummary]
 )(implicit request: RequestHeader, messages: Messages, webJarsUtil: org.webjars.play.WebJarsUtil)
<!DOCTYPE html>
<html>
  <head>
    <title>Recogito | @doc.author.map(_ + ": ")@doc.title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    @views.html.document.annotation._meta(doc, annotationCount, Some(currentPart), None, sharedVia)
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/document/annotation/image/index.css")"/>
    @Html(webJarsUtil.css("4.6.4/css/ol.css"))
    @Html(webJarsUtil.css("leaflet.css"))
    @Html(webJarsUtil.css("bootstrap-colorpicker.min.css"))
    @Html(webJarsUtil.script("leaflet.js"))
    @Html(webJarsUtil.script("1.12.0/jquery.min.js"))
    @Html(webJarsUtil.script("jquery-ui.min.js"))
    @Html(webJarsUtil.script("velocity.min.js"))
    @Html(webJarsUtil.script("jquery.timeago.js"))
    @Html(webJarsUtil.script("blazy.min.js"))
    @Html(webJarsUtil.script("bootstrap-colorpicker.min.js"))
    @Html(webJarsUtil.script("typeahead.jquery.min.js"))
    @Html(webJarsUtil.script("ol.js"))
    @Html(webJarsUtil.requireJs(routes.Assets.versioned("javascripts/document/annotation/image/app.js")))
    <script>
      window.config = {
        @if(currentUser.isDefined) {
          me: '@currentUser.get.username',
          features: [@Html(currentUser.get.featureToggles.map("'" + _ + "'").mkString(","))],
        }
        documentId: '@doc.id',
        documentOwner: '@doc.ownerName',
        partId: '@currentPart.getId',
        partSequenceNo: @currentPart.getSequenceNo,
        contentType: '@currentPart.getContentType',
        isPublic: @doc.isOpenToPublic,
        writeAccess: @accessLevel.canWrite,
        isAdmin: @accessLevel.isAdmin,
      }
    </script>
  </head>
  <body>
    @views.html.document.iconbar(doc.document, currentUser, accessLevel, "edit")

    <div class="header-infobox">
      <h1>
        @doc.author.map(_ + ": ")@doc.title
      </h1>
      <h2 class="date">@doc.dateFreeform</h2>
      <p class="source">@views.html.document.sourceLink(doc.source)</p>
      <p class="quick-stats">
        <span class="icon comment">&#xf0e5;</span>
        <span class="annotations">0</span> Annotations
        &nbsp; &centerdot; &nbsp;
        <span class="icon">&#xf0c0;</span>
        <span class="contributors">No Other Contributors</span>
        @if(doc.license.isDefined) {
          &nbsp; &centerdot; &nbsp;
          @views.html.document.licenseInfo(doc.license.get, doc.attribution)
        }
      </p>
    </div> <!-- .header-infobox -->

    <div class="header-toolbar">
      <ul class="menu">
        <li class="group tools">
          <h3>@messages("document.annotation.image.toolbar.tools"):</h3>
          <ul>
            <li data-tool-label="MOVE" data-tool-key="move" class="active">
              <span class="icon">&#xf256;</span>
              <span class="label">@messages("document.annotation.image.toolbar.tools.move")</span>
            </li>
            <li data-tool-label="POINT" data-tool-key="point" class="has-submenu">
              <span class="icon">&#xf05b;</span>
              <span class="label">@messages("document.annotation.image.toolbar.tools.point")</span>
              <div class="submenu" style="display:none;">
                <ul>
                  <li data-tool-label="@messages("document.annotation.image.toolbar.tools.point")" data-tool-key="point">
                    <span class="icon">&#xf05b;</span> @messages("document.annotation.image.toolbar.tools.point")
                  </li>
                  <li data-tool-label="@messages("document.annotation.image.toolbar.tools.rectangle")" data-tool-key="rect"><span class="icon">
                    <span class="rect"></span></span> @messages("document.annotation.image.toolbar.tools.rectangle")
                  </li>
                  <li data-tool-label="@messages("document.annotation.image.toolbar.tools.tilted_box")" data-tool-key="tbox">
                    <span class="icon"><span class="tilted-box"></span></span> @messages("document.annotation.image.toolbar.tools.tilted_box")
                  </li>

                  <!-- disable for now - actived via JS, only for users with appropriate feature toggle -->
                  <li id="lbox-menuitem" data-tool-label="LINKED BOX" data-tool-key="lbox">
                    <span class="icon"><span class="linked-box"></span></span> LINKED BOX
                  </li>

                </ul>
              </div>
            </li>
          </ul>
        </li> <!-- TOOLS group -->

        <li class="group image has-submenu disabled">
          <h3><span class="label">@messages("document.annotation.image.toolbar.image")</span></h3>
        </li>

        <li class="group has-submenu disabled">
          <h3><span class="label">@messages("document.annotation.image.toolbar.layers")</span></h3>
        </li>

        <li class="group change-color">
          <h3>
            <span class="icon">&#xf1fb;</span>
            <span class="label">OVERLAY COLOR</span>
          </h3>
          <div class="submenu colorpicker">
            <ul>
              <li class="palette"></li>
              <li class="visibility checked"><span class="icon"></span>SHOW OVERLAYS</li>
            </ul>
          </div>
        </li>

        <li class="group help">
          <h3><span class="label">@messages("document.annotation.image.toolbar.help")</span></h3>
        </li>
      </ul> <!-- .menu -->

      <!-- span class="search">
        <input class="search" type="text" placeholder="Search..."/>
        <span class="icon">&#xf002;</span>
      </span -->
    </div> <!-- .header-toolbar -->

    <div id="image-pane"></div>

    <div class="sidebar">
      @views.html.sidebarHeader(doc.owner)

      <ul class="menu">
        @for(part <- doc.fileparts) {
          @if(part == currentPart) {
            <li class="active">
              <a href="#" onclick="return false;">
                <img class="b-lazy"
                     data-src="@controllers.document.routes.DocumentController.getThumbnail(doc.id, part.getSequenceNo)"
                     src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAKAAAAABCAQAAADzhm3tAAAADUlEQVR42mNkGAUUAQACggACpDKLkQAAAABJRU5ErkJggg==">
                <span class="label">@part.getTitle</span>
              </a>
            </li>
          } else {
            <li>
              <a href="@controllers.document.annotation.routes.AnnotationController.showAnnotationView(doc.id, part.getSequenceNo)">
                <img class="b-lazy"
                     data-src="@controllers.document.routes.DocumentController.getThumbnail(doc.id, part.getSequenceNo)"
                     src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAKAAAAABCAQAAADzhm3tAAAADUlEQVR42mNkGAUUAQACggACpDKLkQAAAABJRU5ErkJggg==">
                <span class="label">@part.getTitle</span>
              </a>
            </li>
          }
        }
      </ul>
    </div> <!-- .sidebar -->

    @helper.javascriptRouter("jsRoutes")(
      controllers.document.routes.javascript.DocumentController.getImageManifest,
      controllers.document.routes.javascript.DocumentController.getImageTile,
      controllers.api.routes.javascript.AnnotationAPIController.listAnnotationsInPart,
      controllers.api.routes.javascript.AnnotationAPIController.createAnnotation,
      controllers.api.routes.javascript.AnnotationAPIController.deleteAnnotation,
      controllers.api.routes.javascript.AuthoritiesAPIController.listGazetteers,
      controllers.api.routes.javascript.PlaceAPIController.findPlaceByURI,
      controllers.api.routes.javascript.PlaceAPIController.searchPlaces
    )
  </body>
</html>
