@(username:String,
  document: models.generated.tables.records.DocumentRecord,
  allParts: Seq[models.generated.tables.records.DocumentFilepartRecord],
  currentPart: models.generated.tables.records.DocumentFilepartRecord)(implicit request: RequestHeader)
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0">
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/document/annotation/image.css")"/>
    <link rel="stylesheet" href="@routes.Assets.versioned("lib/openlayers/ol.css")"/>
    <script src="@routes.Assets.versioned("lib/jquery/jquery.min.js")"></script>
    <script src="@routes.Assets.versioned("lib/openlayers/ol.js")"></script>
    <script src="@routes.Assets.versioned("lib/requirejs/require.js")" data-main="@routes.Assets.versioned("javascripts/document/annotation/image/app.js")"></script>
    <script>
      window.config = {
        documentId: '@document.getId',
        partId: @currentPart.getId,
        partSequenceNo: @currentPart.getSequenceNo
      }
    </script>
  </head>
  <body>
    <div class="header-iconbar">
      <ul>
        <li class="active tooltip bottom">
          <span class="icon">&#xe86f;</span>
          <span class="hint">You are now in the Text Annotation View</span>
        </li>

        <li class="tooltip bottom">
          <a href="@controllers.document.map.routes.MapController.showMap(document.getId)">
            <span class="icon">&#xe846;</span>
            <span class="hint">Switch to Map View</span>
          </a>
        </li>

        <li class="tooltip bottom">
          <a href="@controllers.document.stats.routes.StatsController.showDocumentStats(document.getId)">
            <span class="icon">&#xe8ae;</span>
            <span class="hint">Detailed annotation stats for this document</span>
          </a>
        </li>

        <li class="tooltip bottom">
          <a href="@controllers.document.downloads.routes.DownloadsController.showDownloadOptions(document.getId)">
            <span class="icon">&#xe875;</span>
            <span class="hint">See available download options for this document</span>
          </a>
        </li>

        <li class="tooltip bottom">
          <a href="@controllers.document.share.routes.ShareController.showShareSettings(document.getId)">
            <span class="icon">&#xe85f;</span>
            <span class="hint">Invite other users to view or work with you on this document</span>
          </a>
        </li>

        <li class="tooltip bottom">
          <a href="@controllers.document.settings.routes.SettingsController.showDocumentSettings(document.getId, None)">
            <span class="icon">&#xe8c9;</span>
            <span class="hint">Edit document settings and metadata</span>
          </a>
        </li>

        <li class="home tooltip bottom">
          <a href="@controllers.my.routes.MyRecogitoController.index(username.toLowerCase, None)">
            <span class="icon">&#xe8bf;</span>
            <span class="hint">Back to your home page</span>
          </a>
        </li>
      </ul>
    </div> <!-- .header-iconbar -->

    <div class="header-infobox">
      <h1>
        @Option(document.getAuthor).map(_ + ": ")
        @document.getTitle
      </h1>
      <h2 class="date">@Option(document.getDateFreeform)</h2>
      <p class="quick-stats">
        <span class="icon comment">&#xf0e5;</span>
        <span class="annotations">0</span> Annotations
        &nbsp; &centerdot; &nbsp;
        <span class="icon">&#xf0c0;</span>
        <span class="contributors">No Other Contributors</span>
      </p>
    </div> <!-- .header-infobox -->

    <div class="header-toolbar">
      <h3 class="tools">TOOLS:</h3>
      <span class="active has-sub-options">
        <span class="icon">&#xf256;</span>
        MOVE
        <div class="dropdown" style="display:none;">
          <ul>
            <li><span class="icon"></span> Point</li>
            <li><span class="icon"></span> Rectangle</li>
            <li><span class="icon"></span> Toponym</li>
          </ul>
        </div>
      </span>

      <h3 class="layers has-sub-options">LAYERS</h3>

      <h3 class="image has-sub-options">IMAGE</h3>

      <h3 class="help">HELP</h3>

      <span class="search">
        <input class="search" type="text" placeholder="Search..."/>
        <span class="icon">&#xf002;</span>
      </span>
    </div> <!-- .header-toolbar -->

    <div id="image-pane"></div>

    <div class="sidebar">
      <div class="sidebar-header tooltip bottom"></div>
      <div class="sidebar-parts">
        <ul>
          @for(part <- allParts) {
            @if(part == currentPart) {
              <li class="active">
                <img src="@controllers.document.routes.DocumentController.getThumbnail(document.getId, part.getSequenceNo)">
                <span class="part-title">@part.getTitle</span>
              </li>
            } else {
              <li>
                <a href="@controllers.document.annotation.routes.AnnotationController.showAnnotationViewForDocPart(document.getId, part.getSequenceNo)">
                  <img src="@controllers.document.routes.DocumentController.getThumbnail(document.getId, part.getSequenceNo)">
                  <span class="part-title">@part.getTitle</span>
                </a>
              </li>
            }
          }
        </ul>
      </div>
    </div> <!-- .sidebar -->
  </body>
</html>
