@(
  doc: models.document.DocumentInfo,
  currentPart: models.generated.tables.records.DocumentFilepartRecord,
  currentUser: Option[models.generated.tables.records.UserRecord],
  accessLevel: models.document.DocumentAccessLevel,
  annotationCount: Long
 )(implicit request: RequestHeader, webjars: WebJarAssets)
<!DOCTYPE html>
<html>
  <head>
    <title>Recogito | @doc.author.map(_ + ": ")@doc.title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0">
    @views.html.document.standardMeta(doc, annotationCount, Some(currentPart))
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/document/annotation/image/index.css")"/>
    <link rel="stylesheet" href="@routes.WebJarAssets.at(webjars.locate("ol.css"))"/>
    <link rel="stylesheet" href="@routes.WebJarAssets.at(webjars.locate("leaflet.css"))"/>
    <script src="@routes.WebJarAssets.at(webjars.locate("leaflet.js"))"></script>
    <script src="@routes.WebJarAssets.at(webjars.locate("1.12.0/jquery.min.js"))"></script>
    <script src="@routes.WebJarAssets.at(webjars.locate("jquery-ui.min.js"))"></script>
    <script src="@routes.WebJarAssets.at(webjars.locate("velocity.min.js"))"></script>
    <script src="@routes.WebJarAssets.at(webjars.locate("jquery.timeago.js"))"></script>
    <script src="@routes.WebJarAssets.at(webjars.locate("ol.js"))"></script>
    <script src="@routes.WebJarAssets.at(webjars.locate("require.min.js"))" data-main="@routes.Assets.versioned("javascripts/document/annotation/image/app.js")"></script>
    <script>
      window.config = {
        @if(currentUser.isDefined) { me: '@currentUser.get.getUsername', }
        documentId: '@doc.id',
        documentOwner: '@doc.ownerName',
        partId: '@currentPart.getId',
        partSequenceNo: @currentPart.getSequenceNo,
        contentType: '@currentPart.getContentType',
        writeAccess: @accessLevel.canWrite
      }
    </script>
  </head>
  <body>
    @views.html.document.iconbar(doc.document, currentUser, accessLevel, "edit")

    <div class="header-infobox">
      <h1>
        @doc.author.map(_ + ": ")@doc.title
      </h1>
      <h2 class="date">@doc.dateFreeform</h2>
      <p class="source">@views.html.document.sourceLink(doc.source)</p>
      <p class="quick-stats">
        <span class="icon comment">&#xf0e5;</span>
        <span class="annotations">0</span> Annotations
        &nbsp; &centerdot; &nbsp;
        <span class="icon">&#xf0c0;</span>
        <span class="contributors">No Other Contributors</span>
      </p>
    </div> <!-- .header-infobox -->

    <div class="header-toolbar">
      <ul class="menu">
        <li class="group tools">
          <h3>TOOLS:</h3>
          <ul>
            <li data-tool="MOVE" class="active">
              <span class="icon">&#xf256;</span>
              <span class="label">MOVE</span>
            </li>
            <li data-tool="POINT" class="has-submenu">
              <span class="icon">&#xf05b;</span>
              <span class="label">POINT</span>
              <div class="submenu" style="display:none;">
                <ul>
                  <li data-tool="POINT"><span class="icon">&#xf05b;</span> POINT</li>
                  <li class="disabled" data-tool="RECTANGLE"><span class="icon"><span class="rect"></span></span> RECTANGLE</li>
                  <li data-tool="TOPONYM"><span class="icon"><span class="toponym"></span></span> TOPONYM</li>
                </ul>
              </div>
            </li>
          </ul>
        </li> <!-- TOOLS group -->

        <li class="group has-submenu disabled">
          <h3><span class="label">IMAGE</span></h3>
        </li>

        <li class="group has-submenu disabled">
          <h3><span class="label">LAYERS</span></h3>
        </li>

        <li class="group help">
          <h3><span class="label">HELP</span></h3>
        </li>
      </ul> <!-- .menu -->

      <!-- span class="search">
        <input class="search" type="text" placeholder="Search..."/>
        <span class="icon">&#xf002;</span>
      </span -->
    </div> <!-- .header-toolbar -->

    <div id="image-pane" class="MOVE"></div>

    <div class="sidebar">
      @views.html.document.sidebarHeader(doc.owner)

      <ul class="menu">
        @for(part <- doc.fileparts) {
          @if(part == currentPart) {
            <li class="active">
              <a href="#" onclick="return false;">
                <img src="@controllers.document.routes.DocumentController.getThumbnail(doc.id, part.getSequenceNo)">
                <span class="label">@part.getTitle</span>
              </a>
            </li>
          } else {
            <li>
              <a href="@controllers.document.annotation.routes.AnnotationController.showAnnotationViewForDocPart(doc.id, part.getSequenceNo)">
                <img src="@controllers.document.routes.DocumentController.getThumbnail(doc.id, part.getSequenceNo)">
                <span class="label">@part.getTitle</span>
              </a>
            </li>
          }
        }
      </ul>
    </div> <!-- .sidebar -->

    @helper.javascriptRouter("jsRoutes")(
      controllers.document.routes.javascript.DocumentController.getImageManifest,
      controllers.document.routes.javascript.DocumentController.getImageTile,
      controllers.api.routes.javascript.AnnotationAPIController.listAnnotationsInPart,
      controllers.api.routes.javascript.AnnotationAPIController.createAnnotation,
      controllers.api.routes.javascript.AnnotationAPIController.deleteAnnotation,
      controllers.api.routes.javascript.PlaceAPIController.findPlaceByURI,
      controllers.api.routes.javascript.PlaceAPIController.searchPlaces
    )
  </body>
</html>
