@(
  doc: models.document.DocumentInfo,
  currentPart: models.generated.tables.records.DocumentFilepartRecord,
  currentUser: Option[models.generated.tables.records.UserRecord],
  accessLevel: models.document.DocumentAccessLevel,
  annotationCount: Long
 )(implicit request: RequestHeader, webjars: WebJarAssets)
<!DOCTYPE html>
<html>
  <head>
    <title>Recogito | @doc.author.map(_ + ": ")@doc.title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0">
    @views.html.document.standardMeta(doc, annotationCount, Some(currentPart), None)
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/document/annotation/table/index.css")"/>
    <link rel="stylesheet" id="colorscheme" href="@routes.Assets.versioned("stylesheets/document/annotation/table/colorByType.css")"/>
    <link rel="stylesheet" href="@routes.WebJarAssets.at(webjars.locate("leaflet.css"))"/>
    <link rel="stylesheet" href="@routes.Assets.versioned("vendor/slick.grid.css")"/>
    <script src="@routes.WebJarAssets.at(webjars.locate("leaflet.js"))"></script>
    <script src="@routes.WebJarAssets.at(webjars.locate("1.12.0/jquery.min.js"))"></script>
    <script src="@routes.WebJarAssets.at(webjars.locate("jquery-ui.min.js"))"></script>
    <script src="@routes.Assets.versioned("vendor/jquery.mousewheel.min.js")"></script>
    <script src="@routes.Assets.versioned("vendor/jquery.event.drag-2.2.js")"></script>
    <script src="@routes.Assets.versioned("vendor/slick.core.js")"></script>
    <script src="@routes.Assets.versioned("vendor/slick.grid.js")"></script>
    <script src="@routes.Assets.versioned("vendor/slick.dataview.js")"></script>
    <script src="@routes.Assets.versioned("vendor/slick.rowselectionmodel.js")"></script>
    <script src="@routes.WebJarAssets.at(webjars.locate("jquery.timeago.js"))"></script>
    <script src="@routes.WebJarAssets.at(webjars.locate("papaparse.min.js"))"></script>
    <script src="@routes.WebJarAssets.at(webjars.locate("require.min.js"))" data-main="@routes.Assets.versioned("javascripts/document/annotation/table/app.js")"></script>
    <script>
      window.config = {
        @if(currentUser.isDefined) { me: '@currentUser.get.getUsername', }
        documentId: '@doc.id',
        documentOwner: '@doc.ownerName',
        partId: '@currentPart.getId',
        partSequenceNo: @currentPart.getSequenceNo,
        contentType: '@currentPart.getContentType',
        writeAccess: @accessLevel.canWrite
      }
    </script>
  </head>
  <body>
    @views.html.document.iconbar(doc.document, currentUser, accessLevel, "edit")
    <div class="header-infobox">
      <h1>
        @doc.author.map(_ + ": ")@doc.title
      </h1>
      <h2 class="date">@doc.dateFreeform</h2>
      <p class="source">@views.html.document.sourceLink(doc.source)</p>
      <p class="quick-stats">
        <span class="icon comment">&#xf0e5;</span>
        <span class="annotations">-</span> Annotations
        &nbsp; &centerdot; &nbsp;
        <span class="icon">&#xf0c0;</span>
        <span class="contributors">No Other Contributors</span>
      </p>
    </div> <!-- .header-infobox -->

    <div class="header-toolbar">
      <ul class="menu">
        <li class="group bulk-annotation">
          <ul>
            <li class="has-submenu">
              <span class="label">AUTOMATIC MATCHING</span>
              <div class="submenu" style="display:none;">
                <ul>
                  <li data-type="PLACE"><span class="icon">&#xf041;</span> Places</li>
                  <li data-type="PERSON" class="disabled"><span class="icon">&#xf007;</span> Persons</li>
                  <li data-type="TAGS" class="disabled"><span class="icon">&#xf02c;</span> Tags</li>
                </ul>
              </div>
            </li>
          </ul>
        </li>

        <li class="group color-scheme">
          <h3>COLOR:</h3>
          <ul>
            <li data-scheme="BY_TYPE" class="active"><span class="label">BY ENTITY TYPE</span></li>
            <li data-scheme="BY_STATUS"><span class="label">BY VERIFICATION STATUS</span></li>
          </ul>
        </li>
      </ul> <!-- .menu -->
    </div> <!-- .header-toolbar -->

    <div class="sidebar">
      @views.html.sidebarHeader(doc.owner)

      <ul class="menu">
        @for(part <- doc.fileparts) {
          @if(part == currentPart) {
            <li class="active">
              <a href="#" onclick="return false;"><span class="label">@part.getTitle</span></a>
            </li>
          } else {
            <li>
              <a href="@controllers.document.annotation.routes.AnnotationController.showAnnotationView(doc.id, part.getSequenceNo)">
                <span class="label">@part.getTitle</span>
              </a>
            </li>
          }
        }
      </ul>
    </div> <!-- .sidebar -->

    <div id="main">
      <div id="table-container">
        <div id="table"></div>
      </div>
    </div>

    @helper.javascriptRouter("jsRoutes")(
      controllers.api.routes.javascript.AnnotationAPIController.listAnnotationsInPart,
      controllers.api.routes.javascript.AnnotationAPIController.createAnnotation,
      controllers.api.routes.javascript.AnnotationAPIController.deleteAnnotation,
      controllers.api.routes.javascript.PlaceAPIController.findPlaceByURI,
      controllers.api.routes.javascript.PlaceAPIController.searchPlaces,
      controllers.api.routes.javascript.TaskAPIController.spawnTask,
      controllers.api.routes.javascript.TaskAPIController.progressByDocument,
      controllers.document.settings.routes.javascript.SettingsController.showDocumentSettings,
      controllers.document.routes.javascript.DocumentController.getDataTable
    )
  </body>
</html>
