@(
  doc: services.document.DocumentInfo,
  currentPart: services.generated.tables.records.DocumentFilepartRecord,
  currentUser: Option[services.user.User],
  accessLevel: services.document.DocumentAccessLevel,
  annotationCount: Long,
  content: String
 )(implicit request: RequestHeader, webJarsUtil: org.webjars.play.WebJarsUtil)
<!DOCTYPE html>
<html>
  <head>
    <title>Recogito | @doc.author.map(_ + ": ")@doc.title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0">
    @views.html.document.standardMeta(doc, annotationCount, Some(currentPart), Some(content))
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/document/annotation/text/index.css")"/>
    <link rel="stylesheet" id="colorscheme" href="@routes.Assets.versioned("stylesheets/document/annotation/text/colorByType.css")"/>
    @Html(webJarsUtil.css("leaflet.css"))
    @Html(webJarsUtil.script("leaflet.js"))
    @Html(webJarsUtil.script("1.12.0/jquery.min.js"))
    @Html(webJarsUtil.script("jquery-ui.min.js"))
    @Html(webJarsUtil.script("jquery.timeago.js"))
    @Html(webJarsUtil.script("rangy-core.min.js"))
    @Html(webJarsUtil.script("rangy-classapplier.min.js"))
    @Html(webJarsUtil.requireJs(routes.Assets.versioned("javascripts/document/annotation/text/app.js")))
    <script>
      window.config = {
        @if(currentUser.isDefined) { me: '@currentUser.get.username', }
        documentId: '@doc.id',
        documentOwner: '@doc.ownerName',
        partId: '@currentPart.getId',
        partSequenceNo: @currentPart.getSequenceNo,
        contentType: '@currentPart.getContentType',
        writeAccess: @accessLevel.canWrite,
        isAdmin: @accessLevel.isAdmin
      }
    </script>
  </head>
  <body>
    @views.html.document.iconbar(doc.document, currentUser, accessLevel, "edit")
    <div class="header-infobox">
      <h1>
        @doc.author.map(_ + ": ")@doc.title
      </h1>
      <h2 class="date">@doc.dateFreeform</h2>
      <p class="source">@views.html.document.sourceLink(doc.source)</p>
      <p class="quick-stats">
        <span class="icon comment">&#xf0e5;</span>
        <span class="annotations">-</span> Annotations
        &nbsp; &centerdot; &nbsp;
        <span class="icon">&#xf0c0;</span>
        <span class="contributors">No Other Contributors</span>
        @if(doc.license.isDefined) {
          &nbsp; &centerdot; &nbsp;
          @views.html.document.licenseInfo(doc.license.get, doc.attribution)
        }
      </p>
    </div> <!-- .header-infobox -->

    <div class="header-toolbar">
      <ul class="menu">
        <li class="group annotation-mode">
          <h3>ANNOTATION MODE:</h3>
          <ul>
            <li data-mode="NORMAL" class="active"><span class="label">NORMAL</span></li>
            <li class="quick has-submenu">
              <span class="label">QUICK</span>
              <div class="submenu" style="display:none;">
                <ul>
                  <li data-mode="QUICK" data-type="PLACE"><span class="icon">&#xf041;</span> Places</li>
                  <li data-mode="QUICK" data-type="PERSON"><span class="icon">&#xf007;</span> Persons</li>
                  <li data-mode="QUICK" data-type="TAGS" class="disabled"><span class="icon">&#xf02c;</span> Tags</li>
                </ul>
              </div>
            </li>
          </ul>
        </li>

        <li class="group color-scheme">
          <h3>COLOR:</h3>
          <ul>
            <li data-scheme="BY_TYPE" class="active"><span class="label">BY ENTITY TYPE</span></li>
            <li data-scheme="BY_STATUS"><span class="label">BY VERIFICATION STATUS</span></li>
          </ul>
        </li>
      </ul> <!-- .menu -->
    </div> <!-- .header-toolbar -->

    <div class="sidebar">
      @views.html.sidebarHeader(doc.owner)

      <ul class="menu">
        @for(part <- doc.fileparts) {
          @if(part == currentPart) {
            <li class="active">
              <a href="#" onclick="return false;"><span class="label">@part.getTitle</span></a>
            </li>
          } else {
            <li>
              <a href="@controllers.document.annotation.routes.AnnotationController.showAnnotationView(doc.id, part.getSequenceNo)">
                <span class="label">@part.getTitle</span>
              </a>
            </li>
          }
        }
      </ul>
    </div> <!-- .sidebar -->

    <div id="main">
      <div id="content">@content</div>
    </div>

    @helper.javascriptRouter("jsRoutes")(
      controllers.api.routes.javascript.AnnotationAPIController.listAnnotationsInPart,
      controllers.api.routes.javascript.AnnotationAPIController.createAnnotation,
      controllers.api.routes.javascript.AnnotationAPIController.deleteAnnotation,
      controllers.api.routes.javascript.AnnotationAPIController.bulkUpsert,
      controllers.api.routes.javascript.PlaceAPIController.findPlaceByURI,
      controllers.api.routes.javascript.PlaceAPIController.searchPlaces
    )
  </body>
</html>
