@(loggedInUser:Option[String],
  document: models.generated.tables.records.DocumentRecord,
  allParts: Seq[models.generated.tables.records.DocumentFilepartRecord],
  currentPart: models.generated.tables.records.DocumentFilepartRecord,
  documentAnnotationCount: Long,
  accessLevel: models.document.DocumentAccessLevel,
  content: String)(implicit request: RequestHeader, webjars: WebJarAssets)
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0">
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@@pelagiosproject" />
    <meta name="twitter:title" content="@Option(document.getAuthor).map(_ + ":") @document.getTitle | @documentAnnotationCount annotations" />
    <meta name="twitter:description" content="@content.take(256).trim..." />
    <meta name="twitter:image" content="@routes.Assets.versioned("images/logo_sq_240px.png").absoluteURL" />
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/document/annotation/text/index.css")"/>
    <link rel="stylesheet" id="colorscheme" href="@routes.Assets.versioned("stylesheets/document/annotation/text/colorByType.css")"/>
    <link rel="stylesheet" href="@routes.WebJarAssets.at(webjars.locate("leaflet.css"))"/>
    <script src="@routes.WebJarAssets.at(webjars.locate("leaflet.js"))"></script>
    <script src="@routes.WebJarAssets.at(webjars.locate("1.12.0/jquery.min.js"))"></script>
    <script src="@routes.WebJarAssets.at(webjars.locate("jquery-ui.min.js"))"></script>
    <script src="@routes.WebJarAssets.at(webjars.locate("jquery.timeago.js"))"></script>
    <script src="@routes.WebJarAssets.at(webjars.locate("rangy-core.min.js"))"></script>
    <script src="@routes.WebJarAssets.at(webjars.locate("rangy-classapplier.min.js"))"></script>
    <script src="@routes.WebJarAssets.at(webjars.locate("require.min.js"))" data-main="@routes.Assets.versioned("javascripts/document/annotation/text/app.js")"></script>
    <script>
      window.config = {
        @if(loggedInUser.isDefined) { me: '@loggedInUser.get', }
        documentId: '@document.getId',
        documentOwner: '@document.getOwner',
        partId: @currentPart.getId,
        partSequenceNo: @currentPart.getSequenceNo,
        contentType: '@currentPart.getContentType',
        writeAccess: @accessLevel.canWrite
      }
    </script>
  </head>
  <body>
    <div class="header-iconbar">
      <ul>
        <li class="active tooltip bottom">
          <span class="icon">&#xe86f;</span>
          <span class="hint">You are now in the Text Annotation View</span>
        </li>

        <li class="tooltip bottom">
          <a href="@controllers.document.map.routes.MapController.showMap(document.getId)">
            <span class="icon">&#xe846;</span>
            <span class="hint">Switch to Map View</span>
          </a>
        </li>

        <li class="tooltip bottom">
          <a href="@controllers.document.stats.routes.StatsController.showDocumentStats(document.getId)">
            <span class="icon">&#xe8ae;</span>
            <span class="hint">Detailed annotation stats for this document</span>
          </a>
        </li>

        <li class="tooltip bottom">
          <a href="@controllers.document.downloads.routes.DownloadsController.showDownloadOptions(document.getId)">
            <span class="icon">&#xe875;</span>
            <span class="hint">See available download options for this document</span>
          </a>
        </li>

        <li class="tooltip bottom">
          <a href="@controllers.document.share.routes.ShareController.showShareSettings(document.getId)">
            <span class="icon">&#xe85f;</span>
            <span class="hint">Invite other users to view or work with you on this document</span>
          </a>
        </li>

        <li class="tooltip bottom">
          <a href="@controllers.document.settings.routes.SettingsController.showDocumentSettings(document.getId, None)">
            <span class="icon">&#xe8c9;</span>
            <span class="hint">Edit document settings and metadata</span>
          </a>
        </li>

        @if(loggedInUser.isDefined) {
          <li class="home tooltip bottom">
            <a href="@controllers.my.routes.MyRecogitoController.index(loggedInUser.get.toLowerCase, None)">
              <span class="icon">&#xe8bf;</span>
              <span class="hint">Back to your home page</span>
            </a>
          </li>
        }
      </ul>

      <div class="save-msg"></div>

    </div> <!-- .header-iconbar -->

    <div class="header-infobox">
      <h1>
        @Option(document.getAuthor).map(_ + ": ")
        @document.getTitle
      </h1>
      <h2 class="date">@Option(document.getDateFreeform)</h2>
      <p class="quick-stats">
        <span class="icon comment">&#xf0e5;</span>
        <span class="annotations">-</span> Annotations
        &nbsp; &centerdot; &nbsp;
        <span class="icon">&#xf0c0;</span>
        <span class="contributors">No Other Contributors</span>
      </p>
    </div> <!-- .header-infobox -->

    <div class="header-toolbar">
      <h3>ANNOTATION MODE:</h3>
      <ul class="annotation-mode">
        <li data-mode="NORMAL" class="active">
          <span class="tool-label">NORMAL</span>
        </li>
        <li class="quick has-sub-options">
          <span class="tool-label">QUICK</span>
          <div class="dropdown" style="display:none;">
            <ul>
              <li data-mode="QUICK" data-type="PLACE"><span class="icon">&#xf041;</span> Places</li>
              <li data-mode="QUICK" data-type="PERSON" class="disabled"><span class="icon">&#xf007;</span> Persons</li>
              <li data-mode="QUICK" data-type="TAGS" class="disabled"><span class="icon">&#xf02c;</span> Tags</li>
            </ul>
          </div>
        </li>
        <!--
        <li data-mode="BULK">
          <span class="tool-label">BULK</span>
        </li>
        -->
      </ul>

      <h3>COLOR:</h3>
      <ul class="color-scheme">
        <li data-scheme="BY_TYPE" class="active">
          <span class="tool-label">BY ENTITY TYPE</span>
        </li>
        <li data-scheme="BY_STATUS">
          <span class="tool-label">BY VERIFICATION STATUS</span>
        </li>
      </ul>
    </div> <!-- .header-toolbar -->

    <div class="sidebar">
      <div class="sidebar-header"></div>
      <ul class="menu">
        @for(part <- allParts) {
          @if(part == currentPart) {
            <li class="active">
              <a href="#"><span class="label">@part.getTitle</span></a>
            </li>
          } else {
            <li>
              <a href="@controllers.document.annotation.routes.AnnotationController.showAnnotationViewForDocPart(document.getId, part.getSequenceNo)">
                <span class="label">@part.getTitle</span>
              </a>
            </li>
          }
        }
      </ul>
    </div> <!-- .sidebar -->

    <pre id="content">@content</pre>

    @helper.javascriptRouter("jsRoutes")(
      controllers.api.routes.javascript.AnnotationAPIController.getAnnotationsForPart,
      controllers.api.routes.javascript.AnnotationAPIController.createAnnotation,
      controllers.api.routes.javascript.AnnotationAPIController.deleteAnnotation,
      controllers.api.routes.javascript.PlaceAPIController.findPlaceByURI,
      controllers.api.routes.javascript.PlaceAPIController.searchPlaces
    )
  </body>
</html>
