@(
  doc: models.document.DocumentInfo,
  currentUser: Option[models.generated.tables.records.UserRecord],
  currentPart: models.generated.tables.records.DocumentFilepartRecord,
  accessLevel: models.document.DocumentAccessLevel,
  annotationCount: Long,
  content: String
 )(implicit request: RequestHeader, webjars: WebJarAssets)
<!DOCTYPE html>
<html>
  <head>
    <title>Recogito | @doc.author.map(_ + ": ")@doc.title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0">
    @views.html.document.standardMeta(doc, annotationCount, Some(currentPart), Some(content))
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/document/annotation/text/index.css")"/>
    <link rel="stylesheet" id="colorscheme" href="@routes.Assets.versioned("stylesheets/document/annotation/text/colorByType.css")"/>
    <link rel="stylesheet" href="@routes.WebJarAssets.at(webjars.locate("leaflet.css"))"/>
    <link rel="apple-touch-icon" sizes="57x57" href="@routes.Assets.versioned("images/touch-icon-iphone-114.png")" />
    <link rel="apple-touch-icon" sizes="114x114" href="@routes.Assets.versioned("images/touch-icon-iphone-114.png")" />
    <link rel="apple-touch-icon" sizes="72x72" href="@routes.Assets.versioned("images/touch-icon-ipad-144.png")" />
    <link rel="apple-touch-icon" sizes="144x144" href="@routes.Assets.versioned("images/touch-icon-ipad-144.png")" />
    <script src="@routes.WebJarAssets.at(webjars.locate("leaflet.js"))"></script>
    <script src="@routes.WebJarAssets.at(webjars.locate("1.12.0/jquery.min.js"))"></script>
    <script src="@routes.WebJarAssets.at(webjars.locate("jquery.timeago.js"))"></script>
    <script src="@routes.WebJarAssets.at(webjars.locate("rangy-core.min.js"))"></script>
    <script src="@routes.WebJarAssets.at(webjars.locate("rangy-classapplier.min.js"))"></script>
    <script src="@routes.WebJarAssets.at(webjars.locate("require.min.js"))" data-main="@routes.Assets.versioned("javascripts/document/annotation/text/app.js")"></script>
    <script>
      window.config = {
        @if(currentUser.isDefined) { me: '@currentUser.get.getUsername', }
        documentId: '@doc.id',
        documentOwner: '@doc.ownerName',
        partId: '@currentPart.getId',
        partSequenceNo: @currentPart.getSequenceNo,
        contentType: '@currentPart.getContentType',
        writeAccess: @accessLevel.canWrite
      }
    </script>
  </head>
  <body>
    @views.html.document.iconbar(doc.document, currentUser, accessLevel, "edit")
    <div class="header-infobox">
      <h1>
        @doc.author.map(_ + ": ")@doc.title
      </h1>
      <h2 class="date">@doc.dateFreeform</h2>
      <p class="quick-stats">
        <span class="icon comment">&#xf0e5;</span>
        <span class="annotations">-</span> Annotations
        &nbsp; &centerdot; &nbsp;
        <span class="icon">&#xf0c0;</span>
        <span class="contributors">No Other Contributors</span>
      </p>
    </div> <!-- .header-infobox -->

    <div class="header-toolbar">
      <ul class="menu">
        <li class="group annotation-mode">
          <h3>ANNOTATION MODE:</h3>
          <ul>
            <li data-mode="NORMAL" class="active"><span class="label">NORMAL</span></li>
            <li class="quick has-submenu">
              <span class="label">QUICK</span>
              <div class="submenu" style="display:none;">
                <ul>
                  <li data-mode="QUICK" data-type="PLACE"><span class="icon">&#xf041;</span> Places</li>
                  <li data-mode="QUICK" data-type="PERSON" class="disabled"><span class="icon">&#xf007;</span> Persons</li>
                  <li data-mode="QUICK" data-type="TAGS" class="disabled"><span class="icon">&#xf02c;</span> Tags</li>
                </ul>
              </div>
            </li>
          </ul>
        </li>

        <li class="group color-scheme">
          <h3>COLOR:</h3>
          <ul>
            <li data-scheme="BY_TYPE" class="active"><span class="label">BY ENTITY TYPE</span></li>
            <li data-scheme="BY_STATUS"><span class="label">BY VERIFICATION STATUS</span></li>
          </ul>
        </li>
      </ul> <!-- .menu -->

      <!-- h3>ANNOTATION MODE:</h3>
      <ul class="annotation-mode">
        <li data-mode="NORMAL" class="active">
          <span class="tool-label">NORMAL</span>
        </li>
        <li class="quick has-sub-options">
          <span class="tool-label">QUICK</span>
          <div class="dropdown" style="display:none;">
            <ul>
              <li data-mode="QUICK" data-type="PLACE"><span class="icon">&#xf041;</span> Places</li>
              <li data-mode="QUICK" data-type="PERSON" class="disabled"><span class="icon">&#xf007;</span> Persons</li>
              <li data-mode="QUICK" data-type="TAGS" class="disabled"><span class="icon">&#xf02c;</span> Tags</li>
            </ul>
          </div>
        </li -->
        <!--
        <li data-mode="BULK">
          <span class="tool-label">BULK</span>
        </li>
      </ul>

      <h3>COLOR:</h3>
      <ul class="color-scheme">
        <li data-scheme="BY_TYPE">
          <span class="tool-label">BY ENTITY TYPE</span>
        </li>
        <li data-scheme="BY_STATUS">
          <span class="tool-label">BY VERIFICATION STATUS</span>
        </li>
      </ul> -->
    </div> <!-- .header-toolbar -->

    <div class="sidebar">
      @views.html.document.sidebarHeader(doc.owner)

      <ul class="menu">
        @for(part <- doc.fileparts) {
          @if(part == currentPart) {
            <li class="active">
              <a href="#" onclick="return false;"><span class="label">@part.getTitle</span></a>
            </li>
          } else {
            <li>
              <a href="@controllers.document.annotation.routes.AnnotationController.showAnnotationViewForDocPart(doc.id, part.getSequenceNo)">
                <span class="label">@part.getTitle</span>
              </a>
            </li>
          }
        }
      </ul>
    </div> <!-- .sidebar -->

    <div id="content">@content</div>

    @helper.javascriptRouter("jsRoutes")(
      controllers.api.routes.javascript.AnnotationAPIController.listAnnotationsInPart,
      controllers.api.routes.javascript.AnnotationAPIController.createAnnotation,
      controllers.api.routes.javascript.AnnotationAPIController.deleteAnnotation,
      controllers.api.routes.javascript.PlaceAPIController.findPlaceByURI,
      controllers.api.routes.javascript.PlaceAPIController.searchPlaces
    )
  </body>
</html>
