.changes {
  padding-top:5px;
  box-shadow:inset -5px 6px 3px -5px rgba(0, 0, 0, 0.12);
  background-color:lighten(@blueish-white, 1%);
  width:200px;
  border-right:1px solid @lightgrey-border-darker;
  box-sizing:border-box;

  .phrase, .change {
    padding:10px;
  }

  .phrase {
    font-size:18px;
    font-family:"Times New Roman", Times, serif;
    font-style:italic;
    text-align:center;

    em::before {
      content: '\00ab';
    }

    em::after {
      content: '\00bb';
    }
  }

  .change {
    margin:5px 8px;
    font-size:15px;
    color:@ocean;
    background-color:lighten(@ocean, 42%);
    border:1px solid lighten(@ocean, 10%);
    box-shadow:1px 1px 3px rgba(0, 0, 0, 0.18);
    border-radius:3px;
  }

  .change::before {
    font-family:FontAwesome;
    font-size:17px;
    padding-right:8px;
    position:relative;
    top:1px;
  }

  .change.PLACE::before {
    content:'\f041';
  }

  .change.TAG::before {
    content:'\f02b';
  }

}
