@(
  visitsTotal: Long,
  visits6Months: Long
)(implicit request: RequestHeader, webJarsUtil: org.webjars.play.WebJarsUtil)
<!DOCTYPE html>
<html>
  <head>
    <title>Recogito Administration - Backup &amp; Restore</title>
    @Html(webJarsUtil.script("1.12.0/jquery.min.js"))
  </head>
  <body>
    <div class="side-navbar">
      <ul>
        <li><a href="#">Users</a></li>
        <li><a href="#">Gazetteers</a></li>
        <li><a href="#">Backup &amp; Restore</a></li>
      </ul>
    </div>

    <div class="content">
      <div class="upload-zip">
        <span>Full backup package</span>
        @helper.form(action = controllers.admin.backup.routes.BackupAdminController.restore(), 'enctype -> "multipart/form-data") {
          <input type="file" id="backup" name="backup">
          <input type="submit">
        }
      </div>
    </div>

    <div class="visit-stats">
      <h1>Visit Stats</h1>
      <p>
        @visitsTotal visits recorded
        (<a href="@controllers.admin.backup.routes.BackupAdminController.exportVisits">Download CSV</a>)
      </p>

      <p>
        @visits6Months visits in the last 6 months
      </p>
    </div>
  </body>
</html>
