.section.person {

  .category-icon {
    font-family:Tonicons;
    background-color:@ocean;
  }

  .info {
    color:darken(@ocean, 10%);

    button.delete {
      background-color:@ocean;
    }

  }

}
