.modal {
  height:330px;
}

.modal-body {
  padding:30px;
  text-align:center;

  form.crud {

    dt {
      width:140px;
      padding-right:10px;
    }

    .buttons {
      padding-top:20px;
      padding-left:135px;
    }

    button {
      width:140px;
    }

  }

}
