@import "../../../_meter.less";

.modal.wizard {
  height:580px;
  width:620px;

  .modal-body {
    padding:0;
    background-color:@blueish-white;

    .instructions {
      margin:0;
      padding:20px;
      color:@grey-type;
      font-size:16px;
    }

    form.crud {

      select {
        width:280px;
      }

      #use-exclusive {
        font-size:15px;
        padding:5px 10px 20px 12px;

        label:before {
          font-size:14px;
        }

      }

      dt, dd.info {
        font-size:15px;
      }

      dt {
        width:140px;
        padding-right:10px;
      }

      .buttons {
        position:absolute;
        width:100%;
        bottom:0;
        padding:14px 0 20px 150px;
        background-color:#fff;
        border-top:1px solid @lightgrey-border;
      }

      button {
        width:140px;
      }

    }

  }

  .has-annotations {
    position:absolute;
    top:0;
    width:100%;
    height:100%;
    background-color:fade(#fff, 85%);

    p {
      text-align:center;
      color:@error-msg-type;
      padding:10px 5px;
      margin:180px 40px;
      background:@error-msg-bg;
      border:1px solid @error-msg-border;
      .rounded-corners(2px);
    }

    a {
      color:@error-msg-type;
    }

  }

}

.modal.progress {
  height:85px;
  width:400px;

  .cancel {
    display:none;
  }

  .modal-body {
    top:0;
    padding:15px;
    text-align:center;

    p {
      font-size:15px;
      margin:2px 0 5px 0;
    }

    .meter {
      height:14px;
      width:360px;
      margin:0 auto;
      background-color:@blueish-white;

      .bar {
        background-color:@ocean;
      }

    }

  }

}
