@import "../../_globals.less";
@import "../../_sidebar.less";

html, body {
  background-color:@blueish-white-hi;
}

.content {
  margin-left:@sidebar-width;
  padding:20px;

  .panel {
    max-width:800px;
  }

}

.password-settings dd.info {
  display:none;
}
