@(username: String,
  document: services.generated.tables.records.DocumentRecord,
  fileparts: Seq[services.generated.tables.records.DocumentFilepartRecord],
  tasks: Seq[services.task.TaskType])(implicit request: RequestHeader, webJarsUtil: org.webjars.play.WebJarsUtil)
<!DOCTYPE html>
<html>
  <head>
    <title>My Recogito - Organize Document</title>
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/my/upload/wizard.css")"/>
    @Html(webJarsUtil.script("1.12.0/jquery.min.js"))
    @Html(webJarsUtil.script("jquery-ui.min.js"))
    @Html(webJarsUtil.requireJs(routes.Assets.versioned("javascripts/my/upload/step3.js")))
    <script>
      window.config = {
        owner      : '@username',
        documentId : '@document.getId',
        tasks      : [ @Html(tasks.map("'" + _ + "'").mkString(", ")) ]
      };
    </script>
  </head>
  <body>
    <div id="content">
      <ul id="header-steps">
        <li class="arrow">Enter Metadata</li><li class="arrow">Attach Files</li><li class="active">Import</li>
      </ul>

      <h2>Drag to Change Order</h2>

      <ul class="fileparts">
        @for(part <- fileparts) {
          <li class="filepart-preview" data-id="@part.getId" data-type="@part.getContentType">
            @part.getTitle

            @if(tasks.size > 0) {
              <span class="filepart-processing-progress">
                Processing...
              </span>
            }
          </li>
        }
      </ul>

      <div id="buttons">
        <div class="buttons-right">
          <form action="@controllers.my.routes.MyRecogitoController.index(username, None, None, None, None, None)">
            <button class="next btn btn-large btn-blue" disabled="true">Done</button>
          </form>
        </div>
      </div>
    </div>

    @helper.javascriptRouter("jsRoutes")(
      controllers.document.settings.routes.javascript.SettingsController.setSortOrder
    )
  </body>
</html>
