@(username: String, fileparts: Seq[services.generated.tables.records.UploadFilepartRecord])(implicit request: RequestHeader,
  webJarsUtil: org.webjars.play.WebJarsUtil)

@formatSize(sizeKb: Double) = @{
  val fmt = new java.text.DecimalFormat("#.#")
  if (sizeKb < 100)
    fmt.format(sizeKb) + " KB"
  else
    fmt.format(sizeKb / 1000) + " MB"
}

<!DOCTYPE html>
<html>
  <head>
    <title>My Recogito - Upload Files</title>
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/my/upload/wizard.css")"/>
    @Html(webJarsUtil.script("dropzone.min.js"))
    @Html(webJarsUtil.script("1.12.0/jquery.min.js"))
    @Html(webJarsUtil.script("velocity.min.js"))
    @Html(webJarsUtil.requireJs(routes.Assets.versioned("javascripts/my/upload/step2.js")))
    <script>
      window.config = { owner: '@username' }
    </script>
  </head>
  <body>
    <div id="content">
      <ul id="header-steps">
        <li class="arrow">Enter Metadata</li><li class="active arrow">Attach Files</li><li>Import</li>
      </ul>

      <form action="@controllers.my.routes.UploadController.storeFilepart(username)" id="dropzone">
        <h2>Drag Files Here</h2>
        <p>or</p>
        <span id="choose-file" class="choose-file btn btn-large btn-blue">
          <span class="icon">&#xf055;</span>
          <span class="label">Choose a File to Attach</span>
        </span>
        <span class="btn btn-large btn-blue iiif">
          <span class="icon">&#xf0c1;</span>
          <span class="label">Import from IIIF Service</span>
          <input type="text" placeholder="Paste or drag URL" />
          <span class="status-indicator"></span>
        </span>
        <p class="formats">Supported formats: plain text (UTF-8), TEI/XML, image files, CSV (UTF-8)</p>
      </form>

      <div id="uploaded">
        <div id="uploaded-before">@for(filepart <- fileparts) {
            <div class="dz-preview dz-file-preview" data-id="@filepart.getId" data-type="@filepart.getContentType">
              <div class="dz-details">
                <div class="dz-size">@if(Option(filepart.getFilesizeKb).isDefined) {
                  @formatSize(filepart.getFilesizeKb)
                }</div>
                <div class="dz-filename"><span>@filepart.getTitle</span></div>
              </div>
              <div class="dz-progress"><span class="dz-upload" style="width:100%"></span></div>
              <a class="dz-remove" title="Click to remove the file" href="javascript:undefined;"></a>
            </div>
          }</div>

        <div id="uploaded-now" class="dropzone-previews"></div>
      </div>

      <form id="buttons" method="POST" action="@controllers.my.routes.UploadController.showStep3(username)">
        <div class="buttons-left">
          <a class="back btn btn-large btn-blue" href="@controllers.my.routes.UploadController.showStep1(username)">Back</a>
        </div>

        <div class="ner">
          <input type="checkbox" id="apply-ner" name="apply-ner"/>
          <label for="apply-ner">Apply automatic annotation</label>

          <div class="new-tei-ner">
            <div class="inner">
              <strong>NEW:</strong> automatic annotation now available for TEI!
            </div>
          </div>

          <span class="tooltip bottom whats-this">(<u>What's this?</u>)
            <span class="hint">Performs Named Entity Recognition (automatic
              identification of places and persons) on your texts. Currently
              limited to English only.</span>
          </span>
        </div>

        <div class="buttons-right">
          <a href="@controllers.my.routes.UploadController.cancelUploadWizard(username)" class="cancel btn outline">Cancel</a>
          <input type="submit" class="next btn" disabled="true" value="Next" />
        </div>
      </form>
    </div>

    @helper.javascriptRouter("jsRoutes")(
      controllers.my.routes.javascript.UploadController.storeFilepart,
      controllers.my.routes.javascript.UploadController.deleteFilepart
    )

  </body>
</html>
