@(username: String, fileparts: Seq[models.generated.tables.records.UploadFilepartRecord])

@formatSize(sizeKb: Double) = @{
  val fmt = new java.text.DecimalFormat("#.#")
  if (sizeKb < 100)
    fmt.format(sizeKb) + " KB"
  else
    fmt.format(sizeKb / 1000) + " MB"
}

<!DOCTYPE html>
<html>
  <head>
    <title>My Recogito - Upload Files</title>
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/my/upload/wizard.css")"/>
    <script src="@routes.Assets.versioned("lib/dropzone/min/dropzone.min.js")"></script>
    <script src="@routes.Assets.versioned("lib/jquery/jquery.min.js")"></script>
  </head>
  <body>
    <div id="content">
      <ul id="header-steps">
        <li class="arrow">Enter Metadata</li><li class="active arrow">Attach Files</li><li>Import</li>
      </ul>

      <form action="@controllers.my.upload.routes.UploadController.storeFilepart(username)" id="dropzone" class="dropzone">
        <h2>Drag Files Here</h2>
        <p>or</p>
        <div class="choose-file btn btn-large btn-blue"><span class="icon">&#xf055;</span> Choose a File to Attach</div>
        <p class="formats">Supported formats: UTF-8 plain text, Markdown, TEI/XML, image files, CSV</p>
      </form>

      <div id="uploaded">
        <div id="uploaded-before">@for(filepart <- fileparts) {
            <div class="dz-preview dz-file-preview" data-id="@filepart.getId" data-type="@filepart.getContentType">
              <div class="dz-details">
                <div class="dz-size">@formatSize(filepart.getFilesizeKb)</div>
                <div class="dz-filename"><span>@filepart.getTitle</span></div>
              </div>
              <div class="dz-progress"><span class="dz-upload" style="width:100%"></span></div>
              <a class="dz-remove" title="Click to remove the file" href="javascript:undefined;"></a>
            </div>
          }</div>

        <div id="uploaded-now" class="dropzone-previews"></div>
      </div>

      <form id="buttons" method="POST" action="@controllers.my.upload.routes.UploadController.showStep3(username)">
        <div class="buttons-left">
          <a class="back btn btn-large btn-blue" href="@controllers.my.upload.routes.UploadController.showStep1(username)">Back</a>
        </div>

        <div class="ner">
          <input type="checkbox" id="apply-ner" name="apply-ner"/>
          <label for="apply-ner">Apply automatic annotation</label>
          <span class="tooltip bottom whats-this">(<u>What's this?</u>)
            <span class="hint">Select this option to perform Named Entity Recognition (automatic
              identification of places and persons) on your texts during import.</span>
          </span>
        </div>

        <div class="buttons-right">
          <a href="@controllers.my.upload.routes.UploadController.cancelUploadWizard(username)" class="cancel btn outline">Cancel</a>
          <input type="submit" class="next btn" disabled="true" value="Next" />
        </div>
      </form>
    </div>
    <script>
      var dropzone,

          uploadsIncludeText = function() {
            var textUploads = jQuery.grep(jQuery('.dz-preview'), function(el) {
              return jQuery(el).data('type') === 'TEXT_PLAIN';
            });
            return textUploads.length > 0;
          },

          refreshView = function() {
            var previewElements = jQuery('.dz-preview'),
                uploadContainer = jQuery('#uploaded'),
                ner = jQuery('.ner');

            if (previewElements.length === 0)
              uploadContainer.hide();
            else
              uploadContainer.show();

            if (previewElements.not('.upload-failed').length > 0)
              jQuery('input.next').prop('disabled', false);
            else
              jQuery('input.next').prop('disabled', true);

            if (uploadsIncludeText())
              ner.show();
            else
              ner.hide();
          },

          onAddedFile = function(e) {
            refreshView();
            jQuery('input.next').prop('disabled', true);
          },

          onDelete = function(e) {
            var div = jQuery(e.target).closest('.dz-preview'),
                name = (e.name) ? e.name : div.find('.dz-filename').text();

            jQuery.ajax({
              url: '@controllers.my.upload.routes.UploadController.showStep2(username)/' + encodeURIComponent(name),
              type: 'DELETE',
              success: function(result) {
                div.remove();
                refreshView();
              }
            });uploadedBefore

            refreshView();
          },

          onUploadSuccess = function(e, response) {
            e.previewElement.dataset.type = response.content_type;
            if (dropzone.getQueuedFiles().length + dropzone.getUploadingFiles().length == 0)
              refreshView();
          },

          onUploadError = function(e, response) {
            jQuery(e.previewElement).addClass('upload-failed');
            refreshView();
          };

      Dropzone.options.dropzone = {
        clickable: '.choose-file',
        createImageThumbnails: false,
        dictRemoveFile: '',
        maxFilesize:200,
        previewsContainer: document.getElementById('uploaded-now'),
        previewTemplate:
          '<div class="dz-preview dz-file-preview">' +
          '  <div class="dz-details">' +
          '    <div class="dz-size" data-dz-size=""></div>' +
          '    <div class="dz-filename"><span data-dz-name=""></span></div>' +
          '  </div>' +
          '  <div class="dz-progress"><span class="dz-upload" data-dz-uploadprogress=""></span></div>' +
          '  <a class="dz-remove" title="Click to remove the file" data-dz-remove></a>' +
          '  <div class="dz-error-message"><span data-dz-errormessage=""></span></div>' +
          '</div>',
        init: function() {
          dropzone = this;
          this.on('addedfile', onAddedFile);
          this.on('removedfile', onDelete);
          this.on('success', onUploadSuccess);
          this.on('error', onUploadError);
        }
      };

      jQuery(document).ready(function() {
        jQuery('#uploaded').on('click', '.dz-remove', onDelete);
        refreshView();
      });
    </script>
  </body>
</html>
