@(
  title: String,
  doc: services.document.ExtendedDocumentMetadata,
  currentUser: Option[services.user.User],
  accessLevel: services.RuntimeAccessLevel,
  activeTab: Option[String],
  p: Seq[plugins.PluginConf]
)(content: Html)(implicit request: RequestHeader, messages: Messages, webJarsUtil: org.webjars.play.WebJarsUtil)
<!DOCTYPE html>
<html>
  <head>
    <title>@title | @doc.author.map(_ + ": ")@doc.title</title>
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/document/stats/index.css")"/>
    @for(plugin <- p) {
      <link rel="stylesheet" href="@controllers.api.plugin.routes.PluginAPIController.loadCSS(plugin.getString("extends"), plugin.getString("id"))" />
    }
    @Html(webJarsUtil.script("1.12.0/jquery.min.js"))
    @Html(webJarsUtil.script("numeral.min.js"))
  </head>
  <body>
    <script>
      window.config = { documentId: '@doc.id' }
      window.plugins = {}
    </script>

    @views.html.document.iconbar(doc.document, currentUser, accessLevel, "stats")

    <div class="sidebar">
      @views.html.sidebarHeader(doc.owner)

      <ul class="menu">
        <li @if(activeTab == Some("activity")) { class="active" }>
          <a href="?tab=activity">
            <span class="icon">&#xf080;</span> <span class="label">Activity</span>
          </a>
        </li>

        <li @if(activeTab == Some("entities")) { class="active" }>
          <a href="?tab=entities">
            <span class="icon">&#xf005;</span> <span class="label">Entities</span>
          </a>
        </li>

        <li @if(activeTab == Some("tags")) { class="active" }>
          <a href="?tab=tags">
            <span class="icon">&#xf02c;</span> <span class="label">Tags</span>
          </a>
        </li>
      </ul>
    </div>

    <div class="content">
      @content

      @for(plugin <- p) {
        <div class="panel">
          <h2>@plugin.getString("title")</h2>
          <div class="inner" id="@plugin.getString("id")"></div>
          <script src="@controllers.api.plugin.routes.PluginAPIController.loadPlugin(plugin.getString("extends"), plugin.getString("id"))"></script>
        </div>
      }
    </div>
  </body>
</html>
