@(
  doc: services.document.ExtendedDocumentMetadata,
  currentUser: Option[services.user.User],
  accessLevel: services.RuntimeAccessLevel,
  p: Seq[plugins.PluginConf]
 )(implicit request: RequestHeader, messages: Messages, webJarsUtil: org.webjars.play.WebJarsUtil)

@_layout("Entity Statistics", doc, currentUser, accessLevel, Some("entities"), p) {
  <script type="text/javascript" src="@routes.Assets.versioned("javascripts/widgets/1.entity_stats.js")"></script>
  <script type="text/javascript" src="@routes.Assets.versioned("javascripts/widgets/entity_stats.js")"></script>
  
  <div id="app"></div>
  
  <script type="text/javascript">
    (function() {
      EntityStats.init({
        id: 'app',
        document: '@doc.id'
      }); 
    })();
  </script>
}
