@(
  doc: services.document.DocumentInfo,
  currentUser: Option[services.user.User],
  accessLevel: services.document.RuntimeAccessLevel,
  p: Seq[plugins.PluginConf]
 )(implicit request: RequestHeader, messages: Messages, webJarsUtil: org.webjars.play.WebJarsUtil)

@_layout("Entity Statistics", doc, currentUser, accessLevel, Some("entities"), p) {
  @Html(webJarsUtil.requireJs(routes.Assets.versioned("javascripts/document/stats/entities.js")))

  @helper.javascriptRouter("jsRoutes")(
    controllers.api.annotation.routes.javascript.AnnotationAPIController.listAnnotationsInDocument,
    controllers.api.entity.routes.javascript.PlaceAPIController.listPlacesInDocument
  )
}
