@(
  doc: models.document.DocumentInfo,
  currentUser: Option[models.user.User],
  accessLevel: models.document.DocumentAccessLevel
 )(implicit header: RequestHeader, webJarsUtil: org.webjars.play.WebJarsUtil)
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/document/stats/index.css")"/>
    @Html(webJarsUtil.script("1.12.0/jquery.min.js"))
  </head>
  <body>
    @* views.html.document.iconbar(doc.document, currentUser, accessLevel, "stats") *@

    <div class="sidebar">
      @views.html.sidebarHeader(doc.owner)
    </div>

    <div class="content">
      <p>The document annotations stats page is still under construction. Bear with us.</p>
    </div>
  </body>
</html>
