@(loggedInUser: Option[models.generated.tables.records.UserRecord],
  document: models.generated.tables.records.DocumentRecord,
  accessLevel: models.document.DocumentAccessLevel)(implicit webjars: WebJarAssets)
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/document/stats/index.css")"/>
    <script src="@routes.WebJarAssets.at(webjars.locate("1.12.0/jquery.min.js"))"></script>
  </head>
  <body>
    @views.html.document.iconbar(loggedInUser, document, accessLevel, "stats")
    @views.html.document.initTooltips()
  </body>
</html>
