@(
  doc: services.document.DocumentInfo,
  currentUser: Option[services.user.User],
  accessLevel: services.document.DocumentAccessLevel
 )(implicit request: RequestHeader, webJarsUtil: org.webjars.play.WebJarsUtil)

@_layout("Tag Statistics", doc, currentUser, accessLevel, Some("tags")) {
  <div class="panel">
    <h2>Tag Use</h2>
    <div class="inner">



      <p class="download-csv">
        <a href="@controllers.document.stats.routes.StatsController.getTagsAsCSV(doc.id)">Download CSV</a>
      </p>
    </div>
  </div>
}
