@(
  doc: services.document.DocumentInfo,
  currentUser: Option[services.user.User],
  accessLevel: services.document.DocumentAccessLevel,
  p: Seq[plugins.PluginConf]
 )(implicit request: RequestHeader, webJarsUtil: org.webjars.play.WebJarsUtil)

@_layout("Tag Statistics", doc, currentUser, accessLevel, Some("tags")) {
  <div class="panel">
    <h2>Overall tag use <span class="tags-total"></h2>
    <div class="inner">
      <table class="tags-by-count stats"></table>
      <p class="download-csv">
        <a href="@controllers.document.stats.routes.StatsController.getTagsAsCSV(doc.id)">Download CSV</a>
      </p>
    </div>
  </div>

  <div class="panel">
    <h2>Over document length</h2>
    <div class="inner">

    </div>
  </div>

  @for(plugin <- p) {
    <div class="panel">
      <h2>@plugin.getString("title")</h2>
      <div class="inner">

      </div>
    </div>
  }

  <script>
    window.config = {
      documentId: '@doc.id'
    }
  </script>
  @Html(webJarsUtil.requireJs(routes.Assets.versioned("javascripts/document/stats/tags.js")))

  @helper.javascriptRouter("jsRoutes")(
    controllers.document.stats.routes.javascript.StatsController.getTagsAsJSON
  )
}
