.edit-history {
  padding-bottom:40px;
  background-color:@blueish-white-hi;

  h3 {
    font-weight:normal;
    color:@grey-type;
    font-size:15px;
    margin:6px 0 6px 2px;
    padding:0;
  }

  ul {
    position:relative;
    list-style-type:none;
    margin:0 50px 15px 0;
    padding:0;
    background-color:#fff;
    border:1px solid @lightgrey-border;
    .rounded-corners(2px);
  }

  li {
    margin:0;
    padding:7px 10px;
    border-bottom:1px solid @lightgrey-border;
  }

  li:last-child {
    border-bottom:none;
  }

  .rollback {
    position:absolute;
    top:2px;
    right:-30px;
    width:25px;
    font-size:14px;
    color:@lightgrey-type;
    .nostyle();
  }

  .rollback:hover {
    color:@grey-type;
  }

  div.contribution {
    font-size:16px;

    p {
      margin:0;
      padding:1px 0;
    }

    a, em {
      padding:0 3px;
    }

    em {
      font-style:normal;
      color:@lightgrey-type;
    }

    a {
      color:@lightgrey-type;
    }

    a:hover {
      color:@ocean;
    }

  }

}
