#gazetteer-preferences {

  label::before {
    font-size:14px;
  }

}

#gazetteer-preferences > label {
  margin-left:13px;
}

#gazetteer-list {
  background-color:@blueish-white-hi;
  border:1px solid @lightgrey-border;
  margin-top:15px;
  .rounded-corners(3px);

  table {
    width:100%;
    border-collapse:collapse;

    tr:first-child td { padding-top:8px; }
    tr:last-child td { padding-bottom:8px; }

    td {
      padding:2px;

      a {
        padding: 0;
        color:@ocean;
      }

    }

    td:first-child {
      padding-left:12px;
    }

    td:nth-child(3) {
      width:90%;
    }

  }

  table.disabled * {
    color:lighten(@lightgrey-type, 15%) !important;
    pointer-events:none;
  }

}
