input[type=checkbox] + label:before {
  font-size:14px;
}

#public-link {
  font-size:12px;
  font-family:Consolas, "Liberation Mono", Menlo, Courier, monospace;
  margin-top:6px;
  min-height:26px;
  padding:5px 6px 4px 6px;
  width:500px;
  background-color:#fff;
  .rounded-corners(2px);
  box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.075);
  letter-spacing:normal;
}

.no-collaborators {
  text-align:center;
  color:darken(@lightgrey-type, 12%);
}

table.collaborators {
  border-collapse:collapse;
  width:100%;

  td {
    padding:0 3px;
  }

  td:last-child {
    width:30px; 
    cursor:pointer;
  }

}

.add-collaborators {
  position:relative;
  background-color:@blueish-white;
  border-top:1px solid @lightgrey-border-darker;
  padding:15px;

  input {
    padding:6px 8px;
    width:100%;
    .rounded-corners(2px);
    box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.075);
  }

}
