@import "../../_globals.less";
@import "../../_forms.less";
@import "../_header.less";
@import "../_sidebar.less";
@import "_sharing.less";

.header-iconbar {
  border-bottom:1px solid @lightgrey-border;
}

.content {
  position:absolute;
  top:71px;
  right:0;
  bottom:0;
  left:200px;
  padding:20px 30px;
  background-color:@blueish-white-hi;
}

.panel {
  position:relative;
  background-color:#fff;
  padding:0;
  margin-bottom:15px;
  border:1px solid @lightgrey-border-darker;
  .rounded-corners(2px);
  max-width:1024px;

  h2 {
    background-color:@blueish-white;
    font-weight:normal;
    font-size:18px;
    padding:6px 15px;
    border-bottom:1px solid @lightgrey-border-darker;
  }

  .inner {
    font-size:16px;
    line-height:22px;
    padding:15px;
  }

  .checkbox-details {
    margin:0;
    padding:0 0 0 20px;
    color:darken(@lightgrey-type, 12%);
  }

}
