.content .pane {
  position:relative;
  border:1px solid @lightgrey-border;
  .rounded-corners(3px);
  .box-shadow(2px, 2px, 28px, rgba(0, 0, 0, 0.2));

  .left {
    width:40%;
    min-height:420px;
  }

  .right {
    position:absolute;
    top:0;
    right:0;
    height:100%;
    width:60%;
    background-color:@blueish-white;
    -webkit-box-shadow:inset 7px 0 14px -10px rgba(0,0,0,0.35);
       -moz-box-shadow:inset 7px 0 14px -10px rgba(0,0,0,0.35);
            box-shadow:inset 7px 0 14px -10px rgba(0,0,0,0.35);
  }

  .authority-list {
    height:100%;
  }

  .authority-details {
    background-color:#fff;
    margin:10px;
    .rounded-corners(3px);
    .box-shadow(2px, 2px, 28px, rgba(0, 0, 0, 0.2));

    form{
      padding:20px 10px;
    }

    .fileupload {

      #filename {
        width:270px;
      }

      #file {


      }

      .btn.add-file {
        display:inline-block;
        width:40px;
        margin:0;
        padding:2px 8px 2px 12px;
      }

    }

  }

  .upload {
    padding:10px;
  }

}
