.options-pane {

  .section.how-to-merge.how-to-merge-exit,
  .section.how-to-merge.how-to-merge-exit-done {
    max-height:0;
    -webkit-transition:max-height 0.15s linear;
       -moz-transition:max-height 0.15s linear;
         -o-transition:max-height 0.15s linear;
            transition:max-height 0.15s linear;
  }

  .section.how-to-merge.how-to-merge-enter,
  .section.how-to-merge.how-to-merge-enter-done {
    max-height:260px;
    -webkit-transition:max-height 0.15s linear;
       -moz-transition:max-height 0.15s linear;
         -o-transition:max-height 0.15s linear;
            transition:max-height 0.15s linear;
  }

  .section.how-to-merge {
    margin:20px 0 10px 0;
    overflow:hidden;
    padding:0 20px;
    max-height:260px;

    p {
      padding:5px 0 10px 0;
      margin:0;
    }

    input {
      margin:0;
    }

    ul strong {
      font-weight:normal;
      text-decoration:underline;
      cursor:pointer;
    }

    .no-admin {
      margin:15px 0 0 0;
    }

  }

}
