@(title: String, username: String, document: models.generated.tables.records.DocumentRecord,
  active: Option[String], webjars: WebJarAssets)(content: Html)
<!DOCTYPE html>
<html>
  <head>
    <title>@title</title>
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/document/settings/index.css")"/>
    <script src="@routes.WebJarAssets.at(webjars.locate("1.12.0/jquery.min.js"))"></script>
  </head>
  <body>
    <div class="header-iconbar">
      <ul>
        <li class="tooltip bottom">
          <a href="@controllers.document.annotation.routes.AnnotationController.showAnnotationViewForDocPart(document.getId, 1)">
            <span class="icon">&#xe86f;</span>
            <span class="hint">Annotate this Document</span>
          </a>
        </li>

        <li class="tooltip bottom">
          <a href="@controllers.document.map.routes.MapController.showMap(document.getId)">
            <span class="icon">&#xe846;</span>
            <span class="hint">Switch to Map View</span>
          </a>
        </li>

        <li class="tooltip bottom">
          <a href="@controllers.document.stats.routes.StatsController.showDocumentStats(document.getId)">
            <span class="icon">&#xe8ae;</span>
            <span class="hint">Detailed annotation stats for this document</span>
          </a>
        </li>

        <li class="tooltip bottom">
          <a href="@controllers.document.downloads.routes.DownloadsController.showDownloadOptions(document.getId)">
            <span class="icon">&#xe875;</span>
            <span class="hint">See available download options for this document</span>
          </a>
        </li>

        <li class="tooltip bottom">
          <a href="@controllers.document.discussion.routes.DiscussionController.showDiscussionBoard(document.getId)">
            <span class="icon">&#xe862;</span>
            <span class="hint">The discussion board for this document</span>
          </a>
        </li>

        <li class="active tooltip bottom">
          <span class="icon">&#xe8c9;</span>
          <span class="hint">Edit document settings and metadata here</span>
        </li>

        <li class="home tooltip bottom">
          <a href="@controllers.my.routes.MyRecogitoController.index(username.toLowerCase, None)">
            <span class="icon">&#xe8bf;</span>
            <span class="hint">Back to your home page</span>
          </a>
        </li>
      </ul>
    </div> <!-- .header-iconbar -->

    <div class="sidebar">
      <div class="sidebar-header"></div>
      <ul class="menu">
        <li @if(active == Some("metadata")) { class="active" }>
          <a href="?tab=metadata">
            <span class="icon">&#xf02d;</span> <span class="label">Metadata</span>
          </a>
        </li>

        <li @if(active == Some("sharing")) { class="active" }>
          <a href="?tab=sharing">
            <span class="icon">&#xf234;</span> <span class="label">Sharing</span>
          </a>
        </li>

        <li @if(active == Some("history")) { class="active" }>
          <a href="?tab=history">
            <span class="icon">&#xf1da;</span> <span class="label">Edit History</span>
          </a>
        </li>

        <li @if(active == Some("backup")) { class="active" }>
          <a href="?tab=backup">
            <span class="icon">&#xf0c7;</span> <span class="label">Backup</span>
          </a>
        </li>

        <li>
          <a href="#">
            <span class="icon">&#xf014;</span> <span class="label">Delete</span>
          </a>
        </li>
      </ul>
    </div> <!-- .sidebar -->

    <div class="content">
      @content
    </div>

  </body>
</html>
