@(
  title: String,
  doc: models.document.DocumentInfo,
  currentUser: models.generated.tables.records.UserRecord,
  activeTab: Option[String]
)(content: Html)(implicit request: RequestHeader, webjars: WebJarAssets)
<!DOCTYPE html>
<html>
  <head>
    <title>@title</title>
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/document/settings/index.css")"/>
    <script src="@routes.WebJarAssets.at(webjars.locate("1.12.0/jquery.min.js"))"></script>
  </head>
  <body>
    @views.html.document.iconbar(doc.document, Some(currentUser), models.document.DocumentAccessLevel.ADMIN, "settings")

    <div class="sidebar">
      @views.html.document.sidebarHeader(doc.owner)
      
      <ul class="menu">
        <li @if(activeTab == Some("metadata")) { class="active" }>
          <a href="?tab=metadata">
            <span class="icon">&#xf02d;</span> <span class="label">Metadata</span>
          </a>
        </li>

        <li @if(activeTab == Some("sharing")) { class="active" }>
          <a href="?tab=sharing">
            <span class="icon">&#xf234;</span> <span class="label">Sharing</span>
          </a>
        </li>

        <li @if(activeTab == Some("history")) { class="active" }>
          <a href="?tab=history">
            <span class="icon">&#xf1da;</span> <span class="label">Edit History</span>
          </a>
        </li>

        <li @if(activeTab == Some("backup")) { class="active" }>
          <a href="?tab=backup">
            <span class="icon">&#xf0c7;</span> <span class="label">Backup</span>
          </a>
        </li>

        <li>
          <a href="#">
            <span class="icon">&#xf014;</span> <span class="label">Delete</span>
          </a>
        </li>
      </ul>
    </div> <!-- .sidebar -->

    <div class="content">
      @content
    </div>
  </body>
</html>
