@(
  doc: services.document.ExtendedDocumentMetadata,
  currentUser: services.user.User
 )(implicit request: RequestHeader, messages: Messages, webJarsUtil: org.webjars.play.WebJarsUtil)

@_layout("Settings | Backup & Restore", doc, currentUser, Some("backup")) {
  <div class="backup panel centered">
    <h2>@messages("document.settings.backup.backup")</h2>
    <div class="inner">
      <p class="description">@Html(messages("document.settings.backup.description"))</p>
      <a class="btn" href="@controllers.document.settings.routes.SettingsController.exportAsZip(doc.id)">
        <span class="icon">&#xf019;</span> @messages("document.settings.backup.button")
      </a>
    </div>
  </div>
}
