@(user: models.generated.tables.records.UserRecord,
  document: models.generated.tables.records.DocumentRecord)(implicit request: RequestHeader, webjars: WebJarAssets)

@_layout("Recogito | Settings - Backup & Restore", user, document, Some("backup"), webjars) {
  <div class="backup panel">
    <h2>Backup</h2>
    <div class="inner">
      <p class="description-text">
        The backup package includes document metadata, files, and annotations. You can use
        it to restore your work to Recogito at a later date. Back up your work regularly
        as an added safety measure. Please note that the <u>edit history is currently not
        included</u> in the backup package.
      </p>
      <a class="btn" href="@controllers.document.settings.routes.SettingsController.exportAsZip(document.getId)">
        <span class="icon">&#xf019;</span> Download ZIP Backup Package
      </a>
    </div>
  </div>
}
