@(
  doc: services.document.DocumentInfo,
  currentUser: services.user.User
 )(implicit request: RequestHeader, webJarsUtil: org.webjars.play.WebJarsUtil)

@_layout("Recogito | Settings - Delete", doc, currentUser, Some("delete")) {
  <div class="delete-annotations panel centered">
    <h2>Delete Annotations</h2>
    <div class="inner">
      <p class="description-text">
        This will delete all annotations on this document including the edit history.
        <u>This operation is not reversible. You cannot undo it through the edit history.</u>
      </p>

      <button class="btn red"><span class="icon">&#xf071;</span> Delete All Annotations</button>
    </div>
  </div>

  <script>
    window.config = {
      documentId: '@doc.id'
    }
  </script>
  @Html(webJarsUtil.requireJs(routes.Assets.versioned("javascripts/document/settings/delete.js")))

  @helper.javascriptRouter("jsRoutes")(
    controllers.document.settings.routes.javascript.SettingsController.deleteAnnotations
  )
}
