@(username: String, document: models.generated.tables.records.DocumentRecord)(implicit request: RequestHeader)

@_layout("Settings - Edit History", username, document) {
  <h1>Edit History</h1>

  <ul class="edit-history"></ul>

  <script>
    window.config = {
      documentId: '@document.getId'
    }
  </script>
  <script src="@routes.Assets.versioned("lib/timeago/jquery.timeago.js")"></script>
  <script src="@routes.Assets.versioned("lib/requirejs/require.js")" data-main="@routes.Assets.versioned("javascripts/document/settings/app.js")"></script>
  @helper.javascriptRouter("jsRoutes")(
    controllers.api.routes.javascript.ContributionAPIController.getContributionHistory
  )
}
