@(username: String, document: models.generated.tables.records.DocumentRecord)(implicit request: RequestHeader,
  webjars: WebJarAssets)

@_layout("Recogito | Settings - Edit History", username, document, Some("history"), webjars) {
  <div class="edit-history"></div>

  <script>
    window.config = {
      documentId: '@document.getId'
    }
  </script>
  <script src="@routes.WebJarAssets.at(webjars.locate("jquery.timeago.js"))"></script>
  <script src="@routes.WebJarAssets.at(webjars.locate("require.min.js"))" data-main="@routes.Assets.versioned("javascripts/document/settings/history.js")"></script>

  @helper.javascriptRouter("jsRoutes")(
    controllers.api.routes.javascript.ContributionAPIController.getContributionHistory,
    controllers.document.settings.routes.javascript.SettingsController.rollbackByTime
  )
}
