@(
  metadataForm: Form[controllers.document.settings.actions.DocumentMetadata],
  doc: services.document.DocumentInfo,
  currentUser: services.user.User
)(implicit header: RequestHeader, messages: Messages, webJarsUtil: org.webjars.play.WebJarsUtil, flash: Flash)

@_layout("Settings | Metadata", doc, currentUser, Some("metadata")) {
  <div class="document-metadata panel centered">
    <h2>@messages("document.settings.metadata.document_metadata")</h2>
    @flash.get("success").map { msg =>
      <div class="success flash-message"><span class="icon">&#xf00c;</span> @msg</div>
    }
    @flash.get("error").map { msg =>
      <div class="error flash-message"><span class="icon">&#xf00d;</span> @msg</div>
    }
    <div class="inner">
      @helper.form(action = controllers.document.settings.routes.SettingsController.updateDocumentMetadata(doc.id), args = 'class -> "crud", 'autocomplete -> "off") {
        @helper.inputText(metadataForm("title"), args = '_label -> messages("common.document.title"), '_help -> "", 'autocomplete -> "false")
        @helper.inputText(metadataForm("author"), args = '_label -> messages("common.document.author"), '_help -> "", 'autocomplete -> "false")
        @helper.inputText(metadataForm("date_freeform"), args = '_label -> messages("common.document.date"), '_help -> "", 'autocomplete -> "false")
        @helper.textarea(metadataForm("description"), args = '_label -> messages("common.document.description"), '_help -> "", 'autocomplete -> "false")
        @helper.inputText(metadataForm("language"), args = '_label -> messages("common.document.language"), '_help -> "", 'autocomplete -> "false")
        @helper.inputText(metadataForm("source"), args = '_label -> messages("common.document.source"), '_help -> "", 'autocomplete -> "false")
        @helper.inputText(metadataForm("edition"), args = '_label -> messages("common.document.edition"), '_help -> "", 'autocomplete -> "false")
        <dl id="license_field">
          <dt>
            <label for="license">@messages("common.document.license")</label>
          </dt>
          <dd>
            <select id="license" name="license">
              <option value @if(doc.license.isEmpty) { selected="true" }>-- Select a license --</option>
              @for(license <- services.document.License.values) {
                <option value="@license.acronym" @if(doc.license == Some(license)) { selected="true" }>@license.name</option>
              }
            </select>
          </dd>
        </dl>
        @helper.textarea(metadataForm("attribution"), args = '_label -> messages("common.document.attribution"), '_help -> "", 'autocomplete -> "false",
          'placeholder -> "Extra attribution statement or license information")
        <dt></dt>
        <dd>
          <button type="submit" class="btn"/>@messages("document.settings.metadata.document_metadata.save")</button>
        </dd>
      }
    </div>
  </div>

  <div class="part-metadata panel centered">
    <h2>Document Parts <span class="num-files">(@doc.fileparts.size file@if(doc.fileparts.size > 1){s})</span></h2>
    <div class="flash-message" style="display:none;"></div>
    <div class="inner">
      <p><span class="icon">&#xf047;</span> Drag to change order</p>
      <ul>
        @for(part <- doc.fileparts) {
          <li class="filepart" data-id="@part.getId">
            @part.getTitle
            <button class="btn small"><span class="icon">&#xf040;</span> Edit Part Metadata</button>
          </li>
        }
      </ul>
    </div>
  </div>

  <script>
    @defining(services.document.DocumentService.documentFilepartRecordWrites) { implicit writes =>
      window.config = {
        documentId: "@doc.id",
        fileparts: @Html(play.api.libs.json.Json.toJson(doc.fileparts).toString)
      }
    }
  </script>
  @Html(webJarsUtil.script("jquery-ui.min.js"))
  @Html(webJarsUtil.requireJs(routes.Assets.versioned("javascripts/document/settings/metadata.js")))

  @helper.javascriptRouter("jsRoutes")(
    controllers.document.settings.routes.javascript.SettingsController.setSortOrder,
    controllers.document.settings.routes.javascript.SettingsController.updateFilepartMetadata
  )
}
