@(
  metadataForm: Form[controllers.document.settings.actions.DocumentMetadata],
  doc: models.document.DocumentInfo,
  currentUser: models.generated.tables.records.UserRecord
)(implicit header: RequestHeader, webjars: WebJarAssets, messages: Messages, flash: Flash)

@_layout("Recogito | Settings - Metadata", doc, currentUser, Some("metadata")) {
  <div class="document-metadata panel centered">
    <h2>Document Metadata</h2>
    @flash.get("success").map { msg =>
      <div class="success flash-message"><span class="icon">&#xf00c;</span> @msg</div>
    }
    @flash.get("error").map { msg =>
      <div class="error flash-message"><span class="icon">&#xf00d;</span> @msg</div>
    }
    <div class="inner">
      @helper.form(action = controllers.document.settings.routes.SettingsController.updateDocumentMetadata(doc.id), args = 'class -> "crud", 'autocomplete -> "off") {
        @helper.inputText(metadataForm("title"), args = '_label -> "Title", '_help -> "", 'autocomplete -> "false")
        @helper.inputText(metadataForm("author"), args = '_label -> "Author", '_help -> "", 'autocomplete -> "false")
        @helper.inputText(metadataForm("date_freeform"), args = '_label -> "Date", '_help -> "", 'autocomplete -> "false")
        @helper.textarea(metadataForm("description"), args = '_label -> "Description", '_help -> "", 'autocomplete -> "false")
        @helper.inputText(metadataForm("language"), args = '_label -> "Language", '_help -> "", 'autocomplete -> "false")
        @helper.inputText(metadataForm("source"), args = '_label -> "Source", '_help -> "", 'autocomplete -> "false")
        @helper.inputText(metadataForm("edition"), args = '_label -> "Edition", '_help -> "", 'autocomplete -> "false")
        @helper.inputText(metadataForm("license"), args = '_label -> "License", '_help -> "", 'autocomplete -> "false")
        <dt></dt>
        <dd>
          <button type="submit" class="btn"/>Save Changes</button>
        </dd>
      }
    </div>
  </div>

  <div class="part-metadata panel centered">
    <h2>Document Parts <span class="num-files">(@doc.fileparts.size file@if(doc.fileparts.size > 1){s})</span></h2>
    <div class="inner">
      <p><span class="icon">&#xf047;</span> Drag to change order</p>
      <ul>
        @for(part <- doc.fileparts) {
          <li>
            @part.getTitle
            <button class="btn small disabled"><span class="icon">&#xf040;</span> Edit Metadata</button>
          </li>
        }
      </ul>
    </div>
  </div>

  <script src="@routes.WebJarAssets.at(webjars.locate("jquery-ui.min.js"))"></script>
  <script src="@routes.WebJarAssets.at(webjars.locate("require.min.js"))" data-main="@routes.Assets.versioned("javascripts/document/settings/metadata.js")"></script>

  @helper.javascriptRouter("jsRoutes")(
    controllers.document.settings.routes.javascript.SettingsController.setSortOrder
  )
}
