@(username: String, document: models.generated.tables.records.DocumentRecord,
  sharingPolicies: Seq[models.generated.tables.records.SharingPolicyRecord])(implicit request: RequestHeader)

@_layout("Settings - Sharing", username, document, Some("sharing")) {
  <div class="panel share-public">
    <h2>Public Access</h2>
      <div class="inner">
        <input type="checkbox" id="public-access" name="public-access" @if(document.getIsPublic) { checked="checked" } />
        <label for="public-access">Visible to all</label>
        <p class="checkbox-details">
          This document will be visible to the public. Visitors can see your annotations, but
          not edit. Link to share:
        </p>
        <p class="checkbox-details">
          <input type="text" id="public-link" value="@controllers.document.annotation.routes.AnnotationController.showAnnotationViewForDoc(document.getId).absoluteURL"/>
        </p>
      </div>
    </div>

    <div class="panel share-collab">
      <h2>Collaborators</h2>
      <div class="inner">
        @if(sharingPolicies.isEmpty) {
          <p class="no-collaborators">
            This document doesn't have any collaborators yet.
            Use the form below to add a collaborator.
          </p>
        } else {
          <table class="collaborators">
            @for(shared <- sharingPolicies) {
              <tr>
                <td>@shared.getSharedWith</td>
                <td>@shared.getAccessLevel</td>
                <td>X</td>
              </tr>
            }
          </table>
        }
      </div>
      <div class="add-collaborators">
        <input class="add-collaborator" type="text" placeholder="Enter name or e-mail address"/>
      </div>
    </div>

    <script>
      jQuery(document).ready(function() {
        var checkbox = jQuery('#public-access'),
            link = jQuery("#public-link");

        checkbox.change(function() {
          var checked = checkbox.is(':checked');
          checkbox.prop('disabled', true);
          jsRoutes.controllers.document.DocumentController.setIsPublic('@document.getId', checked).ajax().done(function() {
            checkbox.prop('disabled', false);
          });
        });

        link.focus(function() { jQuery(this).select(); } );
      });
    </script>
    @helper.javascriptRouter("jsRoutes")(
      controllers.document.routes.javascript.DocumentController.setIsPublic
    )
  </label>
}
