@(username: String, document: models.generated.tables.records.DocumentRecord,
  sharingPolicies: Seq[models.generated.tables.records.SharingPolicyRecord])(implicit request: RequestHeader)

@_layout("Settings - Sharing", username, document, Some("sharing")) {
  <div class="panel share-public">
    <h2>Public Access</h2>
      <div class="inner">
        <input type="checkbox" id="public-access" name="public-access" @if(document.getIsPublic) { checked="checked" } />
        <label for="public-access">Visible to all</label>
        <p class="checkbox-details">
          This document will be visible to the public. Visitors can see your annotations, but
          not edit. Link to share:
        </p>
        <p class="checkbox-details">
          <input type="text" id="public-link" value="@controllers.document.annotation.routes.AnnotationController.showAnnotationViewForDoc(document.getId).absoluteURL"/>
        </p>
      </div>
    </div>

    <div class="panel share-collab">
      <h2>Collaborators</h2>
      <div class="inner">
        <p class="no-collaborators" @if(!sharingPolicies.isEmpty) { style="display:none" }>
          This document doesn't have any collaborators yet.
          Use the form below to add a collaborator.
        </p>
        <table class="collaborators">
          @for(shared <- sharingPolicies) {
            <tr data-username="@shared.getSharedWith">
              <td>@shared.getSharedWith</td>
              <td>
                <button class="btn small">@shared.getAccessLevel<span class="icon">&#xf0dd;</span></button>
              </td>
              <td class="outline-icon remove-collaborator">&#xe897;</td>
            </tr>
          }
        </table>
      </div>
      <div class="add-collaborators">
        <form>
          <input type="text" name="collaborator" placeholder="Enter name or e-mail address"/>
        <form>
      </div>
    </div>

    <script>
      window.config = {
        documentId: '@document.getId'
      }
    </script>
    <script src="@routes.Assets.versioned("lib/typeaheadjs/typeahead.jquery.min.js")"></script>
    <script src="@routes.Assets.versioned("lib/requirejs/require.js")" data-main="@routes.Assets.versioned("javascripts/document/settings/sharing.js")"></script>
    @helper.javascriptRouter("jsRoutes")(
      controllers.document.settings.routes.javascript.SettingsController.setIsPublic,
      controllers.document.settings.routes.javascript.SettingsController.searchUsers,
      controllers.document.settings.routes.javascript.SettingsController.addCollaborator,
      controllers.document.settings.routes.javascript.SettingsController.removeCollaborator
    )
  </label>
}
