@(
  doc: services.document.DocumentInfo,
  currentUser: services.user.User,
  sharingPolicies: Seq[services.generated.tables.records.SharingPolicyRecord]
 )(implicit request: RequestHeader, messages: Messages, webJarsUtil: org.webjars.play.WebJarsUtil)

@_layout("Settings | Sharing", doc, currentUser, Some("sharing")) {
  <div class="panel share-public">
    <h2>@messages("document.settings.sharing.public_access")</h2>

    @defining(!doc.license.map(_.isOpen).getOrElse(false)) { disabled =>
      <div class="inner">
        <form id="public-visibility">
          <div class="sharing-option">
            <input type="radio" name="public-access" id="pa-off" value="PRIVATE"@if(doc.publicVisibility == services.document.PublicAccess.PRIVATE) { checked="true"}/>
            <label for="pa-off">
              <strong>Off</strong>
              <span class="save-notifier">Saved</span>
              @if(doc.license.isEmpty) {
                <span class="license-warning"><span class="icon">&#xf071;</span>
                  Set an open license in the <a href="?tab=metadata">metadata settings</a> before enabling public access.
                </span>
              } else { @if(!doc.license.get.isOpen) {
                <span class="license-warning"><span class="icon">&#xf071;</span> The document license (@doc.license.get.name) does not permit public access.</span>
              }}
              <div class="sharing-details">
                Only people you explicitely add as collaborators can access this document.
              </div>
            </label>
          </div>

          <div class="sharing-option@if(disabled){ disabled}">
            <input type="radio" name="public-access" id="pa-public" value="PUBLIC"@if(disabled){ disabled="true"}@if(doc.publicVisibility == services.document.PublicAccess.PUBLIC) { checked="true"}/>
            <label for="pa-public">
              <strong>Anyone on the Web</strong>
              <span class="save-notifier">Saved</span>
              <div class="sharing-details">
                The document is listed on your profile page, and anyone on the Internet can find it.
              </div>
            </label>
          </div>

          <div class="sharing-option@if(disabled){ disabled}">
            <input type="radio" name="public-access" id="pa-with-link" value="WITH_LINK"@if(disabled){ disabled="true"}@if(doc.publicVisibility == services.document.PublicAccess.WITH_LINK) { checked="true"}/>
            <label for="pa-with-link">
              <strong>Anyone with the Link</strong>
              <span class="save-notifier">Saved</span>
              <div class="sharing-details">
                The document is accessible to anyone who has the link, but it is not listed
                on your profile page. Link to share:
                <input type="text" id="public-link" value="@controllers.document.routes.DocumentController.initialDocumentView(doc.id).absoluteURL"/>
              </div>
            </label>
          </div>
        </form>
      </div>

      @defining(disabled || doc.publicVisibility == services.document.PublicAccess.PRIVATE) { noaccess =>
        <div class="inner access-level@if(noaccess){ disabled}">
          <strong>Access:</strong> anyone can
          <select@if(noaccess){ disabled="true"}>
            <option value="READ_ALL">
              view the document.
            </option>

            <option value="READ_DATA"@if(doc.publicAccessLevel == Some(services.document.PublicAccess.READ_DATA)) { selected="true"}>
              see map and downloads, but not the document.
            </option>

            <!-- option value="WRITE"@if(doc.publicAccessLevel == Some(services.document.PublicAccess.WRITE)) { selected="true"}>
              annotate the document.
            </option -->
          </select>
          <span class="save-notifier">Saved</span>

          <div class="note">
            <p>
              Editing requires a Recogito account. Visitors who are not logged in can view the
              document (if enabled), and download annotations from the download page. But they
              can not add annotations, even when public editing is enabled. Blocking access to
              the document content will also limit some of the download options.
            </p>
          </div>
        </div>
      }
    }
  </div>

  <div class="panel share-collab">
    <h2>@messages("document.settings.sharing.collaborators")</h2>
    <div class="inner">
      <p class="no-collaborators description-text" @if(!sharingPolicies.isEmpty) { style="display:none" }>
        @messages("document.settings.sharing.collaborators.none")
      </p>
      <table class="collaborators">
        @for(shared <- sharingPolicies) {
          <tr data-username="@shared.getSharedWith" data-level="@shared.getAccessLevel">
            <td class="col-user">
              <a href="@controllers.my.routes.MyRecogitoController.index(shared.getSharedWith, None, None, None, None, None)">@shared.getSharedWith</a>
            </td>
            <td class="col-permissions">
              <button class="permissions btn small"><span class="label">@shared.getAccessLevel</span><span class="icon">&#xf0dd;</span></button>
            </td>
            <td class="col-actions outline-icon remove-collaborator">&#xe897;</td>
          </tr>
        }
      </table>
    </div>
    <div class="add-collaborators">
      <form>
        <input type="text" name="collaborator" placeholder="@messages("document.settings.sharing.collaborators.enter_username")"/>
      <form>
    </div>
  </div>

  <script>
    window.config = {
      me: '@currentUser.username',
      documentId: '@doc.id'
    }
  </script>
  @Html(webJarsUtil.script("typeahead.jquery.min.js"))
  @Html(webJarsUtil.requireJs(routes.Assets.versioned("javascripts/document/settings/sharing.js")))
  @helper.javascriptRouter("jsRoutes")(
    controllers.my.routes.javascript.MyRecogitoController.index,
    controllers.document.settings.routes.javascript.SettingsController.setPublicVisibility,
    controllers.document.settings.routes.javascript.SettingsController.setPublicAccessLevel,
    controllers.document.settings.routes.javascript.SettingsController.searchUsers,
    controllers.document.settings.routes.javascript.SettingsController.addCollaborator,
    controllers.document.settings.routes.javascript.SettingsController.removeCollaborator
  )
}
