@import "../_loginInfo.less";
@import "../_sidebar.less";

.header-iconbar {
  background-color:#fff;
  margin-left:@sidebar-width;
  height:70px;
  border-bottom:1px solid @lightgrey-border;
  z-index:99998;
  .noselect();

  ul {
    box-sizing:border-box;
    list-style-type:none;
    margin:0;
    padding:0 0 0 30px;
    position:relative;
  }

  li {
    position:relative;
    cursor:pointer;
    display:inline-block;
    font-size:32px;
    margin:0 50px 0 0;
    padding:25px 0;

    a {
      color:@lightblue-type;
      text-decoration:none;
    }

  }

  li .icon {
    font-family:Tonicons;
  }

  li.active .icon {
    position:relative;
    top:-6px;
    padding:11px;
    color:#fff;
    background-color:@ocean;
    font-size:26px;
    text-align:center;
    .rounded-corners(50%);
  }

  .tooltip .hint {
    position:absolute;
    top:67px;
    left:-50px;
    padding:8px;
    width:120px;
    white-space:normal;
  }

  .tooltip.narrow .hint {
    left:-30px;
    width:70px;
  }

  .tooltip.active .hint {
    left:-43px;
    top:73px;
  }

  .tooltip.narrow.active .hint {
    left:-21px;
  }

  .save-msg {
    position:absolute;
    top:27px;
    left:550px;
    font-size:15px;
    color:@lightgrey-type;
  }

  .logged-in {
    top:22px;
    right:28px;
  }

} /** .header-iconbar **/

.header-infobox {
  background-color:#fff;
  margin-left:@sidebar-width;
  padding-left:32px;
  border-bottom:1px solid @lightgrey-border;
  color:@nightsky-type;
  position:relative;
  z-index:99997;

  h1 {
    font-weight:normal;
    padding:25px 32px 7px 0;
  }

  h2 {
    font-weight:normal;
  }

  p {
    color:@lightblue-type;
    padding:0;
    margin:0;
    font-size:15px;
  }

  .source a {
    color:@grey-type;
  }

  .quick-stats {
    padding-bottom:25px;
  }

  .icon {
    position:relative;
    font-size:12px;
    padding-right:3px;
    top:-1px;
  }

  .icon.comment {
    top:-2px;
  }

} /** .header-infobox **/
