@sidebar-width:200px;

.header-iconbar {
  position:fixed;
  background-color:#fff;
  z-index:1;
  width:100%;
  margin-left:@sidebar-width;
  height:70px;
  border-bottom:1px solid @lightgrey-border;
  .noselect();

  ul {
    box-sizing:border-box;
    list-style-type:none;
    margin:0;
    padding:0 0 0 30px;
    position:relative;
  }

  li {
    position:relative;
    cursor:pointer;
    display:inline-block;
    font-size:32px;
    margin:0 50px 0 0;
    padding:25px 0;
  }

  a {
    color:@lightblue-type;
    text-decoration:none;
  }

  li .icon {
    font-family:Tonicons;
  }

  li.active .icon {
    position:relative;
    top:-6px;
    padding:11px;
    color:#fff;
    background-color:@ocean;
    font-size:26px;
    text-align:center;
    .rounded-corners(50%);
  }

  li.home {
    position:absolute;
    top:0;
    right:200px;
  }

  .tooltip .hint {
    position:absolute;
    top:67px;
    left:-73px;
    padding:8px;
    width:160px;
    white-space:normal;
  }

  .tooltip.active .hint {
    top:73px;
    left:-65px;
  }

  li.home .hint {
    width:100px;
    left:-45px;
  }

} /** .header-iconbar **/

.header-infobox {
  z-index:0;
  background-color:#fff;
  padding-top:70px;
  margin-left:@sidebar-width;
  border-bottom:1px solid @lightgrey-border;
  color:@nightsky;

  h1 {
    font-weight:normal;
    padding:30px 32px 7px 32px;
  }

  h2 {
    padding-left:32px;
    font-weight:normal;
  }

  p {
    color:@lightblue-type;
    padding:3px 32px 30px 32px;
    margin:0;
    font-size:15px;
  }

  .icon {
    position:relative;
    font-size:12px;
    padding-right:3px;
    top:-1px;
  }

  .icon.comment {
    top:-2px;
  }

} /** .header-infobox **/
