.sidebar {
  position:fixed;
  top:0;
  bottom:0;
  width:@sidebar-width;
  background-color:@nightsky;
  font-family:OpenSans;

  .sidebar-header {
    position:relative;
    box-sizing:border-box;
    background-color:@ocean;
    height:70px;
    text-align:center;
    color:#fff;

    .icon {
      cursor:default;
      font-family:Tonicons;
      font-size:40px;
      line-height:70px;
    }

    .hint {
      width:120px;
      margin-top:68px;
      margin-left:-93px;
    }

  } /** .sidebar-header **/

  .sidebar-parts {

    ul {
      text-align:center;
      list-style-type:none;
      margin:0;
      padding:10px 0 0 0;
    }

    a {
      display:block;
      color:@nightsky-type-disabled;
      font-size:16px;
      padding:10px 15px;
      font-weight:bold;
      letter-spacing:0.7px;
      text-decoration:none;
    }

    li {
      margin:10px 0;
      padding:0;
    }

    li.active a {
      color:@nightsky-type;
      background-color:@nightsky-dark;
    }

    li:hover {
      background-color:fadeout(@nightsky-dark, 50%);
    }

  }

}
