@(
  settingsForm: Form[controllers.my.settings.AccountSettingsData],
  user: services.user.User
)(implicit request: RequestHeader, messages: Messages, webJarsUtil: org.webjars.play.WebJarsUtil, flash: Flash)
<!DOCTYPE html>
<html>
  <head>
    <title>@messages("account_settings.sidebar.account")</title>
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/my/settings/index.css")"/>
    @Html(webJarsUtil.script("1.12.0/jquery.min.js"))
    @Html(webJarsUtil.requireJs(routes.Assets.versioned("javascripts/my/settings/account.js")))
  </head>

  <body>
    <div class="sidebar">
      @views.html.sidebarHeader(user.record)

      <ul class="menu">
        <li class="active">
          <a href="#" onclick="return false;">
            <span class="label">@messages("account_settings.sidebar.account")</span>
          </a>
        </li>

        <li>
          <a href="@controllers.my.settings.routes.PasswordSettingsController.index">
            <span class="label">@messages("account_settings.sidebar.password")</span>
          </a>
        </li>

        <li>
          <a href="@controllers.my.settings.routes.RestoreController.index">
            <span class="label">@messages("account_settings.sidebar.restore")</span>
          </a>
        </li>
      </ul>
    </div>

    <div class="content">

      <div class="panel account-settings">
        <h2>@messages("account_settings.account.account_settings")</h2>
        @flash.get("success").map { msg =>
          <div class="success flash-message"><span class="icon">&#xf00c;</span> @msg</div>
        }
        @flash.get("error").map { msg =>
          <div class="error flash-message"><span class="icon">&#xf00d;</span> @msg</div>
        }
        <div class="inner">
          @helper.form(action = controllers.my.settings.routes.AccountSettingsController.updateAccountSettings(), args = 'class -> "crud", 'autocomplete -> "off") {
            @helper.inputText(settingsForm("email"), args = '_label -> messages("account_settings.account.email"), '_help -> "", 'autocomplete -> "false")
            @helper.inputText(settingsForm("name"), args = '_label -> messages("account_settings.account.name"), '_help -> "Optional", 'placeholder -> "Your name", 'autocomplete -> "false")
            @helper.textarea(settingsForm("bio"), args = '_label -> messages("account_settings.account.about_you"), '_help -> "Optional", 'placeholder -> "Tell other users something about yourself", 'autocomplete -> "false")
            @helper.inputText(settingsForm("website"), args = '_label -> messages("account_settings.account.website"), '_help -> "Optional", 'placeholder -> "A link to a page about you", 'autocomplete -> "false")
            <dt></dt>
            <dd>
              <button type="submit" class="btn"/>@messages("common.buttons.save_changes")</button>
            </dd>
          }
        </div>
      </div>

      <div class="panel delete-account centered">
        <h2>@messages("account_settings.account.delete.title")</h2>
        <div class="inner">
          <p>@messages("account_settings.account.delete.warning")</p>
          <button type="submit" class="btn red"/>@messages("account_settings.account.delete.button")</button>
        </div>
      </div>
    </div>

    @helper.javascriptRouter("jsRoutes")(
      controllers.my.settings.routes.javascript.AccountSettingsController.deleteAccount
    )
  </body>
</html>
