@(
  settingsForm: Form[controllers.my.settings.AccountSettingsData],
  user: models.generated.tables.records.UserRecord
)(implicit messages: Messages, flash: Flash, request: RequestHeader, webjars: WebJarAssets)
<!DOCTYPE html>
<html>
  <head>
    <title>Account Settings</title>
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/my/settings/index.css")"/>
    <script src="@routes.WebJarAssets.at(webjars.locate("1.12.0/jquery.min.js"))"></script>
    <script src="@routes.WebJarAssets.at(webjars.locate("require.min.js"))" data-main="@routes.Assets.versioned("javascripts/my/settings/account.js")"></script>
  </head>

  <body>
    <div class="sidebar">
      @views.html.sidebarHeader(user)

      <ul class="menu">
        <li class="active">
          <a href="#" onclick="return false;">
            <span class="label">Account</span>
          </a>
        </li>

        <li>
          <a href="@controllers.my.settings.routes.PasswordSettingsController.index">
            <span class="label">Password</span>
          </a>
        </li>

        <li>
          <a href="@controllers.my.settings.routes.RestoreController.index">
            <span class="label">Restore from Backup</span>
          </a>
        </li>
      </ul>
    </div>

    <div class="content">

      <div class="panel account-settings">
        <h2>Account Settings</h2>
        @flash.get("success").map { msg =>
          <div class="success flash-message"><span class="icon">&#xf00c;</span> @msg</div>
        }
        @flash.get("error").map { msg =>
          <div class="error flash-message"><span class="icon">&#xf00d;</span> @msg</div>
        }
        <div class="inner">
          @helper.form(action = controllers.my.settings.routes.AccountSettingsController.updateAccountSettings(), args = 'class -> "crud", 'autocomplete -> "off") {
            @helper.inputText(settingsForm("email"), args = '_label -> "E-Mail", '_help -> "", 'autocomplete -> "false")
            @helper.inputText(settingsForm("name"), args = '_label -> "Name", '_help -> "Optional", 'placeholder -> "Your name", 'autocomplete -> "false")
            @helper.textarea(settingsForm("bio"), args = '_label -> "About You", '_help -> "Optional", 'placeholder -> "Tell other users something about yourself", 'autocomplete -> "false")
            @helper.inputText(settingsForm("website"), args = '_label -> "Your Website", '_help -> "Optional", 'placeholder -> "A link to a page about you", 'autocomplete -> "false")
            <dt></dt>
            <dd>
              <button type="submit" class="btn"/>Save Changes</button>
            </dd>
          }
        </div>
      </div>

      <div class="panel delete-account centered">
        <h2>Delete Account</h2>
        <div class="inner">
          <p>Warning: deleting your account will also delete all your documents and annotations.
            Make sure have created backups of all documents you want to keep. Deleting your account
            is irreversible.</p>
          <button type="submit" class="btn red"/>Delete my account</button>
        </div>
      </div>
    </div>

    @helper.javascriptRouter("jsRoutes")(
      controllers.my.settings.routes.javascript.AccountSettingsController.deleteAccount
    )
  </body>
</html>
