@(passwordForm: Form[controllers.my.settings.PasswordSettingsData])(implicit messages: Messages, flash: Flash)
<!DOCTYPE html>
<html>
  <head>
    <title>Password</title>
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/my/settings/index.css")"/>
  </head>

  <body>
    <div class="sidebar">
      <ul class="menu">
        <li>
          <a href="@controllers.my.settings.routes.AccountSettingsController.index">
            <span class="label">Account</span>
          </a>
        </li>

        <li class="active">
          <a href="#" onclick="return false;">
            <span class="label">Password</span>
          </a>
        </li>
      </ul>
    </div>

    <div class="content">

      <div class="panel password-settings">
        <h2>Change Password</h2>
        <div class="inner">
          @helper.form(action = controllers.my.settings.routes.PasswordSettingsController.updatePassword(), args = 'autocomplete -> "off") {
            @helper.inputPassword(passwordForm("current"), args = '_label -> "Current password", 'autocomplete -> "false")
            @helper.inputPassword(passwordForm("new"), args = '_label -> "New password", 'autocomplete -> "false")
            @helper.inputPassword(passwordForm("verify"), args = '_label -> "Verify password", 'autocomplete -> "false")
            <dt></dt>
            <dd>
              <button type="submit" class="btn"/>Save Changes</button>
            </dd>
          }
        </div>
      </div>

    </div>
  </body>
</html>
