@(
  passwordForm: Form[controllers.my.settings.PasswordSettingsData],
  user: services.user.User
)(implicit messages: Messages, flash: Flash)
<!DOCTYPE html>
<html>
  <head>
    <title>Password</title>
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/my/settings/index.css")"/>
  </head>

  <body>
    <div class="sidebar">
      @views.html.sidebarHeader(user.record)

      <ul class="menu">
        <li>
          <a href="@controllers.my.settings.routes.AccountSettingsController.index">
            <span class="label">Account</span>
          </a>
        </li>

        <li class="active">
          <a href="#" onclick="return false;">
            <span class="label">Password</span>
          </a>
        </li>

        <li>
          <a href="@controllers.my.settings.routes.RestoreController.index">
            <span class="label">Restore from Backup</span>
          </a>
        </li>
      </ul>
    </div>

    <div class="content">

      <div class="panel password-settings">
        <h2>Change Password</h2>
        @flash.get("success").map { msg =>
          <div class="success flash-message"><span class="icon">&#xf00c;</span> @msg</div>
        }
        @flash.get("error").map { msg =>
          <div class="error flash-message"><span class="icon">&#xf00d;</span> @msg</div>
        }
        @passwordForm.globalError.map { error =>
          <div class="error flash-message"><span class="icon">&#xf00d;</span> @error.message</div>
        }
        <div class="inner">
          @helper.form(action = controllers.my.settings.routes.PasswordSettingsController.updatePassword(), args = 'class -> "crud", 'autocomplete -> "off") {
            @helper.inputPassword(passwordForm("current"), args = '_label -> "Current password", 'autocomplete -> "false")
            @helper.inputPassword(passwordForm("new"), args = '_label -> "New password", 'autocomplete -> "false")
            @helper.inputPassword(passwordForm("verify"), args = '_label -> "Verify password", 'autocomplete -> "false")
            <dt></dt>
            <dd>
              <button type="submit" class="btn"/>Save Changes</button>
            </dd>
          }
        </div>
      </div>

    </div>
  </body>
</html>
