@(
  user: models.generated.tables.records.UserRecord
)
<!DOCTYPE html>
<html>
  <head>
    <title>Account Settings</title>
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/my/settings/index.css")"/>
  </head>

  <body>
    <div class="sidebar">
      @views.html.sidebarHeader(user)

      <ul class="menu">
        <li>
          <a href="#" onclick="return false;">
            <span class="label">Account</span>
          </a>
        </li>

        <li>
          <a href="@controllers.my.settings.routes.PasswordSettingsController.index">
            <span class="label">Password</span>
          </a>
        </li>

        <li class="active">
          <a href="#">
            <span class="label">Restore from Backup</span>
          </a>
        </li>
      </ul>
    </div>

    <div class="content">
      <div class="restore panel centered">
        <h2>Restore</h2>
        <div class="inner">
          <p class="description">
            You can restore a document from a ZIP package downloaded earlier through Recogito's
            Backup function.
          </p>
          @helper.form(action = controllers.my.settings.routes.RestoreController.restore(), 'enctype -> "multipart/form-data") {
            <input type="file" name="backup" id="backup" onchange="this.form.submit()">
            <label class="btn" for="backup">
              <span class="icon">&#xf093;</span> Upload ZIP Backup Package
            </label>
          }
        </div>
      </div>
    </div>
  </body>
</html>
