// @belize-hole:#2980b9;
@recogito-ocean:#4483c4;
@belize-hole:#3D75B0;

@sidebar-width:200px;

body {
  background-color:#ecf0f1;
}

.sidebar {
  position:fixed;
  top:0;
  width:@sidebar-width;
  min-height:100%;
  background-color:#34495e;

  .sidebar-header {
    box-sizing:border-box;
    background-color:#4483c4;
    height:70px;
    text-align:center;
    vertical-align:middle;
    color:#fff;
    font-family:OpenSans;
    position:relative;
    font-size:14px;
    vertical-align:middle;

    .icon {
      display:inline-block;
      font-family:Tonicons;
      font-size:40px;
      line-height:70px;
      height:40px;
    }

  }

}
