@import "../_globals.less";
@import "_header.less";
@import "_layout.less";

pre {
  margin:40px 0 50px 230px;
  line-height:170%;
  font-family:"Times New Roman", Times, serif;
  white-space: pre-wrap;
  font-size:17px;
  min-width:536px;
  max-width:60%;
}

.entity {
  border-style:dotted;
  border-width:0 0 1px 0;
}

.entity.PLACE {
  border-color:rgba(255, 0, 0, 0.3);
  background-color:rgba(255, 0, 0, 0.15);
}

.entity.PERSON {
  border-color:rgba(0, 0, 255, 0.3);
  background-color:rgba(0, 0, 255, 0.15);
}

.entity.COMMENT {
  border-color:rgba(255, 255, 0, 0.4);
  background-color:rgba(255, 255, 0, 0.25);
}
