@import "../../_globals.less";
@import "../_header.less";

.content {
  position:absolute;
  top:71px;
  left:200px;
  right:0;
  padding:20px 30px;
  color:@grey-type;

  .inner {
    min-height:30px;
  }

  .empty {
    text-align:center;
  }

  .download-csv {
    position:absolute;
    right:20px;
    bottom:0;

    a { color:@lightblue-type; }

  }

}
