.preferences.clicktrap {
  z-index:2; // Needed for "sort ghost" element
}

.preferences .modal-wrapper {
  max-width:620px;
}

.preferences .modal-body {
  position:relative;
  height:100%;
  overflow-y:auto;
  font-weight:bold;

  .wrapper {
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
  }
}

.preferences .selected-columns {
  flex-grow:1;

  .all {
    color:$ocean;
    font-size:15px;
    font-family:Assistant;
    text-decoration:underline;
    padding:25px 0 5px 27px;
    font-weight:bold;
  }

  ul {
    list-style-type:none;
    padding:0 0 25px 0;
    margin:0;
  }

  li {
    padding:8px 30px;
    font-size:15px;

    label {
      cursor:pointer;
    }

    label:before {
      font-size:14px;
      font-weight:normal;
    }

  }

}

.card {
  position:relative;
  margin:8px;
  padding:12px;
  font-weight:bold;
  color:darken(@lightgrey-border, 50%);
  background-color:@lightgrey-border;
  border:1px solid darken(@lightgrey-border, 20%);
  box-shadow:1px 1px 3px rgba(0, 0, 0, 0.18);
  cursor:grab;
  z-index:3; // Needed for "sort ghost" element

  .noselect();
  .rounded-corners(2px);
}

.card::before {
  content:'\f0c9';
  position:absolute;
  right:15px;
  top:15px;
  font-family:FontAwesome;
  font-size:14px;
  font-weight:normal;
  color:darken(@lightgrey-border, 25%);
}

.preferences .column-order {
  flex-grow:0;
  width:240px;
  border-left:1px solid @lightgrey-border-darker;
  background-color:@blueish-white;
}
