@import "../../_globals.less";
@import "../_header.less";
@import "../_sidebar.less";

#image-pane {
  background:url('/assets/images/seamless_paper_texture.png');
  width:100%;
  margin-left:@sidebar-width;
  height:100%;
}
