.section.comments {
  padding:0;
  margin:0;

  .textarea {
    padding:10px 15px;
    min-height:2.5em;
    max-height:120px;
    overflow:auto;
    background-color:#fff;
    border-bottom:1px solid @lightgrey-border;
    outline:none;
  }

  textarea {
    display:block;
    background-color:#fff;
    margin:0;
    border:0;
    padding:10px 0;
    outline:none;
    width:100%;
    font-family:PTSansNarrow;
    font-size:17px;
    line-height:20px;
    color:@nightsky;
    resize:none;
    overflow-y:hidden;
    height:60px;
    max-height:120px;
  }



}
