@import "_placesection.less";
@import "_commentsection.less";

.text-annotation-editor {
  position:absolute;
  top:290px;
  left:400px;
  width:450px;
  background-color:@blueish-white;
  .box-shadow(2px, 2px, 12px, rgba(0, 0, 0, 0.25));
  .rounded-corners(3px);
  overflow:hidden;
  color:@nightsky;

  .handle {
    background-color:@ocean;
    height:12px;
    cursor:move;
  }

  .category-buttons {
    border-bottom:1px solid @lightgrey-border;
    background-color:#fff;
    font-size:16px;

    .category {
      display:inline-block;
      width:33%;
      padding:7px 15px;
      box-sizing:border-box;
      cursor:pointer;

      .icon {
        font-size:90%;
        vertical-align:top;
        margin-right:4px;
      }

    }

    .category:last-child {
      width:34%;
    }

    .category:hover {
      background-color:@blueish-white-hi;
    }

    .category:not(:last-child) {
      border-right:1px solid @lightgrey-border;
    }

  }

  .footer {
    text-align:right;
    padding:6px 0;
    background-color:#fff;

    button:last-child {
      margin-right:6px;
    }

  }

}
