.section.place {
  position:relative;
  padding:0;
  margin:0;
  height:100px;
  color:@nightsky;

  .map {
    position:absolute;
    width:100%;
    height:100%;
  }

  .panel-container {
    position:relative;
    width:100%;
    height:100%;
    box-sizing:border-box;
    padding-right:130px;
    pointer-events:none;
    border-bottom:1px solid @lightgrey-border;
    overflow:hidden;
  }

  .panel {
    background-color:rgba(255, 255, 255, 0.8);
    height:100%;
    pointer-events:auto;
    padding:10px 20px 10px 15px;
    .box-shadow(0, 0, 18px, rgba(0, 0, 0, 0.12));
  }

  h3, p {
    margin:0;
    padding:0;
    line-height:21px;
    font-size:16px;
    font-weight:normal;
    white-space:nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  h3 {
    font-weight:bold;
  }

}

.leaflet-control-attribution {
  display:none;
}
