.section.place {
  position:relative;
  padding:0;
  margin:0;
  color:@nightsky;

  .map {
    position:absolute;
    width:100%;
    height:100%;
  }

  .panel-container {
    position:relative;
    width:100%;
    height:140px;
    box-sizing:border-box;
    padding-right:165px;
    pointer-events:none;
    overflow:hidden;
    border-bottom:1px solid @lightgrey-border-darker;
  }

  .panel {
    pointer-events:auto;
    padding:3px 15px;
    box-sizing:border-box;
    margin:0;
    background-color:fade(@blueish-white-hi, 80%);
    width:100%;
    height:100%;
    .box-shadow(0, 0, 18px, rgba(0, 0, 0, 0.15));
    position:relative;

    h3 {
      margin:0;
      padding:0;
      color:desaturate(@nightsky, 100%);
      white-space:nowrap;
      text-overflow:ellipsis;
      overflow:hidden;
      font-size:17px;
      font-weight:normal;
    }

    .gazetteer {
      margin:-2px 0 2px 0;
      font-size:14px;

      a {
        color:desaturate(@nightsky, 100%);
      }

    }

    p {
      color:lighten(desaturate(@nightsky, 100%), 20%);
      margin:0;
      padding:0;
      font-size:15px;
      line-height:19px;
      overflow:hidden;
      white-space:nowrap;
      text-overflow:ellipsis;
    }

    .created {
      bottom:6px;
    }

    .change {
      position:absolute;
      right:14px;
      bottom:6px;
    }

    .warning-unverified {
      width:100%;
      box-sizing:border-box;
      position:absolute;
      bottom:0;
      left:0;
      padding:2px 15px 0 15px;
      font-size:15px;
      background-color:fade(#f0ad4e, 18%);
      border-top:1px solid #f0ad4e;
      color:darken(#f0ad4e, 10%);
      line-height: 25px;

      button {
        float:right;
        .rounded-corners(2px);
        line-height:21px;
        background:none;
        background-color:#f0ad4e;
        border:none;
        color:#fff;
        cursor:pointer;
        outline:none;
        font-family:PTSansNarrow;
        font-size:14px;
        margin:1px 5px 0 0;
        padding:0 7px;
      }

    }

  } /** .panel **/

}

.leaflet-control-attribution {
  display:none;
}
