.section.place {
  position:relative;
  padding:0;
  margin:0;
  height:100px;
  color:@nightsky;

  .map {
    position:absolute;
    width:100%;
    height:100%;
  }

  .panel-container {
    position:relative;
    width:100%;
    height:100%;
    box-sizing:border-box;
    padding-right:130px;
    pointer-events:none;
    border-bottom:1px solid @lightgrey-border;
    overflow:hidden;
  }

  .panel {
    background-color:rgba(255, 255, 255, 0.8);
    height:100%;
    pointer-events:auto;
    padding:10px 15px;
    .box-shadow(0, 0, 18px, rgba(0, 0, 0, 0.12));
  }

  .warning-unverified {
    position:relative;
    background-color:#fcf8f2;
    border:1px solid #f0ad4e;
    padding:1px 6px;
    color:darken(#f0ad4e, 10%);
    margin-bottom:5px;
    font-size:16px;
    .rounded-corners(2px);
    
    .icon {
      padding-right:5px;
    }

    .buttons {
      position:absolute;
      right:6px;
      top:3px;

      button {
        color:rgba(0, 0, 0, 0.6);
      }

    }

  }

  h3, p {
    margin:0;
    padding:0;
    line-height:21px;
    font-size:16px;
    font-weight:normal;
    white-space:nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display:inline-block;
  }

  h3 {
    font-weight:bold;
    padding-right:5px;
  }

}

.leaflet-control-attribution {
  display:none;
}
