svg {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  display:none;
  pointer-events:none;

  circle {
    stroke:@standard-type;
    stroke-width:1.5;
    fill:@standard-type;
  }

  circle.end {
    fill:#fff;
  }

  path {
    stroke:@standard-type;
    stroke-width:1.5;
    fill:transparent;
  }

}
