@import "../_autocomplete.less";

// TEMPORARY
ul.menu {

  a.new {
    width:auto;
    display:inline;
    margin-left:2px;
    padding:1px 4px;
    background-color:darken(@orange-type, 7%);
    color:#fff;
    .rounded-corners(2px);
    font-size:12px;
  }

  li.group.annotation-mode {
    padding-right:0;
  }

}

svg#relations.readonly .mid rect {
  pointer-events:none; // Override in case of read-only access
}

svg#relations {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  pointer-events:none;

  circle {
    stroke:lighten(@standard-type, 7%);
    stroke-width:0.4;
    fill:@standard-type;
  }

  rect {
    stroke-width:1.4;
    stroke:fade(@standard-type, 90%);
    fill:transparent;
  }

  path {
    stroke:lighten(@standard-type, 10%);
    stroke-linecap:round;
    stroke-linejoin:round;
    fill:transparent;
  }

  path.connection {
    stroke-width:1.6;
    stroke-dasharray:2,3;
  }

  path.arrow {
    stroke-width:1.8;
    fill:lighten(@standard-type, 25%);
  }

  .mid {

    rect {
      stroke-width:1;
      stroke:lighten(@standard-type, 10%);
      fill:#fff;
      pointer-events:auto;
      cursor:pointer;
    }

    text {
      font-size:12px;
    }

  }

}

.connection-editor-popup {
  position:absolute;
  .box-shadow(0, 1px, 14px, rgba(0, 0, 0, 0.4));
  transform:translate(-50%, 0);
  .rounded-corners(3px);

  * {
    line-height:31px;
    box-sizing:border-box;
  }

  .input {
    height:34px;
    display:block;
    padding:1px 6px;
    margin-right:68px;
    font-size:15px;
    min-width:80px;
    outline:none;
    .rounded-corners-left(3px);
    background-color:@blueish-white;
    cursor:text;
  }

  .buttons {
    position:absolute;
    display:inline-flex;
    top:0;
    right:0;

    span {
      height:34px;
      display:inline-block;
      width:34px;
      text-align:center;
      font-size:14px;
      cursor:pointer;
      padding:1px 0;
    }

    .delete {
      background-color:#fff;
      color:@grey-type;
      border-left:1px solid @lightgrey-border;
    }

    .delete:hover {
      background-color:#f6f6f6;
    }

    .ok {
      background-color:@ocean;
      color:#fff;
      .rounded-corners-right(3px);
    }

    .ok:hover {
      background-color:@ocean-hover;
    }

  }

  .input:empty:before {
    content:attr(data-placeholder);
    color:darken(@lightgrey-border-darker, 15%);
  }

  .tt-menu {
    margin-top:2px;
    color:@grey-type;
  }

}

#main.noselect #content {
  .noselect();
}
