svg {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  display:none;
  pointer-events:none;

  circle {
    stroke:lighten(@standard-type, 7%);
    stroke-width:0.4;
    fill:@standard-type;
  }

  circle.mid {
    stroke-width:1.6;
    fill:#fff;
  }

  rect {
    stroke-width:1.4;
    stroke:fade(@standard-type, 90%);
    fill:transparent;
  }

  path {
    stroke:fade(@standard-type, 80%);
    stroke-width:1.6;
    stroke-linecap:round;
    stroke-linejoin:round;
    stroke-dasharray:2,3;
    fill:transparent;
  }

}

.connection-editor-popup {
  position:absolute;
  background-color:#fff;
  padding: 1px 6px;
  border:1px solid lighten(@standard-type, 7%);
  .rounded-corners(2px);
  .box-shadow(0, 1px, 12px, rgba(0, 0, 0, 0.25));
  transform:translate(-50%, 0);

  span {
    display:inline-block;
    font-size:15px;
    min-width:30px;
    min-height:1em;
    outline:none;
  }

  span:empty:before {
    content:attr(data-placeholder);
    color:darken(@lightgrey-border-darker, 15%);
  }

}

#main.noselect #content {
  .noselect();
}
