@import "../../../_globals.less";

.annotation {
  position:relative;
  border-style:dotted;
  border-width:0 0 1px 0;
  border-color:rgba(76, 76, 76, 0.6);
  background-color:rgba(82, 82, 82, 0.2);
  cursor:pointer;
}

.annotation.multiple::before {
  position:absolute;
  left:0;
  bottom:-23px;
  font-family:FontAwesome;
  font-size:10px;
  content:'\0f02c';
  color:lighten(@standard-type, 15%);
}

.annotation.multiple::after {
  position:absolute;
  left:12px;
  bottom:-23px;
  font-family:OpenSans;
  font-size:11px;
  font-weight:bold;
  content:attr(data-num);
  color:lighten(@standard-type, 15%);
}
