@import "../../../_globals.less";
@import "../../../_alert.less";
@import "../../_header.less";
@import "../_loadindicator.less";
@import "../_toolbar.less";
@import "../editor/_editor.less";

body {
  background-color:@blueish-white;
}

.header-iconbar {
  position:fixed;
  left:0;
  right:0;
}

.header-infobox {
  padding-top:70px;
}

.header-toolbar {
  position:absolute;

  li.quick::before {
    display:inline-block;
    position:relative;
    width:7px;
    content:'';
    font-family:FontAwesome;
  }

  li.quick.PLACE::before {
    content:'\f041';
    left:0;
  }

  li.quick.PERSON::before {
    content:'\f007';
    left:-3px;
  }

  li.quick.TAGS::before {
    content:'\f02c';
    left:-1px;
  }

} /** .header-toolbar **/

.header-toolbar.fixed {
  position:fixed;
  top:70px;
  width:100%;
}

.header-toolbar.sticky {
  position:-webkit-sticky;
  position:-moz-sticky;
  position:-ms-sticky;
  position:-o-sticky;
  position:sticky;
  top:70px;
}

#main {
  position:relative;
  margin:0 0 50px 200px;

  #content {
    padding:50px 50px 0 30px;
    line-height:190%;
    font-family:"Times New Roman", Times, serif;
    white-space:pre-wrap;
    font-size:17px;
    min-width:568px;
    max-width:1024px;
    word-wrap:break-word;
  }

  #content.rtl {
    direction:rtl;
  }

  #content.touch {
    margin-top:5px;
  }

}

.selection {
  background-color:fade(@ocean, 35%);
}

.alert em {
  font-style:normal;
  text-decoration:underline;
}
