/** Button colours **/
@btn-grey-bg:#dfdfdf;
@btn-grey-bg-hover:#f2f2f2;
@btn-grey-text:#555;

@btn-blue-bg:#4483c4;
@btn-blue-bg-hover:#4f92d7;
@btn-blue-bg-disabled:#a3c2e2;
@btn-blue-text:#fff;

.btn {
  cursor:pointer;
  margin:0 5px;
  font-family:PTSansNarrow;
  text-decoration:none;
  border-radius:2px;
  display:inline-block;
  color:@btn-grey-text;
  background-color:@btn-grey-bg;
  outline:none;
  border:none;
}

.btn:hover {
  background-color:@btn-grey-bg-hover;
}

.btn-large {
  font-size:17px;
  padding:10px 40px;
}

.btn-blue {
  color:@btn-blue-text;
  text-shadow:0 -1px 0 rgba(0,0,0,0.2);
  background-color:@btn-blue-bg;
}

.btn-blue:hover {
  background-color:@btn-blue-bg-hover;
}

.btn-blue:disabled {
  background-color:@btn-blue-bg-disabled;
}
