/** Default blue button **/
.btn {
  box-sizing:border-box;
  cursor:pointer;
  margin:0 2px;
  padding:10px 40px;
  font-family:PTSansNarrow;
  font-size:17px;
  .rounded-corners(2px);
  display:inline-block;
  color:#fff;
  background-color:@ocean;
  border:1px solid @ocean;
  outline:none;
  text-shadow:0 -1px 0 rgba(0,0,0,0.2);
  text-decoration:none;
}

.btn:hover {
  border-color:@ocean-hover;
  background-color:@ocean-hover;
}

.btn:disabled {
  border-color:@ocean-disabled;
  background-color:@ocean-disabled;
}

/** Outline button **/
.btn.outline {
  border-color:@ocean;
  color:@ocean;
  background-color:transparent;
  text-shadow:none;
}

.btn.outline:hover {
  background-color:rgba(255, 255, 255, 0.65);
}
