/** General page colours **/
@page-background-lightgrey:  #323232;
@page-headline-blue:         #5B83AD;

/** Login & signup **/
@login-box-background-grey:  #f2f2f2;
@login-error-red:            #ef4343;
@login-form-textcolor-grey:  #525252;
@login-form-bg-white:        #fff;
@login-form-border-grey:     #e7e7e7;
@login-form-border-hi-blue:  #4f92d7;
@login-form-glow-blue:       rgba(79,146,215,0.5);
