.error-msg {
  color:@red-type;
  font-size:15px;
  padding:10px 0 0 0;
}


dl, dd {
  padding:0;
  margin:0;
}

dd.error {
  color:@red-type;
  font-size:15px;
  margin-top:-5px;
  padding-bottom:5px;
}

input {
  border:0;
  outline:none;
  font-size:17px;
}

input[type=text], input[type=password] {
  box-sizing:border-box;
  color:@form-type;
  background-color:#fff;
  font-family:PTSansNarrow;
  letter-spacing:1px;
  border:1px solid @form-grey-border;
}

input[type=text]:focus, input[type=password]:focus {
  border-color:@form-blue-border;
  box-shadow:0 0 4px 0 @form-blue-glow;
}

input[type=checkbox] { display:none; }

label { .noselect(); }

input[type=checkbox] + label:before {
  .noselect();
  cursor:pointer;
  font-family:FontAwesome;
  font-size:16px;
  display:inline-block;
  content:'\f096';
  width:20px;
  text-align:left;
}

input[type=checkbox]:checked + label:before {
  content:'\f046';
}
