.rounded-corners(@radius) {
  -webkit-border-radius: @radius;
  -khtml-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
}

.rounded-corners-top(@radius) {
  -webkit-border-top-left-radius: @radius;
  -webkit-border-top-right-radius: @radius;
  -khtml-border-radius-topleft: @radius;
  -khtml-border-radius-topright: @radius;
  -moz-border-radius-topleft: @radius;
  -moz-border-radius-topright: @radius;
  border-top-left-radius: @radius;
  border-top-right-radius: @radius;
}

.rounded-corners-right(@radius) {
  -webkit-border-top-right-radius: @radius;
  -webkit-border-bottom-right-radius: @radius;
  -khtml-border-radius-topright: @radius;
  -khtml-border-radius-bottomright: @radius;
  -moz-border-radius-topright: @radius;
  -moz-border-radius-bottomright: @radius;
  border-top-right-radius: @radius;
  border-bottom-right-radius: @radius;
}

.rounded-corners-bottom(@radius) {
  -webkit-border-bottom-right-radius: @radius;
  -webkit-border-bottom-left-radius: @radius;
  -khtml-border-radius-bottomright: @radius;
  -khtml-border-radius-bottomleft: @radius;
  -moz-border-radius-bottomright: @radius;
  -moz-border-radius-bottomleft: @radius;
  border-bottom-right-radius: @radius;
  border-bottom-left-radius: @radius;
}

.rounded-corners-left(@radius) {
  -webkit-border-top-left-radius: @radius;
  -webkit-border-bottom-left-radius: @radius;
  -khtml-border-radius-topleft: @radius;
  -khtml-border-radius-bottomleft: @radius;
  -moz-border-radius-topleft: @radius;
  -moz-border-radius-bottomleft: @radius;
  border-top-left-radius: @radius;
  border-bottom-left-radius: @radius;
}

.outline(@fill, @stroke) {
  color: @fill;
  text-shadow:-1px -1px 0 @stroke, 1px -1px 0 @stroke, -1px 1px 0 @stroke, 1px 1px 0 @stroke;
}

.noselect() {
  -webkit-touch-callout:none;
  -webkit-user-select:none;
  -khtml-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}

.box-shadow(@x, @y, @r, @color) {
  -moz-box-shadow: @x @y @r @color;
  -webkit-box-shadow: @x @y @r @color;
  box-shadow: @x @y @r @color;
}

.rotate(@angle) {
  -moz-transform:rotate(@angle);
  -webkit-transform:rotate(@angle);
  -o-transform:rotate(@angle);
  -ms-transform:rotate(@angle);
  -webkit-backface-visibility:hidden;
}

.linear-gradient(@start, @end) {
  background-image:-webkit-linear-gradient(top, @start, @end);
  background-image:-moz-linear-gradient(top, @start, @end);
  background-image:-ms-linear-gradient(top,@start, @end);
  background-image:-o-linear-gradient(top, @start, @end);
  background-image:linear-gradient(top, @start, @end);
}
