@import "globals.less";

html, body {
  padding:0;
  margin:0;
  font-size:14px;
  font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
}

#header-section {
  width:100%;
  height:280px;
  background-color:#5a5a5a;
  text-align:center;
  padding-top:80px;

  h1 {
    font-family:Cinzel;
    font-weight:normal;
    font-size:60px;
    color:#fff;
    text-shadow:rgba(0, 0, 0, 0.3) -1px 0, rgba(0, 0, 0, 0.3) 0 -1px;
    margin:0;
    padding:10px 0;
  }
  
  .icon {
    padding-right:5px;
  }

}
