.document-panel table.document-list {
  width:100%;
  border-collapse:collapse;

  tr {
    height:46px;
    border-bottom:1px solid @lightgrey-border-darker;
    .noselect();
  }

  td {
    padding:0 10px;
    color:@standard-type;
    font-size:15px;
    cursor:default;
  }

  td.centered {
    text-align:center;
  }

  td:first-child {
    padding-left:50px;
  }

  td:last-child {
    padding-right:20px;
  }

  .icon {
    font-size:14px;
  }

  thead {

    tr {
      background-color:#fff;
    }

    td:hover {
      background-color:darken(#fff, 2%);
    }

  }

  tbody {

    tr.selected {
      background-color:@ocean;

      td {
        color:#fff;
      }

      td.actions span {
        visibility:visible;
      }

    }

    td.actions {
      text-align:center;

      span {
        font-family:Tonicons;
        font-size:26px;
        line-height:30px;
        visibility:hidden;
        cursor:pointer;
      }

    }

  }

}
