#dropzone {
  box-sizing:border-box;
  margin:20px 0.4% 20px 2px;
  padding:20px;
  border:2px dashed @lightgrey-type;
  text-align:center;
  color:@lightgrey-type;

  .choose-file .icon {
    font-size:16px;
    margin-right:5px;
  }

  .formats {
    font-size:15px;
    margin-top:20px;
    margin-bottom:0;
  }

  h2 {
    font-size:22px;
    padding:0;
  }

  p {
    margin:15px 0;
  }

}

.dz-message { display:none; }

#uploaded {
  margin:20px 1px;
  border:1px solid fadeout(@standard-type, 85%);
  background-color:rgba(255, 255, 255, 0.6);
  padding:10px 0;
  display:none;

  .dz-preview {
    padding:5px 60px 10px 30px;
    position:relative;

    .dz-details {
      font-size:15px;

      div {
        display:inline-block;
        padding-bottom:3px;
      }

      .dz-size {
        padding-right:10px;
        strong { font-weight: normal; }
      }

    }

    .dz-progress {
      width:100%;
      position:relative;
      height:4px;
      background-color:darken(@blueish-white, 8%);
      .rounded-corners(2px);

      .dz-upload {
        display:block;
        height:100%;
        background-color:fadeout(@ocean, 30%);
        .rounded-corners(2px);
      }

    }

    .dz-remove:after {
      content:'\f014';
      font-family:FontAwesome;
      position:absolute;
      right:25px;
      top:23px;
      text-decoration:none;
      font-size:17px;
      color:@lightgrey-type;
      cursor:pointer;
    }

    .dz-error-message {
      font-size:15px;
      color:@red-type;
      padding-top:3px;
    }

    .dz-success-mark, .dz-error-mark {
      display:none;
    }

  }

  .dz-preview.upload-failed .dz-upload {
    background-color:fadeout(@red-type, 10%);
  }

}

.whats-this {
  color:@lightgrey-type;
  cursor:pointer;

  .hint {
    margin-top:43px;
    margin-left:-170px;
    width:250px;
  }

}
