#dropzone {
  box-sizing:border-box;
  margin:20px 0.4% 60px 0;
  padding:60px 20px 40px 20px;
  border:3px dashed darken(@login-form-border-grey, 20%);
  text-align:center;
  color:darken(@login-form-border-grey, 20%);

  h2 {
    color:darken(@login-form-border-grey, 20%);
    margin:0;
  }

  .choose-file .icon {
    font-size:16px;
    margin-right:5px;
  }

  .formats {
    font-size:15px;
  }

}
