@status-failed-red:#f8dcdc;
@status-completed-green:#ceecc6;

h2 {
  text-align:center;
  padding:25px 0 20px 0;
}

ul.fileparts {
  padding-bottom:10px;

  li {
    position:relative;
    cursor:pointer;
    padding:10px;
    margin:6px 5px;
    background-color:@login-form-bg-white;
    border:1px solid darken(@login-form-border-grey, 2%);
  }

  li:before {
    content:'\f0dc';
    color:@dz-text;
    font-size:14.5px;
    font-family:FontAwesome;
    padding-right:5px;
  }

  .filepart-ner-progress {
    display:inline-block;
    color:darken(@dz-text, 10%);
    width:100px;
    padding:6px;
    position:absolute;
    text-align:center;
    top:-1px;
    bottom:-1px;
    right:-1px;
    font-size:13px;
    line-height:17px;
    background-color:lighten(@login-form-border-grey, 6%);
    border-width:1px 1px 1px 0;
    border-style:solid;
    border-color:darken(@login-form-border-grey, 2%);

    .filepart-ner-progress-current {
      display:block;
    }

  }

  .filepart-ner-progress.failed {
    background-color:@status-failed-red;
    color:darken(@status-failed-red, 20%);
    border-color:darken(@status-failed-red, 3%);
  }

  .filepart-ner-progress.failed .filepart-ner-progress-current:before {
    content:'\f00d';
    font-family:FontAwesome;
    padding-right:5px;
  }

  .filepart-ner-progress.completed {
    background-color:@status-completed-green;
    color:darken(@status-completed-green, 38%);
    border-color:darken(@status-completed-green, 8%);
  }

  .filepart-ner-progress.completed .filepart-ner-progress-current:before {
    content:'\f00c';
    font-family:FontAwesome;
    padding-right:5px;
  }

}
