@dz-text:darken(@login-form-border-grey, 20%);

#dropzone {
  box-sizing:border-box;
  margin:20px 0.4% 20px 2px;
  padding:20px;
  border:3px dashed @dz-text;
  text-align:center;
  color:@dz-text;

  .choose-file .icon {
    font-size:16px;
    margin-right:5px;
  }

  .formats {
    font-size:15px;
    margin-top:20px;
    margin-bottom:0;
  }

  h2 {
    padding:0;
  }

  p {
    margin:15px 0;
  }

}

.dz-message { display:none; }

#uploaded {
  margin:20px 1px;
  border:1px solid darken(@login-box-background-grey, 4%);
  background-color:lighten(@login-box-background-grey, 3%);
  padding:10px 0;
  display:none;

  .dz-preview {
    padding:5px 60px 10px 30px;
    position:relative;

    .dz-details {
      font-size:15px;

      div {
        display:inline-block;
        padding-bottom:3px;
      }

      .dz-size {
        padding-right:10px;
        strong { font-weight: normal; }
      }

    }

    .dz-progress {
      width:100%;
      position:relative;
      height:4px;
      background-color:darken(@login-box-background-grey, 8%);
      .rounded-corners(2px);

      .dz-upload {
        display:block;
        height:100%;
        background-color:lighten(@btn-blue-bg, 12%);
        .rounded-corners(2px);
      }

    }

    .dz-remove:after {
      content:'\f014';
      font-family:FontAwesome;
      position:absolute;
      right:25px;
      top:26px;
      text-decoration:none;
      font-size:17px;
      color:lighten(@page-textcolor-lightgrey, 30%);
      cursor:pointer;
    }

    .dz-error-message {
      font-size:15px;
      color:@login-error-red;
      padding-top:3px;
    }

    .dz-success-mark, .dz-error-mark {
      display:none;
    }

  }

  .dz-preview.upload-failed .dz-upload {
    background-color:lighten(@login-error-red, 10%);
  }

}

.whats-this {
  color:@dz-text;
  cursor:pointer;

  .hint {
    margin-top:43px;
    margin-left:-170px;
    width:250px;
  }

}
