@(users: Page[models.generated.tables.records.UserRecord])(implicit request: RequestHeader, webjars: WebJarAssets)
<!DOCTYPE html>
<html>
  <head>
    <title>Recogito Administration - Users</title>
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/admin/dashboard.css")"/>
    <link rel="stylesheet" href="@routes.WebJarAssets.at(webjars.locate("jsgrid.min.css"))" />
    <script src="@routes.WebJarAssets.at(webjars.locate("1.12.0/jquery.min.js"))"></script>
    <script src="@routes.WebJarAssets.at(webjars.locate("jsgrid.min.js"))"></script>
    <script>
    jQuery(document).ready(function() {

      jQuery("#users").jsGrid({
        width: "100%",
        height: "400px",

        sorting: true,

        paging: true,
        pageSize: 5,
        pageLoading: true,
        autoload: true,

        fields: [
            { name: "username", type: "text", title: "Username" },
            { name: "email", type: "text", title: "E-Mail" },
            { name: "real_name", type: "text", title: "Real Name" },
            { name: "member_since", type: "text", title: "Member Since" },
            { name: "quota", type: "number", title: "Quota" }
        ],

        controller: {
          loadData: function(filter) {
            var offset = (filter.pageIndex - 1) * filter.pageSize,
                size = filter.pageSize;

            return jQuery.getJSON('/api/user?offset=' + offset + '&size=' + size).then(function(response) {
              return {
                'data': response.items,
                'itemsCount': response.total
              };
            });
          }
        }
      });
      
    });
    </script>
  </head>
  <body>
    <div class="side-navbar">
      <ul>
        <li><a href="#">Users</a></li>
        <li><a href="#">Gazetteers</a></li>
        <li><a href="#">Backup &amp; Restore</a></li>
      </ul>
    </div>

    <div id="users" style="width:100%"></div>
  </body>
</html>
