@(users: Page[models.generated.tables.records.UserRecord])(implicit request: RequestHeader, webjars: WebJarAssets)
<!DOCTYPE html>
<html>
  <head>
    <title>Recogito Administration - Users</title>
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/admin/dashboard.css")"/>
    <script src="@routes.WebJarAssets.at(webjars.locate("1.12.0/jquery.min.js"))"></script>
    <script src="@routes.WebJarAssets.at(webjars.locate("plotly.min.js"))"></script>
    <script src="@routes.WebJarAssets.at(webjars.locate("require.min.js"))" data-main="@routes.Assets.versioned("javascripts/admin/statsDashboard.js")"></script>
  </head>
  <body>
    <div class="side-navbar">
      <ul>
        <li><a href="#">Users</a></li>
        <li><a href="#">Gazetteers</a></li>
        <li><a href="#">Backup &amp; Restore</a></li>
      </ul>
    </div>

    <div class="user-list">
      <p>Total users: @users.total</p>
      <ul>
        @for(user <- users.items) {
          <li><a href="@controllers.admin.users.routes.UserAdminController.showDetails(user.getUsername)">@user.getUsername</a></li>
        }
      </ul>
    </div>

    <div class="dashboard">
      <div id="contribution-history"></div>
      <div>
        <div id="total-contributions"></div>
        <div id="by-user"></div>
        <div id="by-action" class="piechart"></div>
        <div id="by-item-type" class="piechart"></div>
      </div>
    </div>

    @helper.javascriptRouter("jsRoutes")(
      controllers.api.routes.javascript.StatsAPIController.getDashboardStats
    )
  </body>
</html>
