@()(implicit request: RequestHeader, webJarsUtil: org.webjars.play.WebJarsUtil)
<!DOCTYPE html>
<html>
  <head>
    <title>Recogito Administration - Users</title>
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/admin/users.css")"/>
    @Html(webJarsUtil.css("jsgrid.min.css"))
    @Html(webJarsUtil.script("1.12.0/jquery.min.js"))
    @Html(webJarsUtil.script("jsgrid.min.js"))
    @Html(webJarsUtil.requireJs(routes.Assets.versioned("javascripts/admin/users.js")))
  </head>
  <body>
    <div class="user-list"></div>

    @helper.javascriptRouter("jsRoutes")(
      controllers.admin.users.routes.javascript.UserAdminController.listUsers,
      controllers.admin.users.routes.javascript.UserAdminController.deleteAccount
    )
  </body>
</html>
