@import "../../../../_modal.less";
@import "../../../../_map.less";

.modal-wrapper {
  max-width:1400px;
}

.modal-header {

  .georesolution-search {
    display:inline-block;
    position:relative;
    margin:5px;

    input {
      width:320px;
    }

    button.search.icon {
      position:absolute;
      right:2px;
      top:6px;
    }

  }

  .flag-this-place {
    padding:0 15px;
    display:inline-block;
    color:@lightblue-type;

    .flag {
      cursor:pointer;

      button {
        position:relative;
        top:6px;
        color:@lightblue-type;
        font-size:28px;
        padding-left:10px;
      }

    }

    .flag:hover > .label {
      text-decoration:underline;
    }

  } /** .flag-this-place **/

} /** .geores-editor-header **/

.modal-body {

  .georesolution-sidebar {
    box-sizing:border-box;
    height:100%;
    width:326px;
    background-color:@blueish-white;
    position:relative;

    .results-header {
      padding:10px;
      border-bottom:1px solid @lightgrey-border;
      height:46px;
    }

    .results-list {
      position:absolute;
      top:46px;
      bottom:0px;
      overflow-y:scroll;
      width:100%;
      margin:0;
      padding:0;
      list-style-type:none;

      li {
        background-color:#fff;
        border-bottom:1px solid @lightgrey-border;
        padding:10px;
        cursor:pointer;
      }

      li:hover {
        background-color:@blueish-white-hi;
      }

    }

  }

  .map {
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:326px;

    .popup-choices {
      padding:0;

      tr {
        cursor:pointer;
      }

      tr:hover td {
        background-color:@blueish-white-hi;
      }

    } /* .popup-choices **/


  } /** .map **/

} /** .georesolution-body **/
