@(
  doc: models.document.DocumentInfo,
  currentUser: Option[models.generated.tables.records.UserRecord],
  accessLevel: models.document.DocumentAccessLevel
 )(implicit request: RequestHeader, webjars: WebJarAssets)
<!DOCTYPE html>
<html>
  <head>
    <title>Recogito | @doc.author.map(_ + ": ")@doc.title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0">
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/document/map/index.css")"/>
    <link rel="stylesheet" href="@routes.WebJarAssets.at(webjars.locate("leaflet.css"))"/>
    <link rel="apple-touch-icon" sizes="57x57" href="@routes.Assets.versioned("images/touch-icon-iphone-114.png")" />
    <link rel="apple-touch-icon" sizes="114x114" href="@routes.Assets.versioned("images/touch-icon-iphone-114.png")" />
    <link rel="apple-touch-icon" sizes="72x72" href="@routes.Assets.versioned("images/touch-icon-ipad-144.png")" />
    <link rel="apple-touch-icon" sizes="144x144" href="@routes.Assets.versioned("images/touch-icon-ipad-144.png")" />
    <script src="@routes.WebJarAssets.at(webjars.locate("leaflet.js"))"></script>
    <script src="@routes.WebJarAssets.at(webjars.locate("1.12.0/jquery.min.js"))"></script>
    <script src="@routes.WebJarAssets.at(webjars.locate("require.min.js"))" data-main="@routes.Assets.versioned("javascripts/document/map/app.js")"></script>
    <script>
      window.config = {
        @if(currentUser.isDefined) { me: '@currentUser.get.getUsername', }
        documentId: '@doc.id',
        documentOwner: '@doc.ownerName'
      }
    </script>
  </head>
  <body>
    @views.html.document.iconbar(doc.document, currentUser, accessLevel, "map")

    <div class="sidebar">
      @views.html.document.sidebarHeader(doc.owner)
    </div>

    <div class="map-container">
      <div class="map"></div>
      <div class="map-controls">
        <div class="layers control icon" title="Change base layer">&#xf0c9;</div>
        <div class="zoom">
          <div class="zoom-in control" title="Zoom in">+</div>
          <div class="zoom-out control" title="Zoom out">&ndash;</div>
        </div>
      </div>
    </div>

    @helper.javascriptRouter("jsRoutes")(
      controllers.api.routes.javascript.AnnotationAPIController.getAnnotation,
      controllers.api.routes.javascript.AnnotationAPIController.listAnnotationsInDocument,
      controllers.api.routes.javascript.PlaceAPIController.listPlacesInDocument,
      controllers.document.annotation.routes.javascript.AnnotationController.showAnnotationViewForDocPart
    )
  </body>
</html>
