@(username: String, document: models.generated.tables.records.DocumentRecord)(implicit request: RequestHeader)
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0">
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/document/map/index.css")"/>
    <link rel="stylesheet" href="@routes.Assets.versioned("lib/leaflet/leaflet.css")"/>
    <script src="@routes.Assets.versioned("lib/leaflet/leaflet.js")"></script>
    <script src="@routes.Assets.versioned("lib/jquery/jquery.min.js")"></script>
    <script src="@routes.Assets.versioned("lib/requirejs/require.js")" data-main="@routes.Assets.versioned("javascripts/document/map/app.js")"></script>
    <script>
      window.config = {
        me: '@username',
        documentId: '@document.getId',
        documentOwner: '@document.getOwner'
      }
    </script>
  </head>
  <body>
    <div class="header-iconbar">
      <ul>
        <li class="tooltip bottom">
          <a href="@controllers.document.annotation.routes.AnnotationController.showAnnotationViewForDocPart(document.getId, 1)">
            <span class="icon">&#xe86f;</span>
            <span class="hint">You are now in the Text Annotation View</span>
          </a>
        </li>

        <li class="active tooltip bottom">
          <span class="icon">&#xe846;</span>
          <span class="hint">Switch to Map View</span>
        </li>

        <li class="tooltip bottom">
          <a href="@controllers.document.stats.routes.StatsController.showDocumentStats(document.getId)">
            <span class="icon">&#xe8ae;</span>
            <span class="hint">Detailed annotation stats for this document</span>
          </a>
        </li>

        <li class="tooltip bottom">
          <a href="@controllers.document.downloads.routes.DownloadsController.showDownloadOptions(document.getId)">
            <span class="icon">&#xe875;</span>
            <span class="hint">See available download options for this document</span>
          </a>
        </li>

        <li class="tooltip bottom">
          <a href="@controllers.document.share.routes.ShareController.showShareSettings(document.getId)">
            <span class="icon">&#xe85f;</span>
            <span class="hint">Invite other users to view or work with you on this document</span>
          </a>
        </li>

        <li class="tooltip bottom">
          <a href="@controllers.document.settings.routes.SettingsController.showDocumentSettings(document.getId, None)">
            <span class="icon">&#xe8c9;</span>
            <span class="hint">Edit document settings and metadata</span>
          </a>
        </li>

        <li class="home tooltip bottom">
          <a href="@controllers.my.routes.MyRecogitoController.index(username.toLowerCase)">
            <span class="icon">&#xe8bf;</span>
            <span class="hint">Back to your home page</span>
          </a>
        </li>
      </ul>
    </div> <!-- .header-iconbar -->

    <div class="sidebar">
      <div class="sidebar-header"></div>
    </div> <!-- .sidebar -->

    <div id="map"></div>

    @helper.javascriptRouter("jsRoutes")(
      controllers.api.routes.javascript.AnnotationAPIController.getAnnotationsForDocument,
      controllers.api.routes.javascript.PlaceAPIController.listPlacesInDocument
    )
  </body>
</html>
