.map-container {

  .toggle-legend, .map-legend {
    position:absolute;
    left:20px;
    width:250px;
    box-sizing:border-box;
    .rounded-corners(2px);
    font-size:16px;
    .noselect();
    .icon { font-size:14px; }
  }

  .toggle-legend {
    bottom:20px;
    padding:0 10px;
    height:34px;
    line-height:34px;
    background-color:#fff;

    cursor:pointer;
    .icon { padding-right:3px; }
  }

  .map-legend {
    padding:0;
    bottom:64px;
    max-height:80%;
    overflow-y:auto;
    overflow-x:hidden;
    background-color:@blueish-white;

    ul {
      margin:0;
      padding:0;
      list-style-type:none;
    }

    .style-selection {
      padding:10px 15px;
      position:relative;
      background-color:#fff;
      border-bottom:1px solid @lightgrey-border-darker;

      select {
        position:absolute;
        top:10px;
        right:15px;
        width:145px;
        box-shadow:none;
        font-size:16px;
        background-color:@blueish-white;
        border-color:@lightgrey-border-darker;
      }

    }

    .map-legend-body {
      padding:10px 15px;
      min-height:50px;

      .key {
        position:relative;
        top:1px;
        display:inline-block;
        width:11px;
        height:11px;
        border:1px solid #000;
        margin-right:7px;
        .rounded-corners(1px);
      }

    }

  }

}
