.map-container {

  .toggle-legend, .map-legend {
    position:absolute;
    left:20px;
    width:250px;
    box-sizing:border-box;
    background-color:#fff;
    .rounded-corners(2px);
    font-size:16px;
    .noselect();
    .icon { font-size:14px; }
  }

  .toggle-legend {
    bottom:20px;
    padding:0 10px;
    height:34px;
    line-height:34px;

    cursor:pointer;
    .icon { padding-right:3px; }
  }

  .map-legend {
    padding:0;
    bottom:64px;
    max-height:80%;
    overflow-y:auto;
    overflow-x:hidden;

    ul {
      margin:0;
      padding:10px 15px;
      list-style-type:none;
    }

    .style-selection, .values {
      border-bottom:1px solid @lightgrey-border-darker;
    }

    .style-selection {
      padding:10px 15px;
      position:relative;

      select {
        position:absolute;
        top:10px;
        right:15px;
        box-shadow:none;
      }

    }

    .values {
      min-height:30px;
      background-color:@blueish-white;
    }

    .key {
      position:relative;
      top:3px;
      display:inline-block;
      width:14px;
      height:14px;
      border:2px solid #000;
      margin-right:7px;
      .rounded-corners(3px);
    }

  }

}
