@(metadataForm: Form[DocMetaFormData])(implicit messages: Messages)
<!DOCTYPE html>
<html>
  <head>
    <title>Document Upload</title>
  </head>
 <body>
 	<p>Upload Document Metadata</p>
    @helper.form(action = routes.DocumentUpload.processMetadataUpload()) {
      @helper.inputText(metadataForm("title"))
      @helper.inputText(metadataForm("author"))
      @helper.inputText(metadataForm("description"))
      @helper.inputText(metadataForm("language"))
      <input type="submit" />
    }
  </body>
</html>
