@(user : models.generated.tables.records.UsersRecord)
<!DOCTYPE html>
<html>
  <head>
    <title>MY RECOGITO</title>
  </head>
  <body>
    <h1>My Recogito</h1>
    <p>you are logged in as: @user.getUsername</p>
    <p><a href="@controllers.landing.routes.LogoutController.logout">logout</a></p>

    <div>
      <!-- This is only for testing purposes!! -->
      <form action="@controllers.myrecogito.upload.routes.UploadController.processContentUpload" method="post" enctype="multipart/form-data">
        <input name="file" type="file" />
        <input type="submit" />
      </form>
    </div>
  </body>
</html>
