@(gazetteers: Seq[String])(implicit request: RequestHeader, webjars: WebJarAssets)
<!DOCTYPE html>
<html>
  <head>
    <title>Recogito Administration - Gazetteers</title>
    <script src="@routes.WebJarAssets.at(webjars.locate("1.12.0/jquery.min.js"))"></script>
    <script>
      jQuery.on('click', '.gazetteer-list li', function(e) {
        var gazetteer = jQuery(e.target).closest('li').data('gazetteer');
        console.log(gazetteer);
      });
    </script>
  </head>
  <body>
    <div class="side-navbar">
      <ul>
        <li><a href="#">Users</a></li>
        <li><a href="#">Gazetteers</a></li>
        <li><a href="#">Backup &amp; Restore</a></li>
      </ul>
    </div>

    <div class="content">
      <div class="gazetteer-list">
        <ul>
          @for(gazetteer <- gazetteers) {
            <li data-gazetteer="@gazetteer">@gazetteer</li>
          }
        </ul>
      </div>

      <div class="gazetteer-search">
        <form method="GET">
          <input type="text" />
        </form>
      </div>

      <div class="upload-datadump">
        @helper.form(action = controllers.admin.gazetteers.routes.GazetteerAdminController.importGazetteer(), 'enctype -> "multipart/form-data") {
          <input type="file" id="gazetteer-file" name="gazetteer-file">
          <input type="submit">
        }
      </div>
    </div>
    @helper.javascriptRouter("jsRoutes")(
      controllers.admin.gazetteers.routes.javascript.GazetteerAdminController.deleteGazetteer
    )
  </body>
</html>
