@(gazetteers: Seq[String])(implicit request: RequestHeader, webJarsUtil: org.webjars.play.WebJarsUtil)
@views.html.admin._layout() {
  <div class="upload-datadump">
    @helper.form(action = controllers.admin.gazetteers.routes.GazetteerAdminController.importGazetteer(), 'enctype -> "multipart/form-data") {
      <input type="file" id="dumpfile" name="dumpfile">
      <label class="btn" for="dumpfile">
        <span class="icon">&#xf055;</span> Upload Dump        
      </label>
    }
  </div>

  <div id="app"></div>

  @helper.javascriptRouter("jsRoutes")(
    controllers.admin.gazetteers.routes.javascript.GazetteerAdminController.deleteGazetteer
  )
  <script type="text/javascript" src="@routes.Assets.versioned("build/gazetteers.js")"></script>
}
