.r6o-editor{top:0;left:0;margin-left:-19px}.a9s-annotationlayer{position:absolute;top:0;left:0;width:100%;height:100%;outline:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none}.a9s-annotationlayer.no-cursor{cursor:none !important}.a9s-annotationlayer.no-cursor *{cursor:none !important}.a9s-crosshair line{stroke-width:1px;stroke:rgba(0,0,0,.5);pointer-events:none;vector-effect:non-scaling-stroke;shape-rendering:crispEdges}.a9s-selection-mask{stroke:none;fill:transparent;pointer-events:none}.a9s-annotation rect,.a9s-annotation circle,.a9s-annotation ellipse,.a9s-annotation path,.a9s-annotation polygon,.a9s-annotation line,.a9s-selection rect,.a9s-selection circle,.a9s-selection ellipse,.a9s-selection path,.a9s-selection polygon,.a9s-selection line{fill:transparent;cursor:pointer;vector-effect:non-scaling-stroke}.a9s-annotation .a9s-inner,.a9s-selection .a9s-inner{stroke:#fff;stroke-width:1px;fill:transparent}.a9s-annotation .a9s-inner:hover,.a9s-selection .a9s-inner:hover{stroke:#fff000}.a9s-annotation .a9s-outer,.a9s-selection .a9s-outer{stroke:rgba(0,0,0,.7);stroke-width:3px;fill:none}.a9s-annotation .a9s-formatter-el,.a9s-selection .a9s-formatter-el{overflow:visible}.a9s-annotation.a9s-point .a9s-inner{display:none}.a9s-annotation.a9s-point .a9s-outer{stroke:#5a5a5a;stroke-width:1.5px;fill:rgba(255,255,255,.5)}.a9s-annotation.a9s-point .a9s-outer:hover{fill:#fff000}.a9s-annotation.selected .a9s-inner,.a9s-selection .a9s-inner{stroke:#fff000}.a9s-annotation.editable .a9s-inner{stroke:#fff000;cursor:move !important}.a9s-annotation.editable .a9s-inner:hover{fill:rgba(255,240,0,.1)}.a9s-handle{cursor:move}.a9s-handle .a9s-handle-inner{stroke:#fff000;fill:#000}.a9s-handle .a9s-handle-outer{stroke:#000;fill:#fff}.a9s-handle:hover .a9s-handle-inner{fill:#fff000}
.r6o-btn{background-color:#4483c4;border:1px solid #4483c4;box-sizing:border-box;color:#fff;cursor:pointer;display:inline-block;font-size:14px;margin:0;outline:none;text-decoration:none;white-space:nowrap;padding:6px 18px;min-width:70px;vertical-align:middle;-webkit-border-radius:2px;-khtml-border-radius:2px;-moz-border-radius:2px;border-radius:2px}.r6o-btn *{vertical-align:middle;cursor:pointer}.r6o-btn .r6o-icon{margin-right:4px}.r6o-btn:disabled{border-color:#a3c2e2 !important;background-color:#a3c2e2 !important}.r6o-btn:hover{background-color:#4f92d7;border-color:#4f92d7}.r6o-btn.outline{border:1px solid #4483c4;color:#4483c4;background-color:transparent;text-shadow:none}.r6o-autocomplete{display:inline;position:relative}.r6o-autocomplete div[role=combobox]{display:inline}.r6o-autocomplete input{outline:none;border:none;width:80px;height:100%;line-height:14px;white-space:pre;box-sizing:border-box;background-color:transparent;font-size:14px;color:#3f3f3f}.r6o-autocomplete ul{position:absolute;margin:0;padding:0;list-style-type:none;background-color:#fff;border-radius:3px;border:1px solid #d6d7d9;box-sizing:border-box;box-shadow:0 0 20px rgba(0,0,0,.25)}.r6o-autocomplete ul:empty{display:none}.r6o-autocomplete li{box-sizing:border-box;padding:2px 12px;width:100%;cursor:pointer}.r6o-editable-text{max-height:120px;overflow:auto;outline:none;min-height:2em;font-size:14px;font-family:"Lato",sans-serif}.r6o-editable-text:empty:not(:focus):before{content:attr(data-placeholder);color:#c2c2c2}.r6o-widget.comment{font-size:14px;min-height:3em;background-color:#fff;position:relative}.r6o-widget.comment .r6o-editable-text,.r6o-widget.comment .r6o-readonly-comment{padding:10px;width:100%;box-sizing:border-box;outline:none;border:none;background-color:transparent;resize:none}.r6o-widget.comment .r6o-readonly-comment{white-space:pre-line}.r6o-widget.comment .r6o-editable-text::-webkit-input-placeholder{color:#c2c2c2}.r6o-widget.comment .r6o-editable-text::-moz-placeholder{color:#c2c2c2}.r6o-widget.comment .r6o-editable-text:-moz-placeholder{color:#c2c2c2}.r6o-widget.comment .r6o-editable-text:-ms-input-placeholder{color:#c2c2c2}.r6o-widget.comment .r6o-lastmodified{border:1px solid #e5e5e5;display:inline-block;border-radius:2px;margin:0 10px 8px 10px;padding:4px 5px;line-height:100%;font-size:12px}.r6o-widget.comment .r6o-lastmodified .r6o-lastmodified-at{color:#757575;padding-left:3px}.r6o-widget.comment .r6o-arrow-down{position:absolute;height:20px;width:20px;top:9px;right:9px;line-height:22px;background-color:#fff;text-align:center;-webkit-font-smoothing:antialiased;border:1px solid #e5e5e5;cursor:pointer;-webkit-border-radius:1px;-khtml-border-radius:1px;-moz-border-radius:1px;border-radius:1px}.r6o-widget.comment .r6o-arrow-down.r6o-menu-open{border-color:#4483c4}.r6o-widget.comment .r6o-comment-dropdown-menu{position:absolute;top:32px;right:8px;background-color:#fff;border:1px solid #e5e5e5;list-style-type:none;margin:0;padding:5px 0;z-index:9999;-webkit-box-shadow:0 2px 4px rgba(0,0,0,.2);-moz-box-shadow:0 2px 4px rgba(0,0,0,.2);box-shadow:0 2px 4px rgba(0,0,0,.2)}.r6o-widget.comment .r6o-comment-dropdown-menu li{padding:0 15px;cursor:pointer}.r6o-widget.comment .r6o-comment-dropdown-menu li:hover{background-color:#ecf0f1}.r6o-widget.comment .r6o-purposedropdown{position:relative;z-index:2}.r6o-widget.comment.editable{background-color:#ecf0f1}.r6o-widget.r6o-tag:empty{display:none}@media all and (-ms-high-contrast: none),(-ms-high-contrast: active){.r6o-widget.tag .r6o-taglist li{height:27px}.r6o-widget.tag .r6o-taglist li .r6o-delete-wrapper .r6o-delete{position:relative;top:-4px}}.r6o-widget.r6o-tag{background-color:#ecf0f1;border-bottom:1px solid #e5e5e5;padding:1px 3px;display:flex}.r6o-widget.r6o-tag ul{margin:0;padding:0;list-style-type:none;z-index:1}.r6o-widget.r6o-tag ul.r6o-taglist{flex:0;white-space:nowrap}.r6o-widget.r6o-tag ul.r6o-taglist li{margin:0;display:inline-block;margin:1px 1px 1px 0;padding:0;vertical-align:middle;overflow:hidden;font-size:12px;background-color:#fff;border:1px solid #d6d7d9;cursor:pointer;position:relative;line-height:180%;-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-border-radius:2px;-khtml-border-radius:2px;-moz-border-radius:2px;border-radius:2px;-webkit-box-shadow:0 0 4px rgba(0,0,0,.1);-moz-box-shadow:0 0 4px rgba(0,0,0,.1);box-shadow:0 0 4px rgba(0,0,0,.1)}.r6o-widget.r6o-tag ul.r6o-taglist li .r6o-label{padding:2px 8px;display:inline-block}.r6o-widget.r6o-tag ul.r6o-taglist li .r6o-delete-wrapper{display:inline-block;padding:2px 0;color:#fff;width:0;height:100%;background-color:#4483c4;-webkit-border-top-right-radius:2px;-webkit-border-bottom-right-radius:2px;-khtml-border-radius-topright:2px;-khtml-border-radius-bottomright:2px;-moz-border-radius-topright:2px;-moz-border-radius-bottomright:2px;border-top-right-radius:2px;border-bottom-right-radius:2px}.r6o-widget.r6o-tag ul.r6o-taglist li .r6o-delete-wrapper .r6o-delete{padding:2px 6px}.r6o-widget.r6o-tag ul.r6o-taglist li .r6o-delete-wrapper svg{vertical-align:text-top}.r6o-widget.r6o-tag ul.r6o-taglist li .r6o-delete-enter-active{width:24px;transition:width 200ms}.r6o-widget.r6o-tag ul.r6o-taglist li .r6o-delete-enter-done{width:24px}.r6o-widget.r6o-tag ul.r6o-taglist li .r6o-delete-exit{width:24px}.r6o-widget.r6o-tag ul.r6o-taglist li .r6o-delete-exit-active{width:0;transition:width 200ms}.r6o-widget.r6o-tag .r6o-autocomplete{flex:1;position:relative}.r6o-widget.r6o-tag .r6o-autocomplete li{font-size:14px}.r6o-widget.r6o-tag input{width:100%;padding:0 3px;min-width:80px;outline:none;border:none;line-height:170%;background-color:transparent;color:#3f3f3f}.r6o-widget.r6o-tag input::-webkit-input-placeholder{color:#c2c2c2}.r6o-widget.r6o-tag input::-moz-placeholder{color:#c2c2c2}.r6o-widget.r6o-tag input:-moz-placeholder{color:#c2c2c2}.r6o-widget.r6o-tag input:-ms-input-placeholder{color:#c2c2c2}.r6o-editor{position:absolute;z-index:99999;width:400px;color:#3f3f3f;opacity:0;font-family:"Lato",sans-serif;font-size:17px;line-height:27px;-webkit-transition:opacity .2s ease-in;-moz-transition:opacity .2s ease-in;transition:opacity .2s ease-in}.r6o-editor .r6o-arrow{position:absolute;overflow:hidden;top:-12px;left:12px;width:28px;height:12px;display:none}.r6o-editor .r6o-arrow:after{content:"";position:absolute;top:5px;left:5px;width:18px;height:18px;background-color:#fff;-webkit-backface-visibility:hidden;-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);-o-transform:rotate(45deg);transform:rotate(45deg)}.r6o-editor .r6o-editor-inner{background-color:#fff;-webkit-border-radius:2px;-khtml-border-radius:2px;-moz-border-radius:2px;border-radius:2px;-webkit-box-shadow:2px 2px 42px rgba(0,0,0,.4);-moz-box-shadow:2px 2px 42px rgba(0,0,0,.4);box-shadow:2px 2px 42px rgba(0,0,0,.4)}.r6o-editor .r6o-editor-inner .r6o-widget:first-child{-webkit-border-top-left-radius:2px;-webkit-border-top-right-radius:2px;-khtml-border-radius-topleft:2px;-khtml-border-radius-topright:2px;-moz-border-radius-topleft:2px;-moz-border-radius-topright:2px;border-top-left-radius:2px;border-top-right-radius:2px}.r6o-editor .r6o-editor-inner .r6o-widget{border-bottom:1px solid #e5e5e5}.r6o-editor .r6o-footer{position:relative;text-align:right;padding:8px 0}.r6o-editor .r6o-footer .r6o-btn{margin-right:8px}.r6o-editor .r6o-footer .r6o-btn.delete-annotation{position:absolute;top:7px;left:7px;background-color:transparent;border:none;color:#4483c4;width:32px;height:32px;min-width:0;border-radius:100%;padding:0;display:flex;justify-content:center;align-items:center;-webkit-transition:all .1s ease-in;-moz-transition:all .1s ease-in;-o-transition:all .1s ease-in;transition:all .1s ease-in}.r6o-editor .r6o-footer .r6o-btn.delete-annotation:hover{color:#fff;background-color:#ef352c}@media(max-width: 640px){.r6o-editor{width:260px}}.r6o-editor.r6o-arrow-top .r6o-arrow{display:block}.r6o-editor.r6o-arrow-right{margin-left:8px}.r6o-editor.r6o-arrow-right .r6o-arrow{left:auto;right:12px}.r6o-editor.r6o-arrow-bottom .r6o-arrow{display:block;top:auto;bottom:-12px}.r6o-editor.r6o-arrow-bottom .r6o-arrow::after{top:-11px;box-shadow:none}.r6o-editor.pushed .r6o-arrow,.r6o-editor.dragged .r6o-arrow{display:none}.r6o-editor .r6o-draggable{cursor:move}.r6o-purposedropdown{width:150px;display:inline-block}.r6o-noselect{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.a9s-annotation.hover .a9s-inner{stroke:#fff000}.a9s-annotation:not(.hover):hover .a9s-inner{stroke:#fff}.a9s-osd-crosshair-container{position:absolute;top:0;left:0;width:100%;height:100%;z-index:1;pointer-events:none}
g.a9s-annotation.tilted-box .a9s-tilted-box-baseline *,g.a9s-selection.tilted-box .a9s-tilted-box-baseline *{vector-effect:non-scaling-stroke}g.a9s-annotation.tilted-box .a9s-tilted-box-baseline .a9s-inner,g.a9s-selection.tilted-box .a9s-tilted-box-baseline .a9s-inner{stroke-width:3px;stroke:#fff}g.a9s-annotation.tilted-box .a9s-tilted-box-baseline .a9s-outer,g.a9s-selection.tilted-box .a9s-tilted-box-baseline .a9s-outer{stroke-width:5px}g.a9s-annotation.tilted-box .a9s-minor-handle,g.a9s-selection.tilted-box .a9s-minor-handle{stroke:#fff000;fill:#000}g.a9s-annotation.tilted-box .a9s-minor-handle:hover,g.a9s-selection.tilted-box .a9s-minor-handle:hover{stroke:#000;fill:#fff000}
.mrm-classify-widget{display:flex;flex-direction:row;margin:0;padding:0}.mrm-classify-widget button{flex:1;display:flex;align-items:flex-start;justify-content:center;font-size:18px;background-color:transparent;outline:none;padding:10px;font-family:PTSansNarrow;color:#003051;cursor:pointer;border:none;border-right:1px solid #e5e5e5}.mrm-classify-widget button span{font-size:16px;display:block;padding-left:8px}.mrm-classify-widget button:hover{background-color:#ecf0f1}.mrm-classify-widget button:last-child{border-right:none}.mrm-classify-widget button.selected{color:#fff;border-right-color:transparent}.mrm-classify-widget button.entity.selected{background-color:#d65353}.mrm-classify-widget button.label.selected{background-color:#5d5dff}.mrm-classify-widget button.symbol.selected{background-color:#009000}
.r6o-widget.mrm-colorpicker-widget{padding:10px;display:flex;justify-content:space-between}.r6o-widget.mrm-colorpicker-widget button{background:none;outline:none;border:none;padding:0;margin:0;color:#4f92d7;text-decoration:underline;font-size:14px}.r6o-widget.mrm-colorpicker-widget .mrm-colorpicker-toggle{display:flex;align-items:center}.r6o-widget.mrm-colorpicker-widget .mrm-colorpicker-toggle .mrm-color-current{width:18px;height:18px;border-radius:2px;outline:none;background-color:var(--col);border:1px solid rgba(0,0,0,.4)}.r6o-widget.mrm-colorpicker-widget .mrm-colorpicker-toggle span{padding-left:10px}.r6o-widget.mrm-colorpicker-widget .mrm-colorpicker-wrapper{position:absolute;bottom:-10px;left:-10px;background-color:#fff;z-index:1;box-shadow:1px 3px 28px rgba(0,0,0,.25);border-radius:3px;overflow:hidden}.r6o-widget.mrm-colorpicker-widget .mrm-colorpicker-wrapper .react-colorful__saturation{border-radius:0}.r6o-widget.mrm-colorpicker-widget .mrm-colorpicker-wrapper .react-colorful__hue.react-colorful__last-control{border-radius:0}.r6o-widget.mrm-colorpicker-widget .mrm-colorpicker-wrapper section{border-bottom:1px solid #e5e5e5}.r6o-widget.mrm-colorpicker-widget .mrm-colorpicker-wrapper input{width:200px;box-sizing:border-box;padding:8px;color:#474747;font-size:15px;background-color:#f5f7f7}.r6o-widget.mrm-colorpicker-widget .mrm-colorpicker-wrapper footer{padding:8px;text-align:right}.r6o-widget.mrm-colorpicker-widget .mrm-colorpicker-wrapper footer button{margin-left:8px}.r6o-widget.mrm-colorpicker-widget .mrm-colorpicker-wrapper footer button:disabled{color:#a9bbcf}
.mrm-transcribe-widget{background-color:#ecf0f1;position:relative;border-bottom-color:#dadada}.mrm-transcribe-widget input{letter-spacing:1px;background-color:transparent;padding:10px;box-sizing:border-box;width:100%;font-family:PTSansNarrow;font-size:16px;display:block}.mrm-transcribe-widget input::-webkit-input-placeholder{color:#c2c2c2}.mrm-transcribe-widget input::-moz-placeholder{color:#c2c2c2}.mrm-transcribe-widget input:-moz-placeholder{color:#c2c2c2}.mrm-transcribe-widget input:-ms-input-placeholder{color:#c2c2c2}
.a9s-annotationlayer .a9s-annotation.editable .a9s-inner:hover{fill:rgba(255,255,255,.2)}.a9s-annotationlayer .a9s-annotation.a9s-group-selected .a9s-inner{fill:rgba(0,0,0,.2);stroke:#000;stroke-width:2px;stroke-dasharray:4;animation:dash .8s linear infinite}.a9s-annotationlayer .a9s-annotation.a9s-group-selected .a9s-outer{stroke:#fff;stroke-width:2px}@keyframes dash{to{stroke-dashoffset:8}}.a9s-annotationlayer .a9s-annotation .a9s-group-order rect{fill:#fff;stroke:#333;stroke-width:2px}.a9s-annotationlayer .a9s-annotation.a9s-group-selected.selected .a9s-inner:hover{fill:rgba(0,0,0,.2)}.a9s-grouplayer rect.a9s-group-border{fill:none;stroke:rgba(0,0,0,.6);stroke-width:1px}.r6o-editor .r6o-widget.group-plugin{position:relative;display:flex;flex-direction:row;justify-content:space-between;padding:8px 10px}.r6o-editor .r6o-widget.group-plugin .group-status{font-size:20px}.r6o-editor .r6o-widget.group-plugin .group-status label{font-size:16px}.r6o-editor .r6o-widget.group-plugin .group-status label.not-grouped{color:#727272}.r6o-editor .r6o-widget.group-plugin .group-status label.order{display:inline-block;font-family:Arial,Helvetica,sans-serif;font-size:14px}.r6o-editor .r6o-widget.group-plugin .group-status svg{margin-right:6px;vertical-align:middle}.r6o-editor .r6o-widget.group-plugin .group-status svg path{stroke:#727272}.r6o-editor .r6o-widget.group-plugin button.simple{background:none;border:none;outline:none;color:#4f92d7;cursor:pointer;text-decoration:underline;font-size:14px}.r6o-editor .r6o-widget.group-plugin .buttons button.group-ordered svg{vertical-align:text-top;padding-right:2px;font-size:16px}.r6o-editor .r6o-widget.group-plugin .ordering-control{position:absolute;top:4px;left:36px;background-color:#fff;padding:6px 12px;border:1px solid #d6d7d9;border-radius:3px;box-shadow:1px 1px 14px rgba(0,0,0,.25)}.r6o-editor .r6o-widget.group-plugin .ordering-control .ordering{display:inline-block;padding-right:4px;font-family:Arial,Helvetica,sans-serif;font-size:14px}.r6o-editor .r6o-widget.group-plugin .ordering-control button{padding:0 2px}.r6o-editor .r6o-widget.group-plugin .ordering-control button.close-ordering-control{background:none;border:none;outline:none;font-size:24px;vertical-align:text-top;padding:0 0 0 4px;color:#4f92d7}
/* required styles */

.leaflet-pane,
.leaflet-tile,
.leaflet-marker-icon,
.leaflet-marker-shadow,
.leaflet-tile-container,
.leaflet-pane > svg,
.leaflet-pane > canvas,
.leaflet-zoom-box,
.leaflet-image-layer,
.leaflet-layer {
	position: absolute;
	left: 0;
	top: 0;
	}
.leaflet-container {
	overflow: hidden;
	}
.leaflet-tile,
.leaflet-marker-icon,
.leaflet-marker-shadow {
	-webkit-user-select: none;
	   -moz-user-select: none;
	        user-select: none;
	  -webkit-user-drag: none;
	}
/* Prevents IE11 from highlighting tiles in blue */
.leaflet-tile::selection {
	background: transparent;
}
/* Safari renders non-retina tile on retina better with this, but Chrome is worse */
.leaflet-safari .leaflet-tile {
	image-rendering: -webkit-optimize-contrast;
	}
/* hack that prevents hw layers "stretching" when loading new tiles */
.leaflet-safari .leaflet-tile-container {
	width: 1600px;
	height: 1600px;
	-webkit-transform-origin: 0 0;
	}
.leaflet-marker-icon,
.leaflet-marker-shadow {
	display: block;
	}
/* .leaflet-container svg: reset svg max-width decleration shipped in Joomla! (joomla.org) 3.x */
/* .leaflet-container img: map is broken in FF if you have max-width: 100% on tiles */
.leaflet-container .leaflet-overlay-pane svg,
.leaflet-container .leaflet-marker-pane img,
.leaflet-container .leaflet-shadow-pane img,
.leaflet-container .leaflet-tile-pane img,
.leaflet-container img.leaflet-image-layer,
.leaflet-container .leaflet-tile {
	max-width: none !important;
	max-height: none !important;
	}

.leaflet-container.leaflet-touch-zoom {
	-ms-touch-action: pan-x pan-y;
	touch-action: pan-x pan-y;
	}
.leaflet-container.leaflet-touch-drag {
	-ms-touch-action: pinch-zoom;
	/* Fallback for FF which doesn't support pinch-zoom */
	touch-action: none;
	touch-action: pinch-zoom;
}
.leaflet-container.leaflet-touch-drag.leaflet-touch-zoom {
	-ms-touch-action: none;
	touch-action: none;
}
.leaflet-container {
	-webkit-tap-highlight-color: transparent;
}
.leaflet-container a {
	-webkit-tap-highlight-color: rgba(51, 181, 229, 0.4);
}
.leaflet-tile {
	filter: inherit;
	visibility: hidden;
	}
.leaflet-tile-loaded {
	visibility: inherit;
	}
.leaflet-zoom-box {
	width: 0;
	height: 0;
	-moz-box-sizing: border-box;
	     box-sizing: border-box;
	z-index: 800;
	}
/* workaround for https://bugzilla.mozilla.org/show_bug.cgi?id=888319 */
.leaflet-overlay-pane svg {
	-moz-user-select: none;
	}

.leaflet-pane         { z-index: 400; }

.leaflet-tile-pane    { z-index: 200; }
.leaflet-overlay-pane { z-index: 400; }
.leaflet-shadow-pane  { z-index: 500; }
.leaflet-marker-pane  { z-index: 600; }
.leaflet-tooltip-pane   { z-index: 650; }
.leaflet-popup-pane   { z-index: 700; }

.leaflet-map-pane canvas { z-index: 100; }
.leaflet-map-pane svg    { z-index: 200; }

.leaflet-vml-shape {
	width: 1px;
	height: 1px;
	}
.lvml {
	behavior: url(#default#VML);
	display: inline-block;
	position: absolute;
	}


/* control positioning */

.leaflet-control {
	position: relative;
	z-index: 800;
	pointer-events: visiblePainted; /* IE 9-10 doesn't have auto */
	pointer-events: auto;
	}
.leaflet-top,
.leaflet-bottom {
	position: absolute;
	z-index: 1000;
	pointer-events: none;
	}
.leaflet-top {
	top: 0;
	}
.leaflet-right {
	right: 0;
	}
.leaflet-bottom {
	bottom: 0;
	}
.leaflet-left {
	left: 0;
	}
.leaflet-control {
	float: left;
	clear: both;
	}
.leaflet-right .leaflet-control {
	float: right;
	}
.leaflet-top .leaflet-control {
	margin-top: 10px;
	}
.leaflet-bottom .leaflet-control {
	margin-bottom: 10px;
	}
.leaflet-left .leaflet-control {
	margin-left: 10px;
	}
.leaflet-right .leaflet-control {
	margin-right: 10px;
	}


/* zoom and fade animations */

.leaflet-fade-anim .leaflet-tile {
	will-change: opacity;
	}
.leaflet-fade-anim .leaflet-popup {
	opacity: 0;
	-webkit-transition: opacity 0.2s linear;
	   -moz-transition: opacity 0.2s linear;
	        transition: opacity 0.2s linear;
	}
.leaflet-fade-anim .leaflet-map-pane .leaflet-popup {
	opacity: 1;
	}
.leaflet-zoom-animated {
	-webkit-transform-origin: 0 0;
	    -ms-transform-origin: 0 0;
	        transform-origin: 0 0;
	}
.leaflet-zoom-anim .leaflet-zoom-animated {
	will-change: transform;
	}
.leaflet-zoom-anim .leaflet-zoom-animated {
	-webkit-transition: -webkit-transform 0.25s cubic-bezier(0,0,0.25,1);
	   -moz-transition:    -moz-transform 0.25s cubic-bezier(0,0,0.25,1);
	        transition:         transform 0.25s cubic-bezier(0,0,0.25,1);
	}
.leaflet-zoom-anim .leaflet-tile,
.leaflet-pan-anim .leaflet-tile {
	-webkit-transition: none;
	   -moz-transition: none;
	        transition: none;
	}

.leaflet-zoom-anim .leaflet-zoom-hide {
	visibility: hidden;
	}


/* cursors */

.leaflet-interactive {
	cursor: pointer;
	}
.leaflet-grab {
	cursor: -webkit-grab;
	cursor:    -moz-grab;
	cursor:         grab;
	}
.leaflet-crosshair,
.leaflet-crosshair .leaflet-interactive {
	cursor: crosshair;
	}
.leaflet-popup-pane,
.leaflet-control {
	cursor: auto;
	}
.leaflet-dragging .leaflet-grab,
.leaflet-dragging .leaflet-grab .leaflet-interactive,
.leaflet-dragging .leaflet-marker-draggable {
	cursor: move;
	cursor: -webkit-grabbing;
	cursor:    -moz-grabbing;
	cursor:         grabbing;
	}

/* marker & overlays interactivity */
.leaflet-marker-icon,
.leaflet-marker-shadow,
.leaflet-image-layer,
.leaflet-pane > svg path,
.leaflet-tile-container {
	pointer-events: none;
	}

.leaflet-marker-icon.leaflet-interactive,
.leaflet-image-layer.leaflet-interactive,
.leaflet-pane > svg path.leaflet-interactive,
svg.leaflet-image-layer.leaflet-interactive path {
	pointer-events: visiblePainted; /* IE 9-10 doesn't have auto */
	pointer-events: auto;
	}

/* visual tweaks */

.leaflet-container {
	background: #ddd;
	outline: 0;
	}
.leaflet-container a {
	color: #0078A8;
	}
.leaflet-container a.leaflet-active {
	outline: 2px solid orange;
	}
.leaflet-zoom-box {
	border: 2px dotted #38f;
	background: rgba(255,255,255,0.5);
	}


/* general typography */
.leaflet-container {
	font: 12px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
	}


/* general toolbar styles */

.leaflet-bar {
	box-shadow: 0 1px 5px rgba(0,0,0,0.65);
	border-radius: 4px;
	}
.leaflet-bar a,
.leaflet-bar a:hover {
	background-color: #fff;
	border-bottom: 1px solid #ccc;
	width: 26px;
	height: 26px;
	line-height: 26px;
	display: block;
	text-align: center;
	text-decoration: none;
	color: black;
	}
.leaflet-bar a,
.leaflet-control-layers-toggle {
	background-position: 50% 50%;
	background-repeat: no-repeat;
	display: block;
	}
.leaflet-bar a:hover {
	background-color: #f4f4f4;
	}
.leaflet-bar a:first-child {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	}
.leaflet-bar a:last-child {
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	border-bottom: none;
	}
.leaflet-bar a.leaflet-disabled {
	cursor: default;
	background-color: #f4f4f4;
	color: #bbb;
	}

.leaflet-touch .leaflet-bar a {
	width: 30px;
	height: 30px;
	line-height: 30px;
	}
.leaflet-touch .leaflet-bar a:first-child {
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	}
.leaflet-touch .leaflet-bar a:last-child {
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	}

/* zoom control */

.leaflet-control-zoom-in,
.leaflet-control-zoom-out {
	font: bold 18px 'Lucida Console', Monaco, monospace;
	text-indent: 1px;
	}

.leaflet-touch .leaflet-control-zoom-in, .leaflet-touch .leaflet-control-zoom-out  {
	font-size: 22px;
	}


/* layers control */

.leaflet-control-layers {
	box-shadow: 0 1px 5px rgba(0,0,0,0.4);
	background: #fff;
	border-radius: 5px;
	}
.leaflet-control-layers-toggle {
	background-image: url(416d91365b44e4b4f477.png);
	width: 36px;
	height: 36px;
	}
.leaflet-retina .leaflet-control-layers-toggle {
	background-image: url(8f2c4d11474275fbc161.png);
	background-size: 26px 26px;
	}
.leaflet-touch .leaflet-control-layers-toggle {
	width: 44px;
	height: 44px;
	}
.leaflet-control-layers .leaflet-control-layers-list,
.leaflet-control-layers-expanded .leaflet-control-layers-toggle {
	display: none;
	}
.leaflet-control-layers-expanded .leaflet-control-layers-list {
	display: block;
	position: relative;
	}
.leaflet-control-layers-expanded {
	padding: 6px 10px 6px 6px;
	color: #333;
	background: #fff;
	}
.leaflet-control-layers-scrollbar {
	overflow-y: scroll;
	overflow-x: hidden;
	padding-right: 5px;
	}
.leaflet-control-layers-selector {
	margin-top: 2px;
	position: relative;
	top: 1px;
	}
.leaflet-control-layers label {
	display: block;
	}
.leaflet-control-layers-separator {
	height: 0;
	border-top: 1px solid #ddd;
	margin: 5px -10px 5px -6px;
	}

/* Default icon URLs */
.leaflet-default-icon-path {
	background-image: url(2b3e1faf89f94a483539.png);
	}


/* attribution and scale controls */

.leaflet-container .leaflet-control-attribution {
	background: #fff;
	background: rgba(255, 255, 255, 0.7);
	margin: 0;
	}
.leaflet-control-attribution,
.leaflet-control-scale-line {
	padding: 0 5px;
	color: #333;
	}
.leaflet-control-attribution a {
	text-decoration: none;
	}
.leaflet-control-attribution a:hover {
	text-decoration: underline;
	}
.leaflet-container .leaflet-control-attribution,
.leaflet-container .leaflet-control-scale {
	font-size: 11px;
	}
.leaflet-left .leaflet-control-scale {
	margin-left: 5px;
	}
.leaflet-bottom .leaflet-control-scale {
	margin-bottom: 5px;
	}
.leaflet-control-scale-line {
	border: 2px solid #777;
	border-top: none;
	line-height: 1.1;
	padding: 2px 5px 1px;
	font-size: 11px;
	white-space: nowrap;
	overflow: hidden;
	-moz-box-sizing: border-box;
	     box-sizing: border-box;

	background: #fff;
	background: rgba(255, 255, 255, 0.5);
	}
.leaflet-control-scale-line:not(:first-child) {
	border-top: 2px solid #777;
	border-bottom: none;
	margin-top: -2px;
	}
.leaflet-control-scale-line:not(:first-child):not(:last-child) {
	border-bottom: 2px solid #777;
	}

.leaflet-touch .leaflet-control-attribution,
.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
	box-shadow: none;
	}
.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
	border: 2px solid rgba(0,0,0,0.2);
	background-clip: padding-box;
	}


/* popup */

.leaflet-popup {
	position: absolute;
	text-align: center;
	margin-bottom: 20px;
	}
.leaflet-popup-content-wrapper {
	padding: 1px;
	text-align: left;
	border-radius: 12px;
	}
.leaflet-popup-content {
	margin: 13px 19px;
	line-height: 1.4;
	}
.leaflet-popup-content p {
	margin: 18px 0;
	}
.leaflet-popup-tip-container {
	width: 40px;
	height: 20px;
	position: absolute;
	left: 50%;
	margin-left: -20px;
	overflow: hidden;
	pointer-events: none;
	}
.leaflet-popup-tip {
	width: 17px;
	height: 17px;
	padding: 1px;

	margin: -10px auto 0;

	-webkit-transform: rotate(45deg);
	   -moz-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	        transform: rotate(45deg);
	}
.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
	background: white;
	color: #333;
	box-shadow: 0 3px 14px rgba(0,0,0,0.4);
	}
.leaflet-container a.leaflet-popup-close-button {
	position: absolute;
	top: 0;
	right: 0;
	padding: 4px 4px 0 0;
	border: none;
	text-align: center;
	width: 18px;
	height: 14px;
	font: 16px/14px Tahoma, Verdana, sans-serif;
	color: #c3c3c3;
	text-decoration: none;
	font-weight: bold;
	background: transparent;
	}
.leaflet-container a.leaflet-popup-close-button:hover {
	color: #999;
	}
.leaflet-popup-scrolled {
	overflow: auto;
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
	}

.leaflet-oldie .leaflet-popup-content-wrapper {
	-ms-zoom: 1;
	}
.leaflet-oldie .leaflet-popup-tip {
	width: 24px;
	margin: 0 auto;

	-ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.70710678, M12=0.70710678, M21=-0.70710678, M22=0.70710678)";
	filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.70710678, M12=0.70710678, M21=-0.70710678, M22=0.70710678);
	}
.leaflet-oldie .leaflet-popup-tip-container {
	margin-top: -1px;
	}

.leaflet-oldie .leaflet-control-zoom,
.leaflet-oldie .leaflet-control-layers,
.leaflet-oldie .leaflet-popup-content-wrapper,
.leaflet-oldie .leaflet-popup-tip {
	border: 1px solid #999;
	}


/* div icon */

.leaflet-div-icon {
	background: #fff;
	border: 1px solid #666;
	}


/* Tooltip */
/* Base styles for the element that has a tooltip */
.leaflet-tooltip {
	position: absolute;
	padding: 6px;
	background-color: #fff;
	border: 1px solid #fff;
	border-radius: 3px;
	color: #222;
	white-space: nowrap;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
	box-shadow: 0 1px 3px rgba(0,0,0,0.4);
	}
.leaflet-tooltip.leaflet-clickable {
	cursor: pointer;
	pointer-events: auto;
	}
.leaflet-tooltip-top:before,
.leaflet-tooltip-bottom:before,
.leaflet-tooltip-left:before,
.leaflet-tooltip-right:before {
	position: absolute;
	pointer-events: none;
	border: 6px solid transparent;
	background: transparent;
	content: "";
	}

/* Directions */

.leaflet-tooltip-bottom {
	margin-top: 6px;
}
.leaflet-tooltip-top {
	margin-top: -6px;
}
.leaflet-tooltip-bottom:before,
.leaflet-tooltip-top:before {
	left: 50%;
	margin-left: -6px;
	}
.leaflet-tooltip-top:before {
	bottom: 0;
	margin-bottom: -12px;
	border-top-color: #fff;
	}
.leaflet-tooltip-bottom:before {
	top: 0;
	margin-top: -12px;
	margin-left: -6px;
	border-bottom-color: #fff;
	}
.leaflet-tooltip-left {
	margin-left: -6px;
}
.leaflet-tooltip-right {
	margin-left: 6px;
}
.leaflet-tooltip-left:before,
.leaflet-tooltip-right:before {
	top: 50%;
	margin-top: -6px;
	}
.leaflet-tooltip-left:before {
	right: 0;
	margin-right: -12px;
	border-left-color: #fff;
	}
.leaflet-tooltip-right:before {
	left: 0;
	margin-left: -12px;
	border-right-color: #fff;
	}

.r6o-g8r-search{position:absolute;top:0;left:0;width:100%;height:100%;background-color:rgba(0,0,0,.6);display:flex;justify-content:center;z-index:99999}.r6o-g8r-search button{outline:none;background:none;border:none;cursor:pointer}.r6o-g8r-search button svg{color:#9ca4b1}.r6o-g8r-search .r6o-g8r-search-modal{position:absolute;top:10%;bottom:10%;width:80%;margin:0 auto;background-color:#fff;border-radius:3px;box-shadow:2px 2px 42px rgba(0,0,0,.4);overflow:hidden}.r6o-g8r-search .r6o-g8r-search-modal header{position:absolute;top:0;left:0;width:100%;height:42px;border-bottom:1px solid #e5e5e5}.r6o-g8r-search .r6o-g8r-search-modal header input{margin:5px;border:1px solid #e5e5e5;padding:4px 25px 4px 6px;background-color:#ecf0f1;border-radius:2px;width:315px}.r6o-g8r-search .r6o-g8r-search-modal header input:focus{border-color:#4f92d7;box-shadow:none}.r6o-g8r-search .r6o-g8r-search-modal header button{position:absolute;right:10px;top:8px;font-size:24px;margin:0;padding:0}.r6o-g8r-search .r6o-g8r-search-modal main{position:absolute;top:43px;left:0;bottom:0;width:100%;display:flex;flex-direction:row}.r6o-g8r-search .r6o-g8r-search-modal main aside{width:320px;height:100%;position:relative}.r6o-g8r-search .r6o-g8r-search-modal main aside .r6o-g8r-search-results-totals{color:#9ca4b1;padding:10px 20px 10px 10px;border-bottom:1px solid #e5e5e5;height:46px;box-sizing:border-box;font-size:15px;display:flex;flex-direction:row;justify-content:space-between}.r6o-g8r-search .r6o-g8r-search-modal main aside .r6o-g8r-search-results-totals svg{padding-right:5px}.r6o-g8r-search .r6o-g8r-search-modal main aside .r6o-g8r-search-results-totals span{display:flex;align-items:center}.r6o-g8r-search .r6o-g8r-search-modal main aside .r6o-g8r-search-results-list{position:absolute;width:100%;top:46px;bottom:0;overflow-y:scroll;box-shadow:inset 1px 4px 12px -6px rgba(0,0,0,.25)}.r6o-g8r-search .r6o-g8r-search-modal main aside .r6o-g8r-search-results-list ul{list-style-type:none;padding:0;margin:0}.r6o-g8r-search .r6o-g8r-search-modal main aside .r6o-g8r-search-results-list li{border-bottom:1px solid #e5e5e5;padding:10px;cursor:pointer}.r6o-g8r-search .r6o-g8r-search-modal main aside .r6o-g8r-search-results-list li h3{margin:0;padding:0;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;font-size:17px;font-weight:normal;line-height:21px}.r6o-g8r-search .r6o-g8r-search-modal main aside .r6o-g8r-search-results-list li p{margin:0;padding:0;font-size:14px;line-height:18px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;color:#767676}.r6o-g8r-search .r6o-g8r-search-modal main aside .r6o-g8r-search-results-list li p.uris a.minilink{display:inline-block;background-color:#9ca4b1;width:16px;height:16px;line-height:16px;margin:0 3px 0 1px;border-radius:50%;color:#fff;text-align:center;font-family:OpenSans;font-weight:bold;font-size:11px;text-decoration:none;margin-bottom:1px}.r6o-g8r-search .r6o-g8r-search-modal main aside .r6o-g8r-search-results-list li:hover{background-color:rgba(0,0,0,.015)}.r6o-g8r-search .r6o-g8r-search-modal main .r6o-g8r-search-map-container{flex:1;position:relative}.r6o-g8r-search .r6o-g8r-search-modal main .r6o-g8r-search-map-container .leaflet-container{width:100%;height:100%}.r6o-g8r-search .r6o-g8r-search-modal main .r6o-g8r-search-map-container .leaflet-container .leaflet-popup .leaflet-popup-close-button{display:none}.r6o-g8r-search .r6o-g8r-search-modal main .r6o-g8r-search-map-container .leaflet-container .leaflet-popup-content-wrapper{border-radius:4px !important;overflow:hidden;padding:0;width:400px}.r6o-g8r-search .r6o-g8r-search-modal main .r6o-g8r-search-map-container .leaflet-container .leaflet-popup-content-wrapper .leaflet-popup-content{width:100% !important;margin:0;font-family:PTSansNarrow;color:#003051}.r6o-g8r-search .r6o-g8r-search-modal main .r6o-g8r-search-map-container .leaflet-container .leaflet-popup-content-wrapper .r6o-g8r-map-popup-header{padding-right:35px;min-height:36px}.r6o-g8r-search .r6o-g8r-search-modal main .r6o-g8r-search-map-container .leaflet-container .leaflet-popup-content-wrapper .r6o-g8r-map-popup-header h4{font-size:17px;font-weight:normal;margin:0;padding:7px 0 7px 10px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}.r6o-g8r-search .r6o-g8r-search-modal main .r6o-g8r-search-map-container .leaflet-container .leaflet-popup-content-wrapper .r6o-g8r-map-popup-header button{position:absolute;right:3px;top:6px;font-size:24px}.r6o-g8r-search .r6o-g8r-search-modal main .r6o-g8r-search-map-container .leaflet-container .leaflet-popup-content-wrapper .r6o-g8r-map-popup-choices{max-height:360px;overflow-y:auto;padding:0}.r6o-g8r-search .r6o-g8r-search-modal main .r6o-g8r-search-map-container .leaflet-container .leaflet-popup-content-wrapper .r6o-g8r-map-popup-choices table{border-collapse:collapse;table-layout:fixed;width:100%}.r6o-g8r-search .r6o-g8r-search-modal main .r6o-g8r-search-map-container .leaflet-container .leaflet-popup-content-wrapper .r6o-g8r-map-popup-choices table tr{cursor:pointer}.r6o-g8r-search .r6o-g8r-search-modal main .r6o-g8r-search-map-container .leaflet-container .leaflet-popup-content-wrapper .r6o-g8r-map-popup-choices table tr:hover td{background-color:#f5f7f7}.r6o-g8r-search .r6o-g8r-search-modal main .r6o-g8r-search-map-container .leaflet-container .leaflet-popup-content-wrapper .r6o-g8r-map-popup-choices table td{border-top:1px solid #e5e5e5;padding:10px}.r6o-g8r-search .r6o-g8r-search-modal main .r6o-g8r-search-map-container .leaflet-container .leaflet-popup-content-wrapper .r6o-g8r-map-popup-choices table td.record-id{width:20%;color:#fff;text-align:center}.r6o-g8r-search .r6o-g8r-search-modal main .r6o-g8r-search-map-container .leaflet-container .leaflet-popup-content-wrapper .r6o-g8r-map-popup-choices table td.record-id span{display:block}.r6o-g8r-search .r6o-g8r-search-modal main .r6o-g8r-search-map-container .leaflet-container .leaflet-popup-content-wrapper .r6o-g8r-map-popup-choices table td.record-id span.shortcode{font-size:15px}.r6o-g8r-search .r6o-g8r-search-modal main .r6o-g8r-search-map-container .leaflet-container .leaflet-popup-content-wrapper .r6o-g8r-map-popup-choices table td.record-id span.id{font-size:17px}.r6o-g8r-search .r6o-g8r-search-modal main .r6o-g8r-search-map-container .leaflet-container .leaflet-popup-content-wrapper .r6o-g8r-map-popup-choices table h5{margin:0;padding:0;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;font-size:17px;font-weight:normal;line-height:21px}.r6o-g8r-search .r6o-g8r-search-modal main .r6o-g8r-search-map-container .leaflet-container .leaflet-popup-content-wrapper .r6o-g8r-map-popup-choices table p{margin:0;padding:0;font-size:14px;line-height:18px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;color:#767676}
.r6o-widget.r6o-g8r .r6o-g8r-add-new{color:#4f92d7;padding:5px 10px}.r6o-widget.r6o-g8r .r6o-g8r-add-new button{color:#4f92d7;padding:0;background:none;border:none;outline:none;cursor:pointer;text-decoration:underline;vertical-align:middle}.r6o-widget.r6o-g8r .r6o-g8r-add-new svg{font-size:15px;vertical-align:middle;padding-right:4px}.r6o-widget.r6o-g8r .r6o-g8r-card{position:relative;height:140px}.r6o-widget.r6o-g8r .r6o-g8r-card .minimap{position:absolute;width:100%;height:100%;z-index:1}.r6o-widget.r6o-g8r .r6o-g8r-card .r6o-g8r-card-content-wrapper{position:relative;width:100%;height:140px;box-sizing:border-box;padding-right:165px;pointer-events:none;overflow:hidden;z-index:2}.r6o-widget.r6o-g8r .r6o-g8r-card.blank .r6o-g8r-card-content{background-color:rgba(245,247,247,.8);text-align:center;padding-top:30px;height:100%;box-sizing:border-box;pointer-events:auto}.r6o-widget.r6o-g8r .r6o-g8r-card.blank .r6o-g8r-card-content h3{margin:0;padding:0;color:#ec971f;font-size:17px;font-weight:normal;line-height:21px}.r6o-widget.r6o-g8r .r6o-g8r-card.blank .r6o-g8r-card-content .buttons button{background-color:#f0ad4e;border:none;vertical-align:bottom;cursor:pointer}.r6o-widget.r6o-g8r .r6o-g8r-card.resolved .r6o-g8r-card-metadata{pointer-events:auto;height:100%;padding:7px 15px 3px 15px;box-sizing:border-box;margin:0;background-color:rgba(245,247,247,.8);position:relative}.r6o-widget.r6o-g8r .r6o-g8r-card.resolved .r6o-g8r-card-metadata h3{margin:0;padding:0;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;font-size:17px;font-weight:normal;line-height:21px}.r6o-widget.r6o-g8r .r6o-g8r-card.resolved .r6o-g8r-card-metadata p{margin:0;padding:0;font-size:14px;line-height:18px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;color:#767676}.r6o-widget.r6o-g8r .r6o-g8r-card.resolved .r6o-g8r-card-metadata a{color:#3f3f3f}.r6o-widget.r6o-g8r .r6o-g8r-card.resolved .r6o-g8r-card-metadata .last-modified{position:absolute;left:12px;bottom:10px;font-size:14px;padding:3px 7px 4px 7px;margin-top:5px;line-height:14px;background-color:#fff;border:1px solid #e5e5e5;border-radius:2px}.r6o-widget.r6o-g8r .r6o-g8r-card.resolved .r6o-g8r-card-metadata .last-modified .by{color:#292929}.r6o-widget.r6o-g8r .r6o-g8r-card.resolved .r6o-g8r-card-metadata .last-modified .at{padding-left:5px;color:#757575}.r6o-widget.r6o-g8r .r6o-g8r-card.resolved .r6o-g8r-card-metadata .edit-buttons{position:absolute;right:12px;bottom:11px;line-height:14px}.r6o-widget.r6o-g8r .r6o-g8r-card.resolved .r6o-g8r-card-metadata .edit-buttons button{font-size:16px;border:none;padding:0 6px}.r6o-widget.r6o-g8r .r6o-g8r-card.resolved .r6o-g8r-card-metadata .edit-buttons button svg{vertical-align:text-bottom}.r6o-widget.r6o-g8r .r6o-g8r-card.resolved .r6o-g8r-card-metadata .unverified-warning{width:100%;box-sizing:border-box;position:absolute;bottom:0;left:0;padding:2px 5px 0 15px;font-size:15px;background-color:rgba(240,173,78,.18);border-top:1px solid #f0ad4e;color:#ec971f;line-height:25px}.r6o-widget.r6o-g8r .r6o-g8r-card.resolved .r6o-g8r-card-metadata .unverified-warning button{float:right;background-color:#f0ad4e;margin:1px 3px 0 0;font-size:15px;border:none;padding:0 6px}.r6o-widget.r6o-g8r .r6o-g8r-card.resolved .r6o-g8r-card-metadata .unverified-warning button svg{vertical-align:middle}
.mrm-coordinate-panel{position:absolute;bottom:30px;left:30px;padding:8px;z-index:999;background-color:rgba(255,255,255,.5);border-radius:4px;border:1px solid rgba(255,255,255,.5);box-shadow:0 0 8px rgba(0,0,0,.35);color:#333;font-size:17px;transition:background-color .2s linear}.mrm-coordinate-panel span{display:inline-block;margin:0 4px}.mrm-coordinate-panel:hover{background-color:#fff}
.mrm-search-widget-wrapper{--blueish-white: #ecf0f1;--lightgrey-border: #e5e5e5;position:absolute;top:0;right:57px;width:0;border-radius:4px;box-shadow:0 0 8px rgba(0,0,0,.35);overflow:hidden;transition:width .2s}.mrm-search-widget-wrapper input{width:100%;height:47px;padding:12px;box-sizing:border-box;background-color:#fff}.mrm-search-widget-wrapper ul{margin:0;padding:0;list-style-type:none;background-color:var(--blueish-white);max-height:320px;overflow-y:auto}.mrm-search-widget-wrapper li{padding:12px;border-top:1px solid var(--lightgrey-border);white-space:nowrap;text-overflow:ellipsis;cursor:pointer}.mrm-search-widget-wrapper li h3{margin:0;padding:0;font-weight:500;font-size:17px}.mrm-search-widget-wrapper li p{margin:0;padding:2px 0;font-size:17px}.mrm-search-widget-wrapper li p.comments{-webkit-box-orient:vertical;-webkit-line-clamp:3;display:-webkit-box;overflow:hidden;white-space:normal}.mrm-search-widget-wrapper li p.tags{font-size:14px}.mrm-search-widget-wrapper li:hover,.mrm-search-widget-wrapper li.active{background-color:#fff}.mrm-search-widget-wrapper.open{width:340px}
.mrm-annotation-search{position:absolute;top:30px;right:30px;z-index:999999;transition:background-color .2s linear}.mrm-annotation-search .mrm-search-toggle{width:47px;height:47px;background-color:rgba(255,255,255,.5);border-radius:4px;outline:none;border:1px solid rgba(255,255,255,.5);box-shadow:0 0 8px rgba(0,0,0,.35);display:flex;justify-content:center;align-items:center}.mrm-annotation-search .mrm-search-toggle svg{font-size:26px;color:#000}.mrm-annotation-search .mrm-search-toggle:hover{background-color:#fff}
.mrm-toolbar{position:absolute;top:85px;right:30px;padding:0;z-index:999;background-color:rgba(255,255,255,.5);border-radius:4px;border:1px solid rgba(255,255,255,.5);box-shadow:0 0 8px rgba(0,0,0,.35);overflow:hidden;transition:background-color .2s linear}.mrm-toolbar button.a9s-toolbar-btn{display:block;margin:0;border-radius:0}.mrm-toolbar button.a9s-toolbar-btn:hover{background-color:rgba(0,0,0,.25)}.mrm-toolbar button.a9s-toolbar-btn.active{background-color:rgba(0,0,0,.5)}.mrm-toolbar button.a9s-toolbar-btn.active *{stroke:rgba(255,255,255,.6)}.mrm-toolbar button.a9s-toolbar-btn.active .handles circle{stroke-width:4px;fill:#000;stroke:#fff}.mrm-toolbar:hover{background-color:#fff}
.mrm-colorcoding-panel{padding-right:8px;background-color:rgba(255,255,255,.5);border-radius:4px;border:1px solid rgba(255,255,255,.5);box-shadow:0 0 8px rgba(0,0,0,.35);transition:background-color .2s linear}.mrm-colorcoding-panel svg{font-size:24px;vertical-align:text-bottom;padding-left:8px}.mrm-colorcoding-panel select{background:transparent;border:none;outline:none;padding:8px 0 8px 8px}.mrm-colorcoding-panel select:focus{outline:none}.mrm-colorcoding-panel:hover{background-color:#fff}.a9s-annotationlayer.color-by-category .a9s-annotation.ENTITY .a9s-inner,.a9s-annotationlayer.color-by-category .a9s-annotation.ENTITY.selected .a9s-inner{stroke:#bf0707 !important}.a9s-annotationlayer.color-by-category .a9s-annotation.LABEL .a9s-inner,.a9s-annotationlayer.color-by-category .a9s-annotation.LABEL.selected .a9s-inner{stroke:#3333b9 !important}.a9s-annotationlayer.color-by-category .a9s-annotation.SYMBOL .a9s-inner,.a9s-annotationlayer.color-by-category .a9s-annotation.SYMBOL.selected .a9s-inner{stroke:#137713 !important}.a9s-annotationlayer.color-by-progress .a9s-annotation .a9s-outer,.a9s-annotationlayer.color-by-progress .a9s-annotation.selected .a9s-outer{display:none}.a9s-annotationlayer.color-by-progress .a9s-annotation.unverified .a9s-inner,.a9s-annotationlayer.color-by-progress .a9s-annotation.unverified.selected .a9s-inner{stroke:rgba(0,0,0,.45) !important;stroke-width:1px;fill:rgba(0,0,0,.15)}.a9s-annotationlayer.color-by-progress .a9s-annotation.incomplete .a9s-inner,.a9s-annotationlayer.color-by-progress .a9s-annotation.incomplete.selected .a9s-inner{stroke:#ff0 !important;fill:#ffff0021;stroke-width:3px;stroke-dasharray:6 4}.a9s-annotationlayer.color-by-progress .a9s-annotation.incomplete .a9s-outer,.a9s-annotationlayer.color-by-progress .a9s-annotation.incomplete.selected .a9s-outer{display:initial;stroke-width:3px;stroke:rgba(0,0,0,.7) !important}.a9s-annotationlayer.color-by-progress .a9s-annotation.verified .a9s-inner,.a9s-annotationlayer.color-by-progress .a9s-annotation.verified.selected .a9s-inner{stroke:green !important;stroke-width:4px;fill:rgba(0,100,0,.5)}.a9s-annotationlayer.color-by-grouped .a9s-annotation.grouped .a9s-inner,.a9s-annotationlayer.color-by-grouped .a9s-annotation.grouped.selected .a9s-inner{stroke:#be7d05 !important;fill:#be7d0557 !important}.a9s-annotationlayer.color-by-grouped .a9s-annotation.grouped.ordered .a9s-inner,.a9s-annotationlayer.color-by-grouped .a9s-annotation.grouped.ordered.selected .a9s-inner{stroke:#008106 !important;fill:#00810657 !important}.a9s-annotationlayer.color-by-check .a9s-annotation .a9s-inner,.a9s-annotationlayer.color-by-check .a9s-annotation.selected .a9s-inner{stroke:#424242 !important}.a9s-annotationlayer.color-by-check .a9s-annotation.needs-check .a9s-inner,.a9s-annotationlayer.color-by-check .a9s-annotation.needs-check.selected .a9s-inner{stroke:#f00e0e !important;fill:#f0057e0e !important}.a9s-annotationlayer.color-by-custom .a9s-annotation:not(.selected).has-custom .a9s-inner{fill:var(--col) !important;stroke:var(--col) !important;fill-opacity:.5}
.mrm-mapkurator-control{padding:0;background-color:rgba(255,255,255,.5);border-radius:4px;border:1px solid rgba(255,255,255,.5);box-shadow:0 0 8px rgba(0,0,0,.35);color:#333;font-size:17px;transition:background-color .2s linear;cursor:pointer}.mrm-mapkurator-control *{cursor:pointer}.mrm-mapkurator-control button{display:flex;align-items:center;padding:10px 14px;background-color:transparent;border:none;outline:none;font-family:PTSansNarrow !important;font-size:20px}.mrm-mapkurator-control button label{padding-left:5px;font-size:17px}.mrm-mapkurator-control.started svg{animation:rotation 1s;animation-timing-function:linear;animation-iteration-count:infinite}.mrm-mapkurator-control:hover{background-color:#fff}.mrm-mapkurator-control.failed,.mrm-mapkurator-control.failed:hover{background-color:rgba(255,0,0,.5);border:1px solid rgba(255,0,0,.5)}.mrm-mapkurator-control.failed button,.mrm-mapkurator-control.failed:hover button{color:#fff}.mrm-mapkurator-selection-layer{position:absolute;top:0;left:0;width:100%;height:100%}.mrm-mapkurator-selection-layer rect{stroke:blue;stroke-width:2px;fill:rgba(0,0,255,.15)}@keyframes rotation{from{transform:rotate(0deg)}to{transform:rotate(359deg)}}
body{display:flex;flex-direction:column}#image-pane button{cursor:pointer !important}#image-pane button .r6o-btn svg{cursor:pointer}.r6o-editor{width:450px !important;font-family:PTSansNarrow !important}.r6o-editor .r6o-widget textarea{font-family:PTSansNarrow !important;font-size:16px}.r6o-editor .r6o-widget.r6o-tag .r6o-autocomplete input{font-family:"PTSansNarrow";font-size:16px;padding-left:7px;letter-spacing:1px;outline:none}.r6o-editor .r6o-footer{cursor:move}.r6o-editor textarea:focus{box-shadow:none}#image-pane{flex:1;position:relative !important;top:auto;right:auto;bottom:auto;left:auto;margin-left:210px}#image-pane svg{min-width:10px;min-height:10px}#image-pane .bottom-right-controls{position:absolute;bottom:30px;right:30px;z-index:999}#image-pane .bottom-right-controls>div{display:inline-block;vertical-align:top;height:42px;margin-left:10px}.a9s-annotationlayer{outline:none}.a9s-annotationlayer .a9s-annotation .a9s-inner,.a9s-annotationlayer .a9s-selection .a9s-inner,.a9s-annotationlayer .a9s-annotation.selected.improved-polygon .a9s-inner,.a9s-annotationlayer .a9s-selection.improved-polygon .a9s-inner{stroke:#000;stroke-width:2px;stroke-dasharray:none}.a9s-annotationlayer .a9s-annotation .a9s-outer,.a9s-annotationlayer .a9s-selection .a9s-outer,.a9s-annotationlayer .a9s-annotation.selected.improved-polygon .a9s-outer,.a9s-annotationlayer .a9s-selection.improved-polygon .a9s-outer{stroke-width:5px;stroke:rgba(255,255,255,.5);stroke-linejoin:round}.a9s-annotationlayer .a9s-selection:hover .a9s-inner,.a9s-annotationlayer .a9s-annotation.selected:hover .a9s-inner{stroke:#000}.a9s-annotationlayer .a9s-annotation:not(.hover):hover .a9s-inner{stroke:#000}.a9s-annotationlayer .a9s-selection.tilted-box .a9s-tilted-box-baseline .a9s-inner,.a9s-annotationlayer .a9s-annotation.tilted-box .a9s-tilted-box-baseline .a9s-inner{stroke:#fff;stroke-width:3px !important}.a9s-annotationlayer .a9s-selection.tilted-box .a9s-tilted-box-baseline .a9s-outer,.a9s-annotationlayer .a9s-annotation.tilted-box .a9s-tilted-box-baseline .a9s-outer{stroke:#000;stroke-width:6px !important}.a9s-annotationlayer .a9s-selection.tilted-box .a9s-minor-handle,.a9s-annotationlayer .a9s-annotation.tilted-box .a9s-minor-handle{stroke:#000 !important;stroke-width:4px !important}.a9s-annotationlayer .a9s-selection.tilted-box .a9s-minor-handle:hover,.a9s-annotationlayer .a9s-annotation.tilted-box .a9s-minor-handle:hover{fill:#fff !important}.a9s-annotationlayer .a9s-selection .a9s-handle .a9s-handle-inner,.a9s-annotationlayer .a9s-annotation.selected .a9s-handle .a9s-handle-inner,.a9s-annotationlayer .a9s-annotation.selected.improved-polygon .a9s-handle .a9s-handle-inner,.a9s-annotationlayer .a9s-selection.improved-polygon .a9s-handle .a9s-handle-inner{fill:#000;stroke:#fff;stroke-width:2px}.a9s-annotationlayer .a9s-selection .a9s-handle .a9s-handle-outer,.a9s-annotationlayer .a9s-annotation.selected .a9s-handle .a9s-handle-outer,.a9s-annotationlayer .a9s-annotation.selected.improved-polygon .a9s-handle .a9s-handle-outer,.a9s-annotationlayer .a9s-selection.improved-polygon .a9s-handle .a9s-handle-outer{stroke:#000;stroke-width:6px}.a9s-annotationlayer .a9s-selection .a9s-handle:hover .a9s-handle-inner,.a9s-annotationlayer .a9s-annotation.selected .a9s-handle:hover .a9s-handle-inner,.a9s-annotationlayer .a9s-annotation.selected.improved-polygon .a9s-handle:hover .a9s-handle-inner,.a9s-annotationlayer .a9s-selection.improved-polygon .a9s-handle:hover .a9s-handle-inner{fill:#fff}.a9s-annotationlayer .a9s-annotation.a9s-point .a9s-inner{display:none}.a9s-annotationlayer .a9s-annotation.a9s-point .a9s-outer{fill:#fff;stroke:#000;stroke-width:2px}#image-pane .openseadragon-canvas{outline:none}

/*# sourceMappingURL=recogito-mrm-ui.css.map*/