@(loggedInUser: Option[String], document: models.generated.tables.records.DocumentRecord,
  accessLevel: models.document.DocumentAccessLevel)(implicit webjars: WebJarAssets)
<!DOCTYPE html>
<html>
  <head>
    <title>Downloads | @Option(document.getAuthor).map(_ + ": ")@document.getTitle</title>
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/document/downloads/index.css")"/>
    <script src="@routes.WebJarAssets.at(webjars.locate("1.12.0/jquery.min.js"))"></script>
  </head>
  <body>
    <div class="header-iconbar">
      <ul>
        <li class="tooltip bottom">
          <a href="@controllers.document.annotation.routes.AnnotationController.showAnnotationViewForDocPart(document.getId, 1)">
            <span class="icon">&#xe86f;</span>
            <span class="hint">Document view</span>
          </a>
        </li>

        <li class="tooltip narrow bottom">
          <a href="@controllers.document.map.routes.MapController.showMap(document.getId)">
            <span class="icon">&#xe846;</span>
            <span class="hint">Map view</span>
          </a>
        </li>

        <li class="tooltip bottom">
          <a href="@controllers.document.stats.routes.StatsController.showDocumentStats(document.getId)">
            <span class="icon">&#xe8ae;</span>
            <span class="hint">Annotation statistics</span>
          </a>
        </li>

        <li class="active tooltip bottom">
          <span class="icon">&#xe875;</span>
          <span class="hint">Download options</span>
        </li>

        <li class="tooltip bottom">
          <a href="@controllers.document.discussion.routes.DiscussionController.showDiscussionBoard(document.getId)">
            <span class="icon">&#xe862;</span>
            <span class="hint">Discuss this document</span>
          </a>
        </li>

        @if(accessLevel.isAdmin) {
          <li class="tooltip bottom">
            <a href="@controllers.document.settings.routes.SettingsController.showDocumentSettings(document.getId, None)">
              <span class="icon">&#xe8c9;</span>
              <span class="hint">Document settings</span>
            </a>
          </li>
        }

        @if(loggedInUser.isDefined) {
          <li class="home">
            <a href="@controllers.my.routes.MyRecogitoController.index(loggedInUser.get.toLowerCase, None)">
              <span class="icon">&#xe8bf;</span>
            </a>
          </li>
        }
      </ul>
    </div> <!-- .header-iconbar -->

    <div class="sidebar">
      <div class="sidebar-header"></div>
    </div> <!-- .sidebar -->

    <div class="content">
      <div class="panel">
        <h2>Annotations</h2>
        <div class="inner">
          <ul>
            <li>
              <div class="description">
                <h3>CSV</h3>
                <p>Download annotations as a data table for importing into spreadsheet software or
                  a GIS.</p>
              </div>
              <div class="button-container">
                <a href="@controllers.document.downloads.routes.DownloadsController.downloadCSV(document.getId)" class="btn small"><span class="icon">&#xf019;</span> CSV</a>
              </div>
            </li>

            <li>
              <div class="description">
                <h3>RDF</h3>
                <p>Download annotations and document metadata as RDF, encoded using Open Annotation
                  and Dublin Core.</p>
              </div>
              <div class="button-container">
                <a class="btn small disabled"><span class="icon">&#xf019;</span> RDF/Turtle</a>
                <a class="btn small disabled"><span class="icon">&#xf019;</span> RDF/XML</a>
              </div>
            </li>
          </ul>
        </div>
      </div>

      <div class="panel">
        <h2>Places</h2>
        <div class="inner">
          <li>
            <div class="description">
              <h3>GeoJSON</h3>
              <p>Confirmed geo-located places in the document as a GeoJSON FeatureCollection.</p>
            </div>
            <div class="button-container">
              <a href="@controllers.document.downloads.routes.DownloadsController.downloadGeoJSON(document.getId)" class="btn small"><span class="icon">&#xf019;</span> GeoJSON</a>
            </div>
          </li>

          <li>
            <div class="description">
              <h3>KML</h3>
              <p>Confirmed geo-located places as KML file, for viewing in Google Earth.</p>
            </div>
            <div class="button-container">
              <a class="btn small disabled"><span class="icon">&#xf019;</span> KML</a>
            </div>
          </li>
        </div>
      </div>

      <div class="panel">
        <h2>Annotated Document</h2>
        <div class="inner">
          <p class="no-options">No download options available yet.</p>
        </div>
      </div>
    </div>

    @views.html.document.initTooltips()
  </body>
</html>
