@(
  doc: models.document.DocumentInfo,
  currentUser: Option[models.generated.tables.records.UserRecord],
  accessLevel: models.document.DocumentAccessLevel,
  annotationCount: Long
 )(implicit request: RequestHeader, webjars: WebJarAssets)
<!DOCTYPE html>
<html>
  <head>
    <title>Downloads | @doc.author.map(_ + ": ")@doc.title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0">
    @views.html.document.standardMeta(doc, annotationCount)
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/document/downloads/index.css")"/>
    <script src="@routes.WebJarAssets.at(webjars.locate("1.12.0/jquery.min.js"))"></script>
  </head>
  <body>
    @views.html.document.iconbar(doc.document, currentUser, accessLevel, "downloads")

    <div class="sidebar">
      @views.html.sidebarHeader(doc.owner)
    </div> <!-- .sidebar -->

    <div class="content">
      <div class="panel">
        <h2>Annotations</h2>
        <div class="inner">
          <ul>
            <li>
              <div class="description">
                <h3>CSV</h3>
                <p>Download annotations as a data table for importing into spreadsheet software or
                  a GIS.</p>
              </div>
              <div class="button-container">
                <a href="@controllers.document.downloads.routes.DownloadsController.downloadCSV(doc.id)" class="btn small"><span class="icon">&#xf019;</span> CSV</a>
              </div>
            </li>

            <li>
              <div class="description">
                <h3>RDF</h3>
                <p>Download annotations and document metadata as RDF, encoded using Open Annotation
                  and Dublin Core.</p>
              </div>
              <div class="button-container">
                <a class="btn small disabled"><span class="icon">&#xf019;</span> RDF/Turtle</a>
                <a class="btn small disabled"><span class="icon">&#xf019;</span> RDF/XML</a>
              </div>
            </li>
          </ul>
        </div>
      </div>

      <div class="panel">
        <h2>Places</h2>
        <div class="inner">
          <li>
            <div class="description">
              <h3>GeoJSON</h3>
              <p>Confirmed geo-located places in the document as a GeoJSON FeatureCollection.</p>
            </div>
            <div class="button-container">
              <a href="@controllers.document.downloads.routes.DownloadsController.downloadGeoJSON(doc.id)" class="btn small"><span class="icon">&#xf019;</span> GeoJSON</a>
            </div>
          </li>

          <li>
            <div class="description">
              <h3>KML</h3>
              <p>Confirmed geo-located places as KML file, for viewing in Google Earth.</p>
            </div>
            <div class="button-container">
              <a class="btn small disabled"><span class="icon">&#xf019;</span> KML</a>
            </div>
          </li>
        </div>
      </div>

      <div class="panel">
        <h2>Annotated Document</h2>
        <div class="inner">
          <p class="no-options">No download options available yet.</p>
        </div>
      </div>
    </div>
  </body>
</html>
