@(
  doc: services.document.DocumentInfo,
  currentUser: Option[services.user.User],
  accessLevel: services.document.RuntimeAccessLevel,
  annotationCount: Long,
  hasRelations: Boolean
 )(implicit request: RequestHeader, messages: Messages, webJarsUtil: org.webjars.play.WebJarsUtil)
<!DOCTYPE html>
<html>
  <head>
    <title>Downloads | @doc.author.map(_ + ": ")@doc.title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0">
    @views.html.document.standardMeta(doc, annotationCount)
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/document/downloads/index.css")"/>
    @Html(webJarsUtil.script("1.12.0/jquery.min.js"))
    @if(doc.hasDataParts) {
      @Html(webJarsUtil.script("jquery-ui.min.js"))
      @Html(webJarsUtil.script("papaparse.min.js"))
      @Html(webJarsUtil.requireJs(routes.Assets.versioned("javascripts/document/downloads/app.js")))
      <script>
        window.config = {
          documentId: '@doc.id',
          dataPartSequenceNo: [ @doc.dataParts.map(_.getSequenceNo).mkString(",") ]
        }
      </script>
    }
  </head>
  <body>
    @views.html.document.iconbar(doc.document, currentUser, accessLevel, "downloads")

    <div class="sidebar">
      @views.html.sidebarHeader(doc.owner)
    </div>

    <div class="content">
      <div class="panel">
        <h2>@messages("common.annotations")</h2>
        <div class="inner">
          <ul>
            <li>
              <div class="description">
                <h3>CSV</h3>
                <p>@messages("document.downloads.annotations.csv.text")</p>
              </div>
              <div class="button-container">
                <a href="@controllers.document.downloads.routes.DownloadsController.downloadCSV(doc.id)" class="btn small"><span class="icon">&#xf019;</span> CSV</a>
              </div>
            </li>

            <li class="three-buttons">
              <div class="description">
                <h3>RDF</h3>
                <p>@messages("document.downloads.annotations.rdf.text")</p>
              </div>
              <div class="button-container">
                <a href="@controllers.document.downloads.routes.DownloadsController.downloadJSONLD(doc.id)" class="btn small"><span class="icon">&#xf019;</span> JSON-LD</a>
                <a href="@controllers.document.downloads.routes.DownloadsController.downloadTTL(doc.id)" class="btn small"><span class="icon">&#xf019;</span> RDF/Turtle</a>
                <a href="@controllers.document.downloads.routes.DownloadsController.downloadRDFXML(doc.id)" class="btn small"><span class="icon">&#xf019;</span> RDF/XML</a>
              </div>
            </li>
          </ul>
        </div>
      </div>

      <div class="panel">
        <h2>Places</h2>
        <div class="inner">
          <ul>
            <li>
              <div class="description">
                <h3>GeoJSON</h3>
                <p>@messages("document.downloads.annotations.geojson.text")</p>
              </div>
              <div class="button-container">
                <a href="@controllers.document.downloads.routes.DownloadsController.downloadGeoJSON(doc.id)" class="btn small"><span class="icon">&#xf019;</span> GeoJSON</a>
              </div>
            </li>

            <li>
              <div class="description">
                <h3>KML</h3>
                <p>@messages("document.downloads.annotations.kml.text")</p>
              </div>
              <div class="button-container">
                <a class="btn small disabled"><span class="icon">&#xf019;</span> KML</a>
              </div>
            </li>
          </ul>
        </div>
      </div>

      @if(hasRelations) {
        <div class="panel">
          <h2>Relations</h2>
          <div class="inner">
            <ul>
              <li class="two-buttons">
                <div class="description">
                  <h3>Gephi CSV Node/Edge Lists</h3>
                  <p>
                    The relationships annotated in this document, as CSV files compatible with
                    the Node and Edge List format of the <a href="http://gephi.org/" target="_blank">Gephi</a>
                    graph visualization platform.
                  </p>
                </div>
                <div class="button-container">
                  <a href="@controllers.document.downloads.routes.DownloadsController.downloadGephiNodes(doc.id)" class="btn small"><span class="icon">&#xf019;</span> Nodes</a>
                  <a href="@controllers.document.downloads.routes.DownloadsController.downloadGephiEdges(doc.id)" class="btn small"><span class="icon">&#xf019;</span> Edges</a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      }

      <div class="panel">
        <h2>Annotated Document</h2>
        <div class="inner">
          @if(accessLevel.canReadAll) {
            @if(doc.hasTextParts) {
              <ul>
                <li>
                  <div class="description">
                    <h3>TEI</h3>
                    <p>@messages("document.downloads.annotations.tei.text")</p>
                  </div>
                  <div class="button-container">
                    <a href="@controllers.document.downloads.routes.DownloadsController.downloadTEI(doc.id)" class="btn small"><span class="icon">&#xf019;</span> TEI/XML</a>
                  </div>
                </li>
              </ul>
            } else { @if(doc.hasDataParts) {
              <ul>
                @if(doc.dataParts.size == 1) {
                  <li>
                    <div class="description">
                      <h3>Merged CSV</h3>
                      <p>
                        Your original spreadsheet, with Recogito's additional data appended as extra columns.
                      </p>
                    </div>
                    <div class="button-container">
                      <a href="@controllers.document.downloads.routes.DownloadsController.downloadCSV(doc.id, true)" class="btn small"><span class="icon">&#xf019;</span> CSV</a>
                    </div>
                  </li>
                } else {
                  <li>
                    <div class="description">
                      <h3>Merged CSVs</h3>
                      <p>
                        Your original spreadsheets, with Recogito's additional data appended as extra columns, packaged in a Zip file.
                      </p>
                    </div>
                    <div class="button-container">
                      <a href="@controllers.document.downloads.routes.DownloadsController.downloadCSV(doc.id, true)" class="btn small"><span class="icon">&#xf019;</span> ZIP</a>
                    </div>
                  </li>
                }

                <li class="two-buttons gazetteer">
                  <div class="description">
                    <h3>Pelagios Gazetteer GeoJSON</h3>
                    <p>
                      Converts your original spreadsheet and annotations to GeoJSON, following
                      the Pelagios conventions on encoding gazetteers. <u>A field mapping
                      must be configured before running the conversion.</u>
                    </p>
                  </div>
                  <div class="button-container">
                    <a href="#" class="btn orange small settings"><span class="icon">&#xf06a;</span> Settings</a>
                    <form action="@controllers.document.downloads.routes.DownloadsController.downloadGeoJSON(doc.id, true)" method="POST">
                      <input type="hidden" id="json" name="json" />
                      <button type="submit" class="btn small download" disabled="true"><span class="icon">&#xf019;</span> GeoJSON</button>
                    </form>
                  </div>
                </li>
              </ul>
            } else {
              <p class="no-options">No download options available</p>
            }}
          } else {
            <p class="no-options">Some download options may be unavailable due to access restrictions.</p>
          }
        </div>
      </div>

      @if(doc.hasDataParts) {
        @helper.javascriptRouter("jsRoutes")(
          controllers.document.routes.javascript.DocumentController.getRaw
        )
      }
    </div>
  </body>
</html>
