@(user: models.generated.tables.records.UserRecord, usedDiskspace: Long, quotaMB: Int,
  myDocCount: Long, sharedWithMeCount: Long, activeTab: String)(content: Html)
<!DOCTYPE html>
<html>
  <head>
    <title>Recogito</title>
    <meta name="viewport" content="initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,width=device-width,height=device-height,target-densitydpi=device-dpi,user-scalable=yes" />
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/my/index.css")"/>
    <script src="@routes.Assets.versioned("lib/jquery/jquery.min.js")"></script>
    <script src="@routes.Assets.versioned("lib/requirejs/require.js")" data-main="@routes.Assets.versioned("javascripts/my/index.js")"></script>
  </head>
  <body>
    <div class="page-header">

      <div class="user-section">
        <div class="user-info">
          <h1>@user.getUsername</h1>

          <p class="member-since">
            <span class="icon">&#xf017;</span>
            Joined on @user.getMemberSince.format("d MMM YYYY")
          </p>

          <div class="used-diskspace">
            <div class="meter">
              <div class="bar" style="width:@{Math.max(1.5, 100 * usedDiskspace.toDouble / (quotaMB * 1024 * 1024)) }%"></div>
            </div>
            <span class="label">
              @{ new java.text.DecimalFormat("#.##").format(usedDiskspace.toDouble / (1024 * 1024)) } of @quotaMB MB Used
            </span>
          </div>

          <p>
            <a class="account-settings" href="#">
              <span class="icon">&#xf0ad;</span>
              <span class="label">Account Settings</span>
            </a>
         </p>

          <p>
            <a href="@controllers.landing.routes.LoginLogoutController.logout">
              <span class="icon">&#xf011;</span>
              <span class="label">logout</span>
            </a>
          </p>
        </div>
      </div> <!-- .user-section -->

      <div class="activity">

      </div> <!-- .activity -->

    </div> <!-- .header -->

    <div class="toolbar">
      <ul class="tabs">
        <li class="my-documents @if(activeTab == "my") { enabled }">
          <a href="@controllers.my.routes.MyRecogitoController.index(user.getUsername.toLowerCase, Some("my"))">My documents (@myDocCount)</a>
        </li><!--
        
        --><li class="shared-with-me @if(activeTab == "shared") { enabled }">
          <a href="@controllers.my.routes.MyRecogitoController.index(user.getUsername.toLowerCase, Some("shared"))">Shared with me (@sharedWithMeCount)</a>
        </li>
      </ul>

      <div class="tools">
        <div class="searchbox">
          <input class="search inline" type="text" placeholder="Search..."/>
          <button class="search icon">&#xf002;</button>
        </div>

        <div class="document-tools">
          <button class="nostyle delete disabled" title="Delete selected documents">&#xe88c;</button>
        </div>

        <button class="nostyle display-mode stroke7" title="Show documents as grid">&#xe645;</button> <!-- list: &#xe636; -->
        <button class="nostyle add-folder" title="Create new folder">&#xe890;</button>

        <div class="import">
          <a class="btn" href="@controllers.my.upload.routes.UploadController.showStep1(user.getUsername.toLowerCase)">New Document</a>
        </div>

      </div> <!-- .tools -->

    </div> <!-- .toolbar -->

    <div class="document-panel">
      @content
    </div>
  </body>
</html>
