@(user: models.generated.tables.records.UserRecord, usedDiskspace: Long, documents: Seq[models.generated.tables.records.DocumentRecord])
<!DOCTYPE html>
<html>
  <head>
    <title>MY RECOGITO</title>
  </head>
  <body>
    <h1>My Recogito</h1>
    <p>you are logged in as: @user.getUsername</p>
    <p><a href="@controllers.landing.routes.LogoutController.logout">logout</a></p>

    <p>Used Diskspace: @{ usedDiskspace / 1024 } kBytes</p>

    <ul>
      @for(document <- documents) {
        <li><a href="@controllers.document.annotation.routes.AnnotationController.showAnnotationViewForDocPart(document.getId, 1)">@document.getTitle</a></li>
      }
    </ul>

    <a href="@controllers.my.upload.routes.UploadController.showStep1(user.getUsername.toLowerCase)">Upload New Document</a>
  </body>
</html>
