@(user: models.generated.tables.records.UserRecord, usedDiskspace: Long,
  documents: Seq[models.generated.tables.records.DocumentRecord])(implicit request: RequestHeader)
<!DOCTYPE html>
<html>
  <head>
    <title>MY RECOGITO</title>
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/my/index.css")"/>
    <script src="@routes.Assets.versioned("lib/jquery/jquery.min.js")"></script>
  </head>
  <body>
    <div class="page-header">

      <div class="user-section">
        <div class="user-avatar"></div>
        <div class="user-info">
          <h1>@user.getUsername</h1>

          <p class="member-since">
            <span class="icon">&#xf017;</span>
            Joined on @user.getMemberSince.format(java.time.format.DateTimeFormatter.ofPattern(
              "d MMM YYYY", java.util.Locale.ENGLISH))
          </p>

          <!-- p class="disk-quota">
            @{ usedDiskspace / 1024 } kB of 100 MB Used
          </p -->

          <p>
            <a href="#">
              <span class="icon">&#xf0ad;</span>
              <span class="label">Account Settings</span>
            </a>
         </p>

          <p>
            <a href="@controllers.landing.routes.LoginLogoutController.logout">
              <span class="icon">&#xf011;</span>
              <span class="label">logout</span>
            </a>
          </p>
        </div>
      </div> <!-- .user-section -->

      <div class="activity">

      </div> <!-- .activity -->

    </div> <!-- .header -->

    <div class="toolbar">
      <ul class="tabs">
        <li><a href="#">My documents</a></li>
        <li class="disabled"><a href="?tab=shared">Shared with me</a></li>
      </ul>

      <div class="tools">
        <div class="searchbox">
          <input class="search inline" type="text" placeholder="Search..."/>
          <button class="search icon">&#xf002;</button>
        </div>

        <button class="nostyle display-mode">&#xe645;</button> <!-- list: &#xe636; -->
        <button class="nostyle add-folder">&#xe890;</button>

        <div class="import">
          <a class="btn" href="@controllers.my.upload.routes.UploadController.showStep1(user.getUsername.toLowerCase)">New Document</a>
        </div>

      </div> <!-- .tools -->

    </div> <!-- .toolbar -->

    <ul class="document-list">
      @for(document <- documents) {
        <li>
          <a href="@controllers.document.annotation.routes.AnnotationController.showAnnotationViewForDocPart(document.getId, 1)">@document.getTitle</a>
          <button onclick="deleteDocument('@document.getId');">Delete</button>
        </li>
      }
    </ul>

    @helper.javascriptRouter("jsRoutes")(
      controllers.document.routes.javascript.DocumentController.deleteDocument
    )

    <script>
      function deleteDocument(id) {
        console.log('Deleting document ' + id);
        jsRoutes.controllers.document.DocumentController.deleteDocument(id).ajax({
          success: function(result) {
            window.location.reload(true);
          },

          error: function(error) {
            console.log(error);
          }
        });
      }
    </script>
  </body>
</html>
