@(
  user: models.generated.tables.records.UserRecord,
  usedDiskspace: Long,
  documents: models.Page[(models.generated.tables.records.DocumentRecord, Option[models.contribution.Contribution], Long)],
  sharedWithMeCount: Int,
  sortBy: Option[String],
  sortOrder: Option[models.SortOrder]
 )(implicit request: RequestHeader, webjars: WebJarAssets)

@_layout(user, usedDiskspace, documents.total, sharedWithMeCount, "my") {
  <table class="document-list">
    <thead>
      <tr>
        <td></td> <!-- content type icon -->
        @views.html.tableHeader(Seq(
          "author" -> "Author",
          "title" -> "Title",
          "date_freeform" -> "Date",
          "edit_at" -> "Last Edit At",
          "edit_by" -> "Last Edit By",
          "annotations" -> "Annotations"
        ), sortBy, sortOrder)
      </tr>
    </thead>
    <tbody>
      @for(row <- documents.items) {
        <tr class="document" data-id="@row._1.getId">
          <td></td> <!-- content type icon -->
          <td>@row._1.getAuthor</td>
          <td>@row._1.getTitle</td>
          <td>@row._1.getDateFreeform</td>
          <td><time class="timeago" datetime="@row._2.map(_.madeAt)"></time></td>
          <td>@row._2.map(_.madeBy)</td>
          <td class="centered">@row._3</td>
        </tr>
      }
    </tbody>
  </table>

  @views.html.pagination(controllers.my.routes.MyRecogitoController.index(user.getUsername.toLowerCase, None, None, None, None).url, documents)

  @helper.javascriptRouter("jsRoutes")(
    controllers.document.annotation.routes.javascript.AnnotationController.showAnnotationView,
    controllers.document.settings.routes.javascript.SettingsController.deleteDocument
  )
}
