@(
  owner: models.user.User,
  documents: models.Page[models.generated.tables.records.DocumentRecord],
  currentUser: Option[models.user.User]
)(implicit request: RequestHeader, webJarsUtil: org.webjars.play.WebJarsUtil)
<!DOCTYPE html>
<html>
  <head>
    <title>@owner.username | Recogito</title>
    <meta name="viewport" content="initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,width=device-width,height=device-height,target-densitydpi=device-dpi,user-scalable=yes" />
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/my/index.css")"/>
    @Html(webJarsUtil.script("1.12.0/jquery.min.js"))
    <script>
      jQuery(document).ready(function() {
        $(".document-list tr").click(function() {
          var id = jQuery(this).data('id'),
              url = jsRoutes.controllers.document.annotation.AnnotationController
                      .showAnnotationView(id, 1).absoluteURL();
          window.location = url;
        });
      });
    </script>
  </head>
  <body>
    <div class="page-header">

      <div class="user-section">
        <div class="user-info">
          <h1>@owner.username</h1>

          <p class="member-since">
            <span class="icon">&#xf017;</span>
            Joined on @owner.memberSince.format("d MMM YYYY")
          </p>
        </div>
      </div> <!-- .user-section -->

      <div class="activity">

      </div> <!-- .activity -->

      @views.html.loginInfo(currentUser)

    </div> <!-- .header -->

    <div class="document-panel">
      @if(documents.total == 0) {
        <div class="no-docs-yet">
          <span>@owner.username has not shared any documents yet</span>
        </div>
      } else {
        <table class="document-list public">
          <thead>
            <tr>
              <td></td> <!-- content type icon -->
              <td>Author</td>
              <td>Name</td>
              <td>Date</td>
              <td>Last Edit</td>
              <td>File Size</td>
              <td>Annotations</td>
            </tr>
          </thead>
          <tbody>
            @for(document <- documents.items) {
              <tr class="document" data-id="@document.getId">
                <td></td> <!-- content type icon -->
                <td>@document.getAuthor</td>
                <td>@document.getTitle</td>
                <td>@document.getDateFreeform</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
              </tr>
            }
          </tbody>
        </table>
      }
    </div>
    @helper.javascriptRouter("jsRoutes")(
      controllers.document.annotation.routes.javascript.AnnotationController.showAnnotationView
    )
  </body>
</html>
