@(
  user: services.user.User,
  usedDiskspace: Long,
  rows: services.Page[(services.generated.tables.records.DocumentRecord, Option[services.contribution.Contribution], Long)],
  sharedWithMeCount: Int,
  sortBy: String,
  sortOrder: services.SortOrder,
  pageSize: Option[Int]
 )(implicit request: RequestHeader, messages: Messages, webJarsUtil: org.webjars.play.WebJarsUtil)

@_layout(user, usedDiskspace, rows.total, sharedWithMeCount, "my", pageSize) {
  <table class="document-list">
    <colgroup>
      <col style="width:14%">
      <col style="width:19%">
      <col style="width:9%">
      <col style="width:8%">
      <col style="width:9%">
      <col style="width:13%">
      <col style="width:10%">
      <col style="width:10%">
      <col style="width:8%">
    </colgroup>
    <thead>
      <tr>
        @views.html.tableHeader(Seq(
          "author" -> messages("common.document.author"),
          "title" -> messages("common.document.title"),
          "language" -> messages("common.document.language"),
          "date_freeform" -> messages("common.document.date"),
          "uploaded_at" -> messages("my.table.header.uploaded"),
          "last_modified_at" -> messages("my.table.header.last_edit"),
          "last_modified_by" -> messages("my.table.header.by"),
          "annotations" -> messages("common.annotations"),
          "is_public" -> messages("my.table.header.public")
        ), Some(sortBy), Some(sortOrder))
      </tr>
    </thead>
    <tbody>
      @defining((new java.text.SimpleDateFormat("d MMM yyyy"), java.text.NumberFormat.getIntegerInstance())) { case (dateFormat, decimalFormat) =>
        @for((doc, lastEdit, annotationCount) <- rows.items) {
          <tr class="document" data-id="@doc.getId">
            <td>@doc.getAuthor</td>
            <td>@doc.getTitle</td>
            <td class="centered">@doc.getLanguage</td>
            <td>@doc.getDateFreeform</td>
            <td>@dateFormat.format(doc.getUploadedAt)</td>
            <td>
              @lastEdit match {
                case Some(edit) if (edit.madeAt.plusMinutes(11) isAfter org.joda.time.DateTime.now) => {
                  <span title="Document may still be in use by @edit.madeBy" class="in-use"><time class="timeago" datetime="@lastEdit.map(_.madeAt)"></time> <span class="icon">&#xf071;</span></span> }
                case _ => { <time class="timeago" datetime="@lastEdit.map(_.madeAt)"></time> }
              }
            </td>
            <td>@lastEdit.map(_.madeBy)</td>
            <td class="centered">@decimalFormat.format(annotationCount)</td>
            <td class="centered">@if(doc.getPublicVisibility == "PUBLIC" || doc.getPublicVisibility == "WITH_LINK"){<span class="icon">&#xf00c;</span>}</td>
          </tr>
        }
      }
    </tbody>
  </table>

  @views.html.pagination(controllers.my.routes.MyRecogitoController.index(user.username.toLowerCase, None, None, None, None, None).url, rows)

  @helper.javascriptRouter("jsRoutes")(
    controllers.document.annotation.routes.javascript.AnnotationController.showAnnotationView,
    controllers.my.ng.directory.routes.javascript.DirectoryController.deleteDocument
  )
}
