@(
  user: models.generated.tables.records.UserRecord,
  usedDiskspace: Long,
  quotaMB: Int,
  myDocCount: Int,
  sharedDocuments: models.Page[(models.generated.tables.records.DocumentRecord, models.generated.tables.records.SharingPolicyRecord)],
  sortBy: Option[String],
  sortOrder: Option[models.SortOrder]
 )(implicit request: RequestHeader, webjars: WebJarAssets)

@accessLevel(lvl: String) = {
  @if(lvl == "READ") {
    <span title="Read-only Access" class="icon">&#xf06e;</span>
  } else { @if(lvl == "WRITE") {
    <span title="Write Access" class="icon">&#xf044;</span>
  } else { @if(lvl == "ADMIN") {
    <span title="Admin Privileges" class="icon">&#xf0ad;</span>
  }}}
}

@_layout(user, usedDiskspace, quotaMB, myDocCount, sharedDocuments.total, "shared") {
  <table class="document-list">
    <thead>
      <tr>
        <td></td> <!-- content type icon -->
        @views.html.tableHeader(Seq(
          "author" -> "Author",
          "title" -> "Title",
          "date_freeform" -> "Date",
          "owner" -> "Owner",
          "shared_by" -> "Shared By",
          "access_level" -> "Permission Level",
          "edit-at" -> "Last Edit",
          "filesize" -> "File Size",
          "annotations" -> "Annotations"
        ), sortBy, sortOrder)
      </tr>
    </thead>
    <tbody>
      @for((document, sharingPolicy) <- sharedDocuments.items) {
        <tr class="document" data-id="@document.getId">
          <td></td> <!-- content type icon -->
          <td>@document.getAuthor</td>
          <td>@document.getTitle</td>
          <td>@document.getDateFreeform</td>
          <td>@document.getOwner</td>
          <td>@sharingPolicy.getSharedBy</td>
          <td class="centered">@accessLevel(sharingPolicy.getAccessLevel)</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
        </tr>
      }
    </tbody>
  </table>

  @views.html.pagination(controllers.my.routes.MyRecogitoController.index(user.getUsername.toLowerCase, Some("shared"), None, None, None).url, sharedDocuments)

  @helper.javascriptRouter("jsRoutes")(
    controllers.document.annotation.routes.javascript.AnnotationController.showAnnotationView
  )
}
