@(
  user: services.user.User,
  usedDiskspace: Long,
  myDocCount: Int,
  rows: services.Page[(services.generated.tables.records.DocumentRecord, services.generated.tables.records.SharingPolicyRecord, Option[services.contribution.Contribution], Long)],
  sortBy: String,
  sortOrder: services.SortOrder,
  pageSize: Option[Int]
 )(implicit request: RequestHeader, messages: Messages, webJarsUtil: org.webjars.play.WebJarsUtil)

@accessLevel(lvl: String) = {
  @if(lvl == "READ") {
    <span title="Read-only Access" class="icon">&#xf06e;</span>
  } else { @if(lvl == "WRITE") {
    <span title="Write Access" class="icon">&#xf044;</span>
  } else { @if(lvl == "ADMIN") {
    <span title="Admin Privileges" class="icon">&#xf0ad;</span>
  }}}
}

@_layout(user, usedDiskspace, myDocCount, rows.total, "shared", pageSize) {
  <table class="document-list">
    <colgroup>
      <col style="width:11%">  <!-- author -->
      <col style="width:18%">  <!-- title -->
      <col style="width:8%">   <!-- language -->
      <col style="width:8%">   <!-- date -->
      <col style="width:7%">   <!-- owner -->
      <col style="width:8.5%"> <!-- shared by -->
      <col style="width:6.5%">  <!-- access -->
      <col style="width:9%">   <!-- last edit at -->
      <col style="width:7%">   <!-- last edit by -->
      <col style="width:10%">  <!-- annotations -->
      <col style="width:7%">   <!-- public -->
    </colgroup>
    <thead>
      <tr>
        @views.html.tableHeader(Seq(
          "author" -> messages("common.document.author"),
          "title" -> messages("common.document.title"),
          "language" -> messages("common.document.language"),
          "date_freeform" -> messages("common.document.date"),
          "owner" -> messages("my.table.header.owner"),
          "shared_by" -> messages("my.table.header.shared_by"),
          "access_level" -> messages("my.table.header.access_level"),
          "last_modified_at" -> messages("my.table.header.last_edit"),
          "last_modified_by" -> messages("my.table.header.by"),
          "annotations" -> messages("common.annotations"),
          "is_public" -> messages("my.table.header.public")
        ), Some(sortBy), Some(sortOrder))
      </tr>
    </thead>
    <tbody>
      @defining(java.text.NumberFormat.getIntegerInstance()) { decimalFormat =>
        @for((doc, sharingPolicy, lastEdit, annotationCount) <- rows.items) {
          <tr class="document" data-id="@doc.getId">
            <td>@doc.getAuthor</td>
            <td>@doc.getTitle</td>
            <td class="centered">@doc.getLanguage</td>
            <td>@doc.getDateFreeform</td>
            <td>@doc.getOwner</td>
            <td>@sharingPolicy.getSharedBy</td>
            <td class="centered">@accessLevel(sharingPolicy.getAccessLevel)</td>
            <td>
              @lastEdit match {
                case Some(edit) if (edit.madeAt.plusMinutes(11) isAfter org.joda.time.DateTime.now) => {
                  <span title="Document may still be in use by @edit.madeBy" class="in-use"><time class="timeago" datetime="@lastEdit.map(_.madeAt)"></time> <span class="icon">&#xf071;</span></span> }
                case _ => { <time class="timeago" datetime="@lastEdit.map(_.madeAt)"></time> }
              }
            </td>
            <td>@lastEdit.map(_.madeBy)</td>
            <td class="centered">@decimalFormat.format(annotationCount)</td>
            <td class="centered">@if(doc.getPublicVisibility == "PUBLIC" || doc.getPublicVisibility == "WITH_LINK"){<span class="icon">&#xf00c;</span>}</td>
          </tr>
        }
      }
    </tbody>
  </table>

  @views.html.pagination(controllers.my.routes.MyRecogitoController.index(user.username.toLowerCase, None, None, None, None, None).url, rows)

  @helper.javascriptRouter("jsRoutes")(
    controllers.document.annotation.routes.javascript.AnnotationController.showAnnotationView,
    controllers.document.settings.routes.javascript.SettingsController.deleteDocument
  )
}
