@()(implicit env: play.api.Environment)
<html>
  <head>
    <title>Recogito</title>
    <meta name="viewport" content="initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,width=device-width,height=device-height,target-densitydpi=device-dpi,user-scalable=0" />
  </head>
  <body>
    <div id="app"></div>
    @if(env.mode == play.api.Mode.Dev) {
      <script type="text/javascript" src="http://localhost:7171/workspace.js"></script>
    } else {
      <script type="text/javascript" src="/assets/javascripts/workspace.js"></script>
    }
  </body>
</html>
